Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-356: * import required types
  mobile/src/common/types/interviews/interview-update-request-arguments-dto.type.ts
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * add services
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * configure store
  mobile/src/store/interview/actions.ts
  mobile/src/store/interview/common.ts
  mobile/src/store/interview/reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-349: * made pagination a part of table component
  frontend/src/components/common/table/table.tsx
  frontend/src/components/interview/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interviews/components/interviews-table/interviews-table.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/components/users-table/users-table.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-360: + create mentor action
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/mentor/mentor.ts
  mobile/src/common/types/types.ts
  mobile/src/services/mentors-api/mentors-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: + front-end actions and reducer
  frontend/src/common/types/task-note/task-note-manipulate-request-dto.type.ts
  frontend/src/common/types/task-note/task-note.ts
  frontend/src/common/types/types.ts
  frontend/src/services/services.ts
  frontend/src/services/tasks-api/tasks-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course-module/reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-351: * changed hook functionality
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/course.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-249: fixed naming and getAllLastMessages functionality placement
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/models/chat-message/chat-message.model.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/validation-schemas/chat-message/chat-message.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/chat-message/chat-message-create-request-body-dto.type.ts
  shared/src/common/types/chat-message/chat-message-create-request-params-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message-get-all.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-249: * chats api connected
  backend/src/api/api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: * fixed creation of chat message service
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-351: * changed check in previous hook
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: * removed redundant entity and cast
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-353: * fixed api/api
  backend/src/api/api.ts
  backend/src/api/chats/chats.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: * fixed contructor params issue
  backend/src/data/repositories/repositories.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-360: + automatically becomes a mentor
  mobile/src/common/enums/notification/notification-messages/notification-message.enum.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/add-course/common/constants/constants.ts
  mobile/src/components/courses/components/add-course/common/constants/create-course.constant.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: + not displayed become mentor if course has no category
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB354: + add mentor card
  frontend/src/common/types/mentor/mentor.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/components/my-mentor-card/components/components.ts
  frontend/src/components/course/components/my-mentor-card/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/my-mentor-card/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/users-api/users-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB354: * fix flex-end
  frontend/src/components/course/components/my-mentor-card/components/mentor-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-346: + notes component
  backend/src/services/task-note/task-note.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/task/task.ts
  frontend/src/components/course-module/components/components.tsx
  frontend/src/components/course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/course-module/components/task-notes/components/components.tsx
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/components/task-notes/task-notes.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
  frontend/src/services/tasks-api/tasks-api.service.ts
  shared/src/common/types/task-note/task-note-get-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-254: * fixed issues
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * hook variableas
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-349: * made pagination optional
  frontend/src/components/common/table/table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-254: - removed stop propagation
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-348: * following improvements
  backend/src/data/models/user-details/user-details.model.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-348: * fixes for mobile
  mobile/src/components/setting/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-347: * updated methods names, - defaultCategory property
  frontend/src/components/common/select/select.tsx
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: * chats backend fetching is done
  backend/src/common/types/common/common.ts
  backend/src/common/types/common/id-container/id-conteinter.type.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-371: * removed '/' from final path
  backend/src/common/constants/api.constants.ts
  frontend/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-373: + added coursera logo
  frontend/public/coursera.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-350: * updated logic for selecting input or textArea, - removed fix from package.json file
  frontend/package.json
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB354: * move get mentor to mentor api
  backend/src/api/api.ts
  backend/src/api/mentors/mentors.api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/validation-schemas/mentor/mentor.ts
  backend/src/validation-schemas/user/user.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/mentors-api-path.enum.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/mentees-to-mentors/get-mentor-request-params-dto.type.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-mentor-request-params-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/mentor/get-mentor.validation-schema.ts
  shared/src/validation-schemas/mentor/mentor.ts
  shared/src/validation-schemas/user/user-get-mentor.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-224: * fixed spacing
  backend/tests/src/tests/specs/users/users-delete/users-delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-356: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * import interview update validation schema
  mobile/src/validation-schemas/interview/interview.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * add style prop to button to configure its size
  mobile/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-359: + add select a mentor
  mobile/src/assets/images/avatar-default.png
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/choose-mentor/components/components.ts
  mobile/src/components/course/components/choose-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/choose-mentor/components/mentor-card/styles.ts
  mobile/src/components/course/components/choose-mentor/styles.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course/common/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/styles.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * configure dropdown for more flexible behaviour
  mobile/src/components/common/dropdown/dropdown.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-359: * remove spaces
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * adapt dropdown due changes
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * add pressable functionallity to id cell in intervviews table
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews-table/components/id-cell/id-cell.tsx
  mobile/src/components/interviews/interviews-table/components/id-cell/styles.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js
