Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-376: * fixed cursor pointer
  frontend/src/components/common/pagination/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-408: + my students output
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-students/components/components.ts
  mobile/src/components/course/components/course-students/components/student-card/studen-card.tsx
  mobile/src/components/course/components/course-students/components/student-card/styles.ts
  mobile/src/components/course/components/course-students/my-stydents.tsx
  mobile/src/components/course/components/course-students/styles.ts
  mobile/src/navigation/course/common/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/filter-screen.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

rename file student-card.tsx
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

forgot save changes
  mobile/src/components/course/components/course-students/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB383: + resize columns functionality
  frontend/src/common/types/react-table/react-table-config.d.ts
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-408: * delete unnecessary view block
  mobile/src/components/course/components/course-students/my-stydents.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB384: * fixed namings, placing, routes
  backend/src/api/categories/categories.api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/edit-category-modal/common.ts
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/common/edit-category-modal/helpers/helpers.ts
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/courses-management/components/courses-management-table/courses-management-table.tsx
  frontend/src/services/categories-api/categories-api.service.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/courses-management-api/courses-management-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/courses-management/actions.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-408: * rename my-stydents.tsx to course-students.tsx
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/course/components/course-students/components/student-card/styles.ts
  mobile/src/components/course/components/course-students/course-students.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB353: + chat search placeholder changed
  frontend/src/components/chats/components/search-user/search-user.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-410: * Task does not exist is an info notification now
  backend/src/services/task/task.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/services/tasks-api/tasks-api.service.ts
  frontend/src/store/course-module/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-404: * style changes due PR comments
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/my-mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-408: * delete unnecassary things
  mobile/src/components/course/components/course-students/components/student-card/styles.ts
  mobile/src/components/course/components/course-students/styles.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-262: * added styles to show selected category at first position
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-404: * delete mock data
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/my-mentor-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * set button size to default
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/my-mentor-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * PR comments
  mobile/src/services/mentors-api/mentors-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-408: * refactor, delete helper filterScreen
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/filter-screen.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-410: * extras instead of explicit import of notification service
  frontend/src/store/course-module/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-348: * improvements
  frontend/src/components/common/datepicker/common/constants.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/helpers/date/subtract-years/subtract-years.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB383: * eslint ignore for react-table
  frontend/.eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB384: + store courses-management fixed
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  frontend/package.json
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/courses-management/components/courses-management-table/courses-management-table.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/courses-management/actions.ts
  frontend/src/store/courses-management/common.ts
  frontend/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB384: - removed --fix
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

development: * app schema
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-262: * added croll to the begginig of the list when choosing category
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-352: * moved scrollbar to main content
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/icons/chat-unread.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/interviews/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB354: + change mentor functionality
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-398: + module screen with navigate
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-module-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/course-module-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course-module/components/about/about.tsx
  mobile/src/components/course-module/components/about/styles.ts
  mobile/src/components/course-module/components/components.ts
  mobile/src/components/course-module/components/task/styles.ts
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course-module/course-module.tsx
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-396: * fixed issues
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-398: + getById to course-modules-api.service
  mobile/src/common/types/course-modules/course-modules.ts
  mobile/src/common/types/types.ts
  mobile/src/services/course-modules-api/course-modules-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-398: + getModuleById action
  mobile/src/components/course-module/components/about/about.tsx
  mobile/src/components/course-module/components/about/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-398: + about screen
  mobile/src/components/course-module/components/about/about.tsx
  mobile/src/components/course-module/components/about/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-408: * refactor, rename hepler getAllowedScreens to getPermittedScreens
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-permitted-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-431: * add margin before scrollbar
  mobile/src/components/common/table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-350: * added preserving of line breaks in notes, moved date to the bottom
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-398: * minor refactoring
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/store/course-modules/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * clean course-module
  frontend/src/components/course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/student-course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/student-course-module/student-course-module.tsx
  frontend/src/store/student-course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: + aws block to readme
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-352: + added margin to courses management
  frontend/src/components/courses-management/courses-management.tsx
  frontend/src/components/courses-management/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-398: * minor refactoring
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/course-modules.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js
