Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

development: + prettier config
  .prettierrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

development: * import type
  backend/src/common/types/db/db.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/common/types/validation/validation.ts
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/http/http.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/common/types/validation/validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

development: + ci action
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

development: * global styles
  frontend/src/assets/css/reset.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

development: + root readme
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

development: - frontend readme
  frontend/README.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * shared module
  backend/package-lock.json
  frontend/package-lock.json
  mobile/.watchmanconfig
  mobile/android/.editorconfig
  mobile/android/app/src/main/java/com/guruhub/MainApplication.java
  mobile/index.js
  mobile/ios/.editorconfig
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/app/app.tsx
  mobile/src/index.tsx
  mobile/tsconfig.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: + .ecrc
  .ecrc
  mobile/android/.editorconfig
  mobile/ios/.editorconfig
  mobile/metro.config.js
Due: npm run lint:editorconfig && npm run lint:fs

development: * db schema
  backend/src/data/migrations/20220716081411_add_users_table.ts
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB: * eslint config
  mobile/.eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

development: * handler sign-up
  frontend/src/components/auth/auth.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * prettier config
  .eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: + applicantion deployment
  .github/workflows/cd.yml
  backend/package-lock.json
  backend/package.json
  backend/src/public/.gitkeep
  backend/src/server.ts
  package.json
  prepare-deploy.sh
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-4: + deployment concurrency
  .github/workflows/cd.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: * mv build process out of actions
  .github/workflows/cd.yml
  package.json
  prepare-deploy.sh
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: * fix build script naming
  package.json
  prepare-build.sh
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: * node builtin pkg import
  backend/src/server.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * readme
  package.json
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: + package-lock to shared build
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: * on build create FE dir
  prepare-build.sh
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-4: * speedup FE build
  frontend/.env.example
Due: npm run lint:editorconfig && npm run lint:fs

development: + prettier
  .lintstagedrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: + codemagic config for build and publish
  codemagic.yaml
  mobile/.gitignore
  mobile/android/app/build.gradle
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * fix install dependencies script naming
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * working directory into codemagic
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: - redundant echo from codemagic config
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * fix codemagic config branch naming
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

+ prettier dependency
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-5: + initial DB schema
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * react native android script
  mobile/android/app/build.gradle
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * release config for correct signing build
  mobile/android/app/build.gradle
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-5: * readme, db schema relations
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: + table component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/react-table/react-table-props.ts
  frontend/src/common/types/react-table/table-units/react-table-column.ts
  frontend/src/common/types/react-table/table-units/react-table-row.ts
  frontend/src/components/common/react-table/react-table-render-entities-names.ts
  frontend/src/components/react-table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-22: + colors enums
  mobile/src/common/enums/colors/background-color.enum.ts
  mobile/src/common/enums/colors/brand-color.enum.ts
  mobile/src/common/enums/colors/colors.ts
  mobile/src/common/enums/colors/hover-color.enum.ts
  mobile/src/common/enums/colors/support-color.enum.ts
  mobile/src/common/enums/colors/text-color.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-22: * eslintrc react-native import
  mobile/.eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-18-vendors-seeding: + vendors table migration and seeding
  backend/knexfile.ts
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/migrations/20220806100305_add_vendors_table.ts
  backend/src/data/models/models.ts
  backend/src/data/models/vendor/vendor.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/data/seed-data/vendors-seed.ts
  backend/src/data/seeds/fill_db.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-18-vendors-seeding: * change filename
  backend/src/data/seeds/fillDb.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-18-vendors-seeding: * change filename
  backend/src/data/seeds/fill-db.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
