Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-614: * added className usage
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/category/helpers/get-random-color/get-random-color.helper.ts
  frontend/src/components/common/category/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-615: * fixed icons source name register
  frontend/src/components/common/courses-list/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-619: + interview status constraint
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-578: * naming fix
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-610: * page not changed on delete fail
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-600: * fix keyboard closing after submit
  mobile/src/components/chat-conversation/components/message-form/components/components.ts
  mobile/src/components/chat-conversation/components/message-form/components/send-button/send-button.tsx
  mobile/src/components/chat-conversation/components/message-form/components/send-button/styles.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-600: * add touchable to common
  mobile/src/components/chat-conversation/components/message-form/components/send-button/send-button.tsx
  mobile/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-600: * PR comments
  mobile/src/components/chat-conversation/components/message-form/components/send-button/send-button.tsx
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-619: * update interview status to enum migration
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
  shared/src/common/enums/interview/interview-status.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB619: * update migration logic
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB619: - redundant check
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB619: - redundant enum values
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-619: * update statuses listing
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-619: - redundant quotes
  backend/src/data/migrations/20220918074339_change_interview_status_to_enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: - redundant code
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
  mobile/src/components/chat/chat.tsx
  mobile/src/components/common/search/common/constants/constants.ts
  mobile/src/components/common/search/common/types.ts
  mobile/src/components/common/search/common/types/types.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/mentors/mentors.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * fix message notifications if outside of chat page
  backend/src/services/socket/socket.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/chats/chats.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-439: - broadcast
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB595: + added min-height to chat list
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-618: + backend for popular courses
  backend/src/api/courses/courses.api.ts
  backend/src/common/constants/api.constants.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-605: * drop down modal style
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-605: * unify styles
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-618: + documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses-get-popular.yaml
  backend/src/documentation/schemas/courses/courses-get-popular.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB617: + user popup restyled
  frontend/src/assets/css/variables.scss
  frontend/src/assets/icons/caret-down.svg
  frontend/src/assets/icons/caret-up.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB574: + namings changed
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-630: * fix status without color
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-630: + status field in interview application
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-618: + front-end
  backend/src/data/repositories/course/course.repository.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/carousel/carousel-responsive-prop.type.ts
  frontend/src/common/types/carousel/carousel.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/dashboard/common.ts
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/common.ts
  frontend/src/store/dashboard/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-618: * update arrow positions
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.scss
  frontend/src/components/common/courses-list/components/course/styles.module.scss
  frontend/src/components/common/courses-list/courses-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-626: * order data by id
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/permission/permission.repository.ts
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-621: * show notes header if no notes
  frontend/src/components/course-module/components/task-notes/task-notes.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-627: * fix categories bar padding
  mobile/src/components/courses/components/category-list/style.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-626: * use SortOrder enum
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/permission/permission.repository.ts
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-623: * fixed icon placement
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/password-input/password-input.tsx
  frontend/src/components/common/password-input/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-481: * interviewer can not update interviewer
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-629: * managing mobile app versions while codemagic building
  codemagic.yaml
  mobile/android/app/build.gradle
  mobile/android/app/versionCode
  mobile/android/app/versionName
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-629: * codemagic config script naming
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-620: * reduced image size
  frontend/src/assets/img/choose-mentor-image.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-629: * versions script to workflow codemagic config
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB441: + errors under input fixed
  frontend/src/components/my-courses/components/students-count-cell/students-count-cell.tsx
  frontend/src/components/my-courses/components/students-count-cell/styles.module.scss
  frontend/src/validation-schemas/course/course.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/validation-schemas/course/course-mentoring-update-count.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-587: * fixed input size
  frontend/src/components/my-courses/components/students-count-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
