Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-35: + signIn form, + signIn action and reducer, + signIn validation
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/auth/Auth.module.scss
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-in-form/common.ts
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/validation-schemas/user/user.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-sign-in-request.dto.type.ts
  shared/src/common/types/user/user-sign-in-response.dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-36: * fix name validation
  shared/src/common/enums/validation/validation.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-55: + padding line eslint rule
  .eslintrc.yml
  backend/src/data/migrations/20220806200300_add_course_categories.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  package.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-56: + eslint new line after import rule
  .eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-37: * another set of improvements
  backend/src/common/enums/validation/validation.ts
  backend/src/common/types/encryption/encryption-data.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user-by-email-dto.type.ts
  backend/src/common/types/user/user.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-sign-in-validation-rule.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-38: + PR fixes
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/token/create-token/create-token.ts
  backend/src/helpers/token/token.ts
  backend/src/helpers/token/verify-token/verify-token.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/token/token.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-55: * linter rules order
  .eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * fix navigation styles
  mobile/src/navigation/app/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-37: * fixes for filenames/folder structure
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/validation/validation-message.enum.ts
  backend/src/common/enums/validation/validation.ts
  backend/src/common/types/encryption/encryption-data.type.ts
  backend/src/common/types/encryption/encryption.ts
  backend/src/common/types/types.ts
  backend/src/services/encrypt/encrypt.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-27: * default drawer navigation
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * change font enum
  mobile/src/common/enums/ui/app-font.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: + create custom text component
  mobile/src/components/common/text/helpers.ts
  mobile/src/components/common/text/style.ts
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * fix lint mistakes
  mobile/src/components/common/text/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-37: * made error msg more user friendly
  backend/src/common/enums/validation/validation-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-44: + add avatar default png file
  frontend/src/assets/img/avatar-default.png
Due: npm run lint:editorconfig && npm run lint:fs

grhb-46: * update logo
  frontend/src/assets/img/logo.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-38: + fixed linter error
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

grhb-46: + add new Header and Image components and styling
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/image/image.tsx
  frontend/src/components/common/image/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

grhb-46: * fix PRs comments
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/image/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-48: + swagger
  backend/package-lock.json
  backend/package.json
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/auth/user-sign-up.yaml
  backend/src/documentation/schemas/auth/user-sign-up-request-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
  backend/src/server.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-48: * mock data
  backend/src/documentation/schemas/auth/user-sign-up-request-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-48: * mock data
  backend/src/documentation/schemas/auth/user-sign-up-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * fix eslint errors
  mobile/src/navigation/app/app.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-48: * copy documentation to build
  backend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: + add signup design
  frontend/src/assets/img/Saly-10.png
  frontend/src/assets/img/appLogo.svg
  frontend/src/assets/img/background.png
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/Auth.module.scss
  frontend/src/components/auth/auth.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-34: * fix imports
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-34: * fix filename
  frontend/src/components/auth/auth.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-23: * rename environment consts
  mobile/.env.example
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: - remove manifestPlaceholders from build.gradle
  mobile/android/app/build.gradle
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: * use variables without manifest placeholders
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: + add navigation config and use prop linking to NavigationContainer
  mobile/src/common/enums/app/env.enum.ts
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * refactored signup layout
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/appLogo.svg
  frontend/src/assets/img/auth.png
  frontend/src/assets/img/background.png
  frontend/src/assets/img/logo.svg
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/button/button.tsx
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-26: * delete helpers file, rebuild component style logic
  mobile/src/common/enums/ui/app-font.enum.ts
  mobile/src/components/common/text/helpers.ts
  mobile/src/components/common/text/style.ts
  mobile/src/components/common/text/styles.ts
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * fix lint mistakes
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: + add redirect to root on signup success
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-34: * edit signup validation schema
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

grhb-46: * camelCase for styles
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-38: + PR fixes
  backend/src/common/types/token/token-payload.type.ts
  backend/src/common/types/token/token.ts
  backend/src/common/types/types.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/token/token.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-35: * fix validation
  frontend/src/assets/css/variables.scss
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
