Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-266: * used email instead fullName, because property 'fullName' does not exist on type 'UsersWithDetails' at this time
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: * fixed issues
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB251: * fix interview type
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-297: * select component arrow is clickable now
  frontend/src/components/common/select/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-257: + modifiers moved to models
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-291: + pagination interviews getAll
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/interview/interviews-get-all-request-dto.type.ts
  backend/src/common/types/interview/interviews-get-by-user-id-request-dto.type.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB251: * fix null interviewer error
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB251: * fix null
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-309: * moved onModalToggle to be executed after disptch in then chain
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB251: + not assigned message
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-291: + interviews pagination to front-end
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/pagination/pagination.tsx
  frontend/src/components/interviews/components/interviews-table/interviews-table.tsx
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/interviews/actions.ts
  frontend/src/store/interviews/reducer.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-get-all-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-282: * change create group button view
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256 * edit types in the component dropdown
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/course/components/edit-course-category/common/common.tsx
  mobile/src/components/course/components/edit-course-category/common/constants/set-category.constant.ts
  mobile/src/components/course/components/edit-course-category/common/types/dropdown.type.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/helper/get-default-value.helper.ts
  mobile/src/components/course/components/edit-course-category/helper/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-291: * condition to variable
  frontend/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-266: + colors to app-color.enum
  mobile/src/common/enums/ui/app-color.enum.ts
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-257: * removed --fix
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-266: * AppScreenName Interview -> Interviews
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-330: * changed only background color for name field
  frontend/src/components/uam-configure-group/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB337: + menu scrollbar
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-256 * refactor
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * fixed notes order on UI
  backend/src/services/interview/interview.service.ts
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-273: * fixed modal not being closed after adding course
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-256 * delete comments in the edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256 * change source for dataStatus in the edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-339: * moved padding to select component
  frontend/src/components/common/select/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-259: * simplified interveiw notes sorting by selection from db
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB337: + scrollbar style to scaffolding
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-338: + added categories scrollbar
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB337: + scrollbar hover
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-342: + added placeholders for sign-in/up
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-266: - getInterviewsRows helper
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
  mobile/src/components/interviews/helpers/helpers.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB337: + scrollbar styling
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-259: * fixed note create author data fetch from db
  backend/src/data/repositories/interview-note/interview-note.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB337: * fix side menu jumping width
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-226: + service
  backend/tests/src/lib/services/permissions/permissions.service.ts
  backend/tests/src/lib/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-226: + json schema
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/permissions/all/all-permissions.schema.ts
  backend/tests/src/tests/json-schemas/permissions/all/all.ts
  backend/tests/src/tests/json-schemas/permissions/one/one.ts
  backend/tests/src/tests/json-schemas/permissions/permissions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-266: * change padding in the cells
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * replaced useFormControl with useWatch
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-form-watch/use-form-watch.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * sort categories alphabetically
  mobile/src/components/courses/components/category-list/category-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
