Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-233: * UAM page adapted for fixed header and authorized menu
  frontend/src/components/uam/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-211: + dompurify, + description component
  backend/src/api/api.ts
  backend/src/api/course-modules/course-modules.api.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/course-module/components/components.tsx
  frontend/src/components/course-module/components/description/description.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/helpers/dom/dom.ts
  frontend/src/helpers/dom/sanitize-html/sanitize-html.ts
  frontend/src/helpers/helpers.ts
  frontend/src/services/course-modules-api/course-modules-api.service.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/services.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-208: * PR comments
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB177: * rename event
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-211: use named import
  frontend/src/helpers/dom/sanitize-html/sanitize-html.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-238: * Add padding to table cards
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: * use enum for api route
  frontend/src/services/course-modules-api/course-modules-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB218 * refactor
  mobile/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: + component for html rendering
  frontend/src/components/common/common.tsx
  frontend/src/components/common/render-html/render-html.tsx
  frontend/src/components/course-module/components/components.tsx
  frontend/src/components/course-module/components/description/description.tsx
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB218 * refactor: avoided nested if conditions
  mobile/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-229: * updated delete group action with permissions update after delete
  frontend/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-238: + create separate style file
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-244: * merge development branch and update shared
  backend/tests/package-lock.json
  mobile/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB231 + add useFocusEffect with reset from useAppForm
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-232: * fix button
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-232: * fix groups table pagination
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-208: * change users table re-render after delete
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-235: + prevent xss
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB231 * clear inputs after lose focus
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: * update component name and api-path enum
  backend/src/api/api.ts
  backend/tests/package-lock.json
  frontend/src/components/common/content/content.tsx
  frontend/src/components/course-module/course-module.tsx
  mobile/package-lock.json
  shared/src/common/enums/api/api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-211: * save unsaved file
  frontend/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-229: * got rid off nesting ifs
  frontend/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-208: * change store structure
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: * helper file name, markup
  frontend/src/components/course-module/course-module.tsx
  frontend/src/helpers/dom/dom.ts
  frontend/src/helpers/dom/sanitize-html/sanitize-html.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: * changed component
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-244: * make edit handler async
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-150: * types names
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-all.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-by-id.yaml
  backend/src/documentation/schemas/interviews/interviews-get-all-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-get-by-id-response-dto.yaml
  backend/src/services/interview/interview.service.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-items-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-235: * fixed button tag
  frontend/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-124: * updated user_details migration
  backend/src/data/migrations/20220822100917_add_fullname_to_user_details.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-233: * replaced fixed header and authorized menu positioning with sticky. Also replaced height:100vh with flex-grow: 1 in root component
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/course/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-240: * groups section count value changes dynamically now
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-208: * PR comments
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-247: + added auth check for side menu
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-244: * add conditional rendering, depends on route name
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-247: * moved auth check to AuthorizedWrapper
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-244: * PR comments
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-247: simplified check
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-253: * fixed early return statement
  frontend/src/components/common/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-240: - duplicate results section
  frontend/src/components/uam-configure-group/components/users-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-125: + aws storage service
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/storage/storage-manipulate-file-request-dto.type.ts
  backend/src/common/types/storage/storage-upload-file-request-dto.type.ts
  backend/src/common/types/storage/storage.ts
  backend/src/common/types/types.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/storage-error/storage-error.exception.ts
  backend/src/services/aws/storage/storage.service.ts
  backend/src/services/services.ts
  backend/tests/package-lock.json
  mobile/package-lock.json
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
