Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-540: * fix error with evaluating course props
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-555: * add check on count of tabs in the course-module.navigation.tsx
  mobile/src/common/types/navigation/course-module-tab-item.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-540: * PR comments
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB525: + replaced .findIndex with .map
  frontend/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-540: * make become mentor btn disappear after create interview
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB559: + display avatars
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  frontend/src/components/chats/components/current-chat/components/chat-opponent/chat-opponent.tsx
  frontend/src/components/chats/components/current-chat/components/chat-opponent/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/components/common/image/styles.module.scss
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-435: * fix Courses Management title is truncated at the header
  mobile/src/components/courses-management/components/components.ts
  mobile/src/components/courses-management/components/course-management-title/courses-management-title.tsx
  mobile/src/components/courses-management/components/course-management-title/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-556: * read messages on chat open
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/validation-schemas/chat-message/chat-message.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/enums/api/chats-api-path.enum.ts
  shared/src/common/types/chat-message/chat-message-read-params.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-read-params.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-556: * update variable name
  backend/src/api/chats/chats.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-556: * small fix
  backend/src/services/chat-message/chat-message.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Update mobile/src/store/courses/actions.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * add update students cout notification
  mobile/src/common/enums/notification/notification-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * import types from shared
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * add my courses services
  mobile/src/services/courses-api/courses-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/my-courses/actions.ts
  mobile/src/store/my-courses/common.ts
  mobile/src/store/my-courses/reducer.ts
  mobile/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB383: * return 100% width table
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/courses-management/components/courses-management-table/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/styles.module.scss
  frontend/src/components/interviews/components/interviews-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/permissions-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/users-table/styles.module.scss
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/uam/components/users-table/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-562: * fixed icon display
  frontend/src/components/common/password-input/password-input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB_506: * configure navigation
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/my-courses-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/navigation/my-courses-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/my-courses/components/components.ts
  mobile/src/components/my-courses/components/courses-as-mentor/courses-as-mentor.tsx
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
  mobile/src/components/my-courses/my-courses.tsx
  mobile/src/components/my-education/my-education.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/my-courses/common/constants.ts
  mobile/src/navigation/my-courses/my-courses.navigation.tsx
  mobile/src/navigation/my-courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB383: * my courses table 100% width
  frontend/src/components/my-courses/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB_506: * configure my courses as student screen
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
  mobile/src/components/my-courses/components/courses-as-student/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * move course card component to common components folder
  mobile/src/components/course-card/common/maps/maps.ts
  mobile/src/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/course-card/components/components.ts
  mobile/src/components/course-card/components/vendor-label/style.ts
  mobile/src/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/course-card/course-card.tsx
  mobile/src/components/course-card/styles.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/styles.ts
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-532: * change NotificationType when image to big
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB559: + avatars on task notes
  backend/src/data/repositories/task-note/task-note.repository.ts
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-435: + Course title redirects to the corresponding course
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/components/components.ts
  mobile/src/components/courses-management/components/title-cell/styles.ts
  mobile/src/components/courses-management/components/title-cell/title-cell.tsx
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-567: * rounded avatar
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-561: * fixed 'my courses' page to be protected
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-555: * refactor
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/interview/interview.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-555: + add navigation.constants.ts
  mobile/src/common/constants/constants.ts
  mobile/src/common/constants/navigation.constants.ts
  mobile/src/common/types/navigation/course-module-tab-item.type.ts
  mobile/src/common/types/navigation/interview-tab-item.type.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-561: * fixed module page
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-565: * fix datepicker
  mobile/src/components/common/date-picker/date-picker.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Revert "GRHB-561: * fixed module page"
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-569: * fixed module page
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-568: * fixed favicon
  frontend/public/favicon.ico
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-555: * remove TabCourseModuleNavigationItem and InterviewTabItem types
  mobile/src/common/types/navigation/course-module-tab-item.type.ts
  mobile/src/common/types/navigation/interview-tab-item.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/interview/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB: * codemagic config instance type
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-555: * resolve type errors
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/interview/interview.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-567: * rounded task note card avatar
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB559: + avatars for students and mentors
  backend/src/common/types/course/course-all-mentors-dto.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/course/get-all-mentees-dto.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-435: * just reduce the title
  mobile/src/components/courses-management/components/components.ts
  mobile/src/components/courses-management/components/course-management-title/courses-management-title.tsx
  mobile/src/components/courses-management/components/course-management-title/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
