Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-532: rename FILE_FORMATS to AVATAR_FILE_FORMATS
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-539: * updated setting of isMentorBecomingEnabled with active interviews condition
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-553: * add renderSectionHeader instead renderSectionFooter
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-538: * fix drawer type
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/types/drawer-navigation-item.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * add status map for modules
  mobile/src/components/course/common/maps/maps.ts
  mobile/src/components/course/common/maps/status-to-color.map.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * add status for modules
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/components/module/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-544: + getting avatar on login
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-553: * add tasks clear action
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * make task message area visible for mentor
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-547: * fix 'Become a mentor' button is displayed on any page after loading on the course page
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course/course.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * change get task logic
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/components/course/course.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-544: * minor fix
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-553: * change status styles
  mobile/src/components/course/common/maps/status-to-color.map.ts
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/components/module/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * add tasks refetch after leave modules page
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB550: * resizer z-index with variable
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-552: + add scrollToDown func in the messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB549: + choose-mentor card restyled
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB549: + choose-mentor card restyled
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-249: * fixed messages placement
  frontend/src/components/chats/components/current-chat/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-540: * change update become mentor visibility
  mobile/src/components/course/course.tsx
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * socket as a part of backend server
  backend/.env.example
  backend/src/common/enums/app/env.enum.ts
  backend/src/server.ts
  frontend/.env.example
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB0-553: * remove update logic fomr navigation
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * fixed typoes and logic errors
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
  frontend/src/store/billing/actions.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/validation-schemas/billing/billing-replenish-params.validation-schema.ts
  shared/src/validation-schemas/billing/billing.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB545: + rerendering after updating category removed
  frontend/src/store/courses-management/actions.ts
  frontend/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * fixed Token type import issues
  frontend/src/common/types/stripe-checkout/stripe-checkout.ts
  frontend/src/common/types/types.ts
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB537: + made fields the same width
  frontend/package.json
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB537: + made fields the same width
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB528: + removed spinner after updating user details
  frontend/src/store/user-details/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-540: * PR comments
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * update type names
  backend/src/common/types/socket/socket-server.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-357: * fix size status cell
  mobile/src/components/common/chip/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-552: * remove animation for scrollDown
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-553: * PR comments
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * socket to chats service, - redundant handlers file
  backend/src/services/socket/socket.service.ts
  backend/src/socket/handlers/handlers.ts
  backend/src/socket/socket.ts
  frontend/src/common/types/socket/socket-client.type.ts
  frontend/src/common/types/socket/socket.ts
  frontend/src/common/types/types.ts
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/chats/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-439: * update redirect logic
  frontend/src/components/chats/chats.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-540: * reslove lint errors
  mobile/src/navigation/course/course.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-343: * moved all logic to Interview component
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-435: * No category selected must be displayed instead of Unknown
  mobile/src/components/common/category-cell/category-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-343: * replaced conditional chaining with type cast
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
