Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-70: + PR name style tip in readme
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * create env script in codemagic config
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-50: * Fix imports, create common toast component
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/notification/notification.ts
  frontend/src/components/common/common.tsx
  frontend/src/components/common/toast/toast.tsx
  frontend/src/index.tsx
  frontend/src/services/services.ts
  frontend/src/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-16: * updated single-spa to single_spa
  backend/src/data/migrations/20220806200300_add_course_categories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-42: + uam component
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/uam/styles.module.scss
  frontend/src/components/uam/uam.tsx
  frontend/src/components/uam/users-table/styles.module.scss
  frontend/src/components/uam/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-34: * fix comments
  frontend/public/index.html
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/button/button.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/input/input.module.scss
  frontend/src/components/common/input/input.tsx
  frontend/src/store/auth/reducer.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-validation-message.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/enums/validation/validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

group creation improved
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/api/controller-hook.enum.ts
  backend/src/common/enums/case/case.enum.ts
  backend/src/common/enums/case/case.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220808083601_add_groups_to_permissions_table.ts
  backend/src/data/migrations/20220808084924_add_groups_to_permissions_associations.ts
  backend/src/data/models/groups-to-permissions/groups-to-permissions.model.ts
  backend/src/data/models/groups/groups.model.ts
  backend/src/data/models/permission/permission.model.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/groups/groups.repository.ts
  backend/src/helpers/index.ts
  backend/src/mapper/groups-to-permissions/groups-to-permissions.mapper.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/groups/groups.service.ts
  backend/src/services/permission/permission.service.ts
  readme.md
  shared/src/common/types/groups-to-permissions/groups-to-permissions.ts
  shared/src/common/types/groups/groups-request-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-35: * fix styling and validation
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/input/input.module.scss
  frontend/src/components/common/link/link.module.scss
  frontend/src/components/common/link/link.tsx
  shared/src/common/enums/user/user-validation-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-42: + users api and service
  backend/src/api/api.ts
  backend/src/api/user/common/user-api-path.enum.ts
  backend/src/api/user/user.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-46: * replaced clsx with helper method getValidClasses
  frontend/src/components/common/image/image.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-69: * apply fs lint for images and fonts
  .ls-lint.yml
  mobile/src/assets/fonts/inter-400-italic.ttf
  mobile/src/assets/fonts/inter-400.ttf
  mobile/src/assets/fonts/inter-500.ttf
  mobile/src/assets/fonts/inter-600.ttf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-35: * rename css files
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/styles.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/link/link.tsx
  frontend/src/components/common/link/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-35: * fix styles
  frontend/src/components/app/app.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-39: + Add new methods to http service, api service and auth actions
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-50: * Return missing dependency
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-50: * Change to fixed version
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-63: + wrapper component that adds header
  frontend/src/components/common/wrapper/wrapper.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-63: * updated wrapper component name + added wrapper to app root
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-59: + add notification service, middlware
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-type.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/components/app/app.tsx
  mobile/src/services/notification/notification.service.ts
  mobile/src/services/services.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/common.ts
  mobile/src/store/middlewares/middlewares.ts
  mobile/src/store/middlewares/notify-logger/notify-logger.ts
  mobile/src/store/store.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * fix input styles
  frontend/src/components/common/input/input.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-64: + user menu popup
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/image/image.tsx
  frontend/src/components/common/image/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-64: + add useEffect dependencies
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-66: + rest permissions
  backend/src/data/migrations/20220808115524_add_rest_permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-39: * Add cases to auth reducer
  frontend/src/components/app/app.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/auth/reducer.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/http/http-header.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-66: * delete permissions by key
  backend/src/data/migrations/20220808115524_add_rest_permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-34: * fix conflicts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/enums/validation/validation.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-34: * fix style files
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/common/button/button.module.scss
  frontend/src/components/common/input/input.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-65: + add overflowContainer style for spinner
  mobile/src/common/enums/ui/ui.ts
  mobile/src/common/enums/ui/z-indexes.enum.ts
  mobile/src/components/common/spinner/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-65: + add spinner
  mobile/src/components/common/common.tsx
  mobile/src/components/common/spinner/spinner.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * add to error message fixed height
  frontend/src/components/common/input/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-66: + manage-interview permission
  backend/src/data/migrations/20220808115524_add_rest_permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-39: * Change VALIDATE to CURRENT_USER, fix imports
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-64: * fix import and state type
  frontend/src/components/common/header/components/components.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-63: * moved wrapping to root component + added wrapper export to common file
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-34: * move unique styles in same file, fix error message overflow, moved layout to common auth component
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/auth/components/styles.module.scss
  frontend/src/components/auth/styles.module.scss
  frontend/src/components/common/input/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-42: + added users store managment and swagger description
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/users/users.yaml
  backend/src/documentation/schemas/users/users-response-dto.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/common.tsx
  frontend/src/components/uam/common/users-columns.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/services.ts
  frontend/src/services/users/common.ts
  frontend/src/services/users/users.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/users/actions.ts
  frontend/src/store/users/common.ts
  frontend/src/store/users/reducer.ts
  frontend/src/store/users/types/user-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-63: * fixed linter error about duplicated import
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: + removed redundant type
  frontend/src/store/users/types/user-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * permission name
  backend/src/data/migrations/20220808115524_add_rest_permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
