Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-445: * fix, change into courses-api getAll
  mobile/src/services/courses-api/courses-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * fixed scrollable screen, on sign out and order of displayed messages
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/styles.module.scss
  shared/src/common/enums/sort/sort-order.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-348: * passing maxDate through props
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: + folder emoji
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-385: * small fixes
  frontend/src/components/app/app.tsx
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-401: + date picker component
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/date-picker/common/constants.ts
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/common/date-picker/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-126: * fix error message
  backend/src/plugins/file/file.plugin.ts
  backend/src/server.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-433: + add all needed enums
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: + import all needed types
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: + add chat services
  mobile/src/services/chat-api/chat-api.service.ts
  mobile/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/chat/actions.ts
  mobile/src/store/chat/common.ts
  mobile/src/store/chat/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * add base chat file structure
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/components/chats-list/chats-list.tsx
  mobile/src/components/chat/components/chats-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/chats-list/components/conversation/styles.ts
  mobile/src/components/chat/components/components.ts
  mobile/src/components/chat/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * add chat screen to navigation
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB436: * remove settings menu
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/user-details/components/components.ts
  frontend/src/components/user-details/components/settings-wrapper/common.ts
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/settings-menu-item.tsx
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/styles.module.scss
  frontend/src/components/user-details/components/settings-wrapper/settings-wrapper.tsx
  frontend/src/components/user-details/components/settings-wrapper/styles.module.scss
  frontend/src/components/user-details/user-details.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-398: * minor refactoring according comments
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-398: * rename handleModulePress to onModulePress in course-modules
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-437: + added telegram to user details
  backend/src/data/migrations/20220906084935_add_telegram_username_to_user_details.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/enums/user-details/user-details-validation-rule.enum.ts
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-437: * changed swagger
  backend/src/documentation/schemas/user-details/user-details-response-dto.yaml
  backend/src/documentation/schemas/user-details/user-details-update-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-437: * fixed mobile
  mobile/src/components/setting/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB436: * fix profile styles
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/user-details/components/user-profile/styles.module.scss
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
  frontend/src/components/user-details/styles.module.scss
  frontend/src/components/user-details/user-details.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-262: * updated behaviour to scrolling selected category to the left part of the screen
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-350: *updated className
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-259: * white spaces now are not ignored in displaying History Application Card
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-410: * task absence is a title, not a notification now
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
  frontend/src/store/course-module/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-401: * refactoring
  mobile/src/common/constants/user.constants.ts
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/date-picker/common/constants.ts
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * get tasks, instead of modules
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/api/tasks/tasks.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/models/task/task.model.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/services/course-module/course-module.service.ts
  backend/src/services/task/task.service.ts
  backend/src/validation-schemas/course-module/course-module.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/task/task.ts
  frontend/src/common/types/types.ts
  frontend/src/components/student-course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/student-course/student-course.tsx
  frontend/src/services/course-modules-api/course-modules-api.service.ts
  frontend/src/services/tasks-api/tasks-api.service.ts
  frontend/src/store/student-course/actions.ts
  frontend/src/store/student-course/reducer.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-by-course-id-and-mentee-id-request-dto.type.ts
  shared/src/common/types/task/task-with-module-response-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/task/tasks-get-by-course-id-and-mentee-id-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-module.ts
  shared/src/validation-schemas/course-module/course-modules-get-all-by-course-id-and-mentee-id-params.validation-schema.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/task/tasks-by-course-id-and-mentee-id.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-438: + module status for mentor
  frontend/src/components/student-course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/student-course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/student-course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/student-course/components/modules-cards-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-255: * remove slashes from urls
  .github/workflows/ci-integration.yml
  backend/tests/.env.example
  backend/tests/src/lib/common/enums/app/env.enum.ts
  backend/tests/src/lib/services/categories/categories.service.ts
  backend/tests/src/lib/services/permissions/permissions.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-438: * fix padding
  frontend/src/components/student-course/components/modules-cards-container/components/module-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-401: * fix props maximumDate, minimumDate
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + course_categories_price table
  backend/src/data/migrations/20220906143050_add_course_categories_prices_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: + user_details table money_balance column
  backend/src/data/migrations/20220906152301_add_money_balance_column_to_user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * user money balance not nullable and default value
  backend/src/data/migrations/20220906152301_add_money_balance_column_to_user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-433: * reorrganize file structure
  mobile/src/components/chat/components/components.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/styles.ts
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * changes to readme.md
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-442: * added readme schema for new categories prices tablwe
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-404: * add clear mentor action
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * change mentor-list render condition
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-401: * change accent color date picker
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
