Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-163: * move Drawer.Screen to common constants
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-260: * success groups operations messages in toastify
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-246: + validation schema and api for fetching course modules
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/validation-schemas/course-module/course-module.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-all-request-params-dto.type.ts
  shared/src/common/types/course-module/course-modules-get-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-module.ts
  shared/src/validation-schemas/course-module/course-modules-get-all-params.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-272: * show selected data checked in tables
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Update mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Update mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-246: + feature works with mocked modules array
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/services/course-module/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-246: + methods in service and repository to get all modules related to the course
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-module/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-124: * removed date field, migration down method fixed
  backend/src/data/migrations/20220822100917_add_fullname_to_user_details.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user/user.service.ts
  frontend/src/assets/img/avatar-default.jpg
  frontend/src/components/common/button/button.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/select.data.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-246: * modules cards are now links to module page
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-125: + files table, repo, * file service
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/file/file-content-type.enum.ts
  backend/src/common/enums/file/file.ts
  backend/src/common/types/file/file-table-insert-request-dto.type.ts
  backend/src/common/types/file/file-upload-request-dto.type.ts
  backend/src/common/types/file/file.ts
  backend/src/common/types/storage/storage-manipulate-file-request-dto.type.ts
  backend/src/common/types/storage/storage-upload-file-request-dto.type.ts
  backend/src/common/types/storage/storage.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220823085755_add_files_table.ts
  backend/src/data/models/file/file.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/file/file.reposiroty.ts
  backend/src/data/repositories/repositories.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/file-error/file-error.exception.ts
  backend/src/services/aws/file/file.service.ts
  backend/src/services/aws/storage/storage.service.ts
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-270: + seeding migration
  backend/src/data/migrations/20220823095835_seed_test_users_groups.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-125: * fix import
  backend/src/exceptions/file-error/file-error.exception.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-270: * adapt test config files for new users
  backend/tests/.env.example
  backend/tests/src/configs/development.config.ts
  backend/tests/src/configs/production.config.ts
  backend/tests/src/configs/staging.config.ts
  backend/tests/src/lib/common/enums/app/env.enum.ts
  backend/tests/src/typings/global.d.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-125: * readme
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-235: * moved sanitizing to shared folder
  backend/package-lock.json
  backend/src/helpers/helpers.ts
  backend/src/helpers/sanitize-html/sanitize-html.helper.ts
  backend/src/services/course/course.service.ts
  frontend/package-lock.json
  frontend/package.json
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/helpers.ts
  shared/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
  shared/src/helpers/sanitize/sanitize.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-261: + forbidden user to delete himself
  backend/src/api/users/users.api.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-246: + documentation for fetching all modules of the course * bug with key property on modules list
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses-modules/courses-modules-get-all-by-course-id.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-all-by-course-id-request-dto.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-all-by-course-id-response-dto.yaml
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-246: + documentation for fetching specific course module by its id and course id it belongs to
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses-modules/courses-modules-get-all-by-course-id.yaml
  backend/src/documentation/endpoints/courses-modules/courses-modules-get-by-course-id-and-module-id.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-by-course-id-and-module-id-request-dto.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-by-course-id-and-module-id-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-246: * fixed types names issues in frontend
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-270: * move the seed to seeds folder
  backend/knexfile.ts
  backend/package.json
  backend/src/data/seeds/test_users_groups.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-163: + header back button
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/navigation/app/components/back-button/back-button.tsx
  mobile/src/navigation/app/components/back-button/styles.ts
  mobile/src/navigation/app/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-235: * fixed folder name
  backend/package-lock.json
  backend/src/helpers/helpers.ts
  backend/src/helpers/sanitize/sanitize.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB251: + interviews backend
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-125: + file to db on upload
  backend/src/common/enums/enums.ts
  backend/src/common/enums/file/file-content-type.enum.ts
  backend/src/common/enums/file/file.ts
  backend/src/common/types/file/file-get-url-request-dto.type.ts
  backend/src/common/types/file/file-upload-request-dto.type.ts
  backend/src/common/types/file/file.ts
  backend/src/common/types/types.ts
  backend/src/data/models/file/file.model.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/files-error/files-error.exception.ts
  backend/src/services/aws/file/file.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/file/content-type.enum.ts
  shared/src/common/types/file/file-get-response-dto.type.ts
  shared/src/common/types/file/file.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-272: * change tables selected items via reset
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-272: * fix lint error
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-163: - cancel button
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Update mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Update mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-163: * back button color
  mobile/src/navigation/app/components/back-button/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-272: * fix imports
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-250: + clear user menu
  frontend/src/common/types/navigation-menu/subnavigation-menu-item.type.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/get-permitted-subroutes.helper.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/helpers.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-270: * fix lslint
  .ls-lint.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-203: + add course functionality
  mobile/src/assets/icons/plus.svg
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/courses/components/add-course-button/add-course-button.tsx
  mobile/src/components/courses/components/add-course-button/styles.ts
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/add-course/common/constants/constants.ts
  mobile/src/components/courses/components/add-course/common/constants/create-course.constant.ts
  mobile/src/components/courses/components/add-course/style.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/back-button/back-button.tsx
  mobile/src/navigation/app/components/back-button/styles.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * add handle addCourse action into reducer
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + mentors_to_course_categories table and association
  backend/src/data/migrations/20220823132630_add_mentors_to_course_categories_table.ts
  backend/src/data/migrations/20220823133044_add_mentors_to_course_categories_associations.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-125: - extra types
  backend/src/exceptions/files-error/files-error.exception.ts
  backend/src/services/aws/file/file.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
