Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-361: * fix lint error
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-413:* Change user avatarUrl to avatar
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-352: * changed actions logic
  frontend/src/components/common/header/header.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-402: * fixed choose a mentor display on unauthorized state
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-386: * renamed default styles file
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-352: * fixed file name
  backend/src/common/enums/chat/chat.ts
  backend/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-402: * removed redundant selector call
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-403: * added authorized user checks into course page
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-313: * improvements
  frontend/src/assets/icons/shown-password.svg
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/user/user.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/password-input/password-input.tsx
  frontend/src/components/common/password-input/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-313: - removed onclick from image
  frontend/src/components/common/image/image.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-352: + added change color on hover
  frontend/src/assets/icons/chat-unread.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-313: - removed input maxLength
  frontend/src/components/common/password-input/password-input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-313: * exports upd
  frontend/src/common/enums/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-313: * fixed ci error
  frontend/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: * fixed enum in migration
  backend/src/data/migrations/20220902141153_add_status_to_chat_messages_table.ts
  frontend/src/store/chats/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-389: * different height fixed with truncating the course heading
  frontend/src/components/dashboard/components/courses-list/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-365: * date format on tables from kk:mm, dd/MM/yyyy to HH:mm dd.MM.yyyy
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB384: - imports fixed
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB384: + title renamed
  frontend/src/components/course-categories/course-categories.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-348: * fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/datepicker/common/constants.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-400: * fixed container width
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-409: * fixed mentor card overflow
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

*folder and file names*
  backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-352: + added enum
  backend/src/data/migrations/20220902141153_add_status_to_chat_messages_table.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-414: + added cursor pointer and background
  frontend/src/components/common/category/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-404: * add get mentor service
  mobile/src/services/mentors-api/mentors-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-313: * reused Input component
  frontend/src/components/common/password-input/password-input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-404: * configure store
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * import required types
  mobile/src/common/types/mentor/mentor.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * add my mentor card and create single my mentor screen
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/choose-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/components/mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
  mobile/src/components/course/components/my-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/my-mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-404: * add my mentor screen to navigation
  mobile/src/navigation/course/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-405: * moved check
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-348: - removed date-fns from frontend package
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB384: - pr fixes, files renamed
  backend/src/services/course-category/course-category.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/course-categories/common/enums/course-categories-table-accessor.enum.ts
  frontend/src/components/course-categories/common/enums/enums.ts
  frontend/src/components/course-categories/common/types/course-categories-table-actions-props.type.ts
  frontend/src/components/course-categories/common/types/types.ts
  frontend/src/components/course-categories/course-categories.tsx
  frontend/src/components/course-categories/helpers/get-course-categories-columns/get-course-categories-columns.helper.ts
  frontend/src/components/course-categories/helpers/get-course-categories-rows/get-course-categories-rows.helper.ts
  frontend/src/components/course-categories/helpers/helpers.ts
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/courses-management/common/enums/courses-management-table-accessor.enum.ts
  frontend/src/components/courses-management/common/enums/enums.ts
  frontend/src/components/courses-management/common/types/courses-management-table-actions-props.type.ts
  frontend/src/components/courses-management/common/types/courses-management-table-row.type.ts
  frontend/src/components/courses-management/common/types/types.ts
  frontend/src/components/courses-management/components/actions-cell/actions-cell.tsx
  frontend/src/components/courses-management/components/actions-cell/styles.module.scss
  frontend/src/components/courses-management/components/category-cell/category-cell.tsx
  frontend/src/components/courses-management/components/category-cell/styles.module.scss
  frontend/src/components/courses-management/components/components.ts
  frontend/src/components/courses-management/components/courses-management-table/courses-management-table.tsx
  frontend/src/components/courses-management/components/courses-management-table/styles.module.scss
  frontend/src/components/courses-management/courses-management.tsx
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/courses-management/helpers/get-courses-management-rows/get-courses-management-rows.helper.ts
  frontend/src/components/courses-management/helpers/helpers.ts
  frontend/src/components/courses-management/styles.module.scss
  frontend/src/services/courses-management-api/courses-management-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/course-categories/common.ts
  frontend/src/store/courses-management/actions.ts
  frontend/src/store/courses-management/common.ts
  frontend/src/store/courses-management/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-416: * fixed edit category button icon positioning
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-396: + added title when there are no students
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/components/my-students-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-298: * added extra backslashes to title to fix double escape in database query
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-348: + created a helper in shared
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/subtract-years/subtract-years.helper.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
