Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-23: * Return changes in build.gradle file back
  mobile/android/app/build.gradle
Due: npm run lint:editorconfig && npm run lint:fs

grhb-46: * replaced avatar png with svg
  frontend/src/assets/img/avatar-default.png
  frontend/src/assets/img/avatar-default.svg
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-23: * Move ENV import above styles import
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

Update mobile/src/components/common/text/text.tsx
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: * Move the linking constant to src/config/linking.config.ts
  mobile/src/components/app/app.tsx
  mobile/src/config/linking.config.ts
Due: npm run lint:editorconfig && npm run lint:fs

Update mobile/src/components/common/text/styles.ts
  mobile/src/components/common/text/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * fix typos and optimize code view
  mobile/ios/guruhub/Info.plist
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-35: * navigate to root on successful signIn
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-23: * Add indentation intent-filter block
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: * Add a blank space after libraries imports
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: + Re-export linking.config from config.ts
  mobile/src/components/app/app.tsx
  mobile/src/config/config.ts
  mobile/src/config/linking.config.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * fix navigate route, imports
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-35: * fix logo z-index
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-34: * add color vars, add error flag, fix styles, use clsx for multiple classes
  frontend/src/assets/css/variables.scss
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-34: * edit validation messages
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-35: + css variables, + error flag, * styles
  frontend/src/assets/css/variables.scss
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-26: * fix import path
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: * restore components import
  mobile/src/components/app/styles.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: + add AppScreenName enums
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: - remove ParamListBase from types
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: + create sreen components
  mobile/src/components/billing/billing.tsx
  mobile/src/components/billing/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
  mobile/src/components/mentors/mentors.tsx
  mobile/src/components/mentors/styles.ts
  mobile/src/components/my-education/my-education.tsx
  mobile/src/components/my-education/styles.ts
  mobile/src/components/overview/overview.tsx
  mobile/src/components/overview/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-42: + users table component
  frontend/src/components/common/common.tsx
  frontend/src/components/users-table/styles.module.scss
  frontend/src/components/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-38 +PR fixes
  backend/src/services/auth/auth.service.ts
  backend/src/services/token/token.service.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB27: * move CustomDrawerContent in components folder
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-35: * fix components styling, * fix requested changes
  frontend/public/index.html
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/auth.module.scss
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/common/button/button.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/input/input.module.scss
  frontend/src/components/common/input/input.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-6: + app schema
  docs/assets/imgs/aws-ec-2.svg
  docs/assets/imgs/aws-load-balancer.svg
  docs/assets/imgs/aws-route-53.svg
  docs/assets/imgs/cloud-watch.svg
  docs/assets/imgs/laptop.svg
  docs/assets/imgs/mobile-phone.svg
  docs/assets/imgs/postgresql-icon.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-50: + Add error-handling middleware and notification service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/notification/notification-type.enum.ts
  frontend/src/index.tsx
  frontend/src/services/notification/notification.service.ts
  frontend/src/services/services.ts
  frontend/src/store/middlewares/error-handler.ts
  frontend/src/store/store.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-6: + app schema, readme
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-38: + PR fixes
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-6: * refactor app schema
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * rename app font file, add exports
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/app-font-family.enum.ts
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * change import
  mobile/src/components/common/text/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * rebuild TextStyle to type, rename imports, change Props type
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-16: * updated seed data
  backend/src/data/migrations/20220806200300_add_course_categories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-26: * rename font files, link fonts to app, change enum, add export to component/commom file
  mobile/android/link-assets-manifest.json
  mobile/ios/guruhub.xcodeproj/project.pbxproj
  mobile/ios/guruhub/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/src/common/enums/ui/app-font-family.enum.ts
  mobile/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-26: * change back 39 line in ios/Info.plist
  mobile/ios/guruhub/Info.plist
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-16: * updated c# name and video_3d key
  backend/src/data/migrations/20220806200300_add_course_categories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-6: * upload assets to s3
  .github/workflows/public-storage-upload.yml
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs
