Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-32: + add all necessary types, enums, exports
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/auth-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/auth-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/validation-schemas/user/user.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: + create sign-in component
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/common/constants.ts
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: + add tab navigation for auth elements
  mobile/src/navigation/auth-tab/auth-tab-screen-options.ts
  mobile/src/navigation/auth-tab/auth-tab.navigation.tsx
  mobile/src/navigation/auth-tab/auth-tab.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-81: + connect users table pagination to the front-end
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/pagination/pagination.ts
  frontend/src/common/types/pagination/pagination.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-get-all-item-response-dto.type.ts
  shared/src/common/types/user/users-get-all-response-dto.type.ts
  shared/src/common/types/user/users-get-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB94: + groups edit type
  shared/src/common/types/groups/groups-update-request-dto.ts
  shared/src/common/types/groups/groups.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-81: * fix method name
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: + groups/:id path
  shared/src/common/enums/api/groups-api-path.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-63: * overflow to overflow-y
  frontend/src/components/common/authorized-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-32: * fix import and remove useless code
  mobile/src/common/enums/navigation/auth-screen-name.enum.ts
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: * remove useless code
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-81: + http service to accept queryString
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/users/users.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-32: * fix PR comments
  mobile/src/navigation/auth-tab/auth-tab.navigation.tsx
  mobile/src/navigation/auth-tab/auth-tab.ts
  mobile/src/navigation/auth/auth-tab-screen-options.ts
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/auth/common/constants.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-79: * Remove extra migration file
  backend/src/data/migrations/20220810080145_add_users_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-100: + added first part of the fixing migration
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * images and components names
  mobile/src/assets/images/saly.png
  mobile/src/assets/logo.png
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/image/get-image-uri/get-image-uri.helper.ts
  mobile/src/helpers/image/image.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-100: * second part of migration fix
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: + http PUT method
  shared/src/common/enums/http/http-method.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: + groups update dto to types
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: + group update validation schema
  shared/src/validation-schemas/group/group-update.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: + update and getById methods to group repo
  backend/src/data/repositories/group/group.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: + group update type
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: + group update validation schema
  backend/src/validation-schemas/group/group.ts
  backend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: + groups/:id update path
  backend/src/api/groups/groups.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: + update group name
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-28: * refactor
  mobile/src/common/types/courses/course-item.type.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/courses/courses.type.ts
  mobile/src/components/courses/components/bestseller-label/bestseller-label.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/components/difficulty-label/difficulty-label-begginer.tsx
  mobile/src/components/courses/components/difficulty-label/difficulty-label-intermediate.tsx
  mobile/src/components/courses/components/difficulty-label/difficulty-label-master.tsx
  mobile/src/components/courses/components/difficulty-label/difficulty-label.tsx
  mobile/src/components/courses/components/difficulty-label/difficulty-labels.ts
  mobile/src/components/courses/components/vendor-label/vendor-label-coursera.tsx
  mobile/src/components/courses/components/vendor-label/vendor-label-udemy.tsx
  mobile/src/components/courses/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/components/vendor-label/vendor-labels.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-28: * resolve conflict
  mobile/src/common/types/courses/course-item.type.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-100: * fixed fix migration logic
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-32: * fix PR comments
  mobile/src/navigation/auth/auth-tab-screen-options.ts
  mobile/src/navigation/auth/common/constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * refactored frontend delete user functionality
  .eslintrc.yml
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/common/types/users-column.type.ts
  frontend/src/components/uam/common/types/users-row.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/styles.module.scss
  frontend/src/components/uam/components/users-table/components/components.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/reducer.ts
  mobile/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-77: * fix types
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/common/types/users-row.type.ts
  frontend/src/components/uam/common/types/users-table.type.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  frontend/src/components/uam/uam.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-82: + restore users pagination state on refresh
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/hooks/hooks.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: * fix conflicts
  frontend/package.json
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-82: + usePagination hook
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: * fix commented lines
  .eslintrc.yml
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-30: - delete logic for voice icon
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-41: * added validation on userIds and permissionIds
  backend/src/data/repositories/permission/permission.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/groups-error/groups-error.exception.ts
  backend/src/services/group/group.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-82: * fix function code style
  frontend/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-30: + npm package debounce v1.2.1
  mobile/package-lock.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * use debounce instead setTimeout
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: * add sign-in store logic
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/common.ts
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
