Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB: * disabled got error throwing
  backend/tests/src/lib/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: * edit request params
  shared/src/common/types/groups/groups-update-request-dto.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: * fixed group update
  backend/src/api/groups/groups.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-117: * PR comments
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: - delete protected route component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs

* return code for deleteGroup api, + delete group action
  backend/src/api/groups/groups.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/services/groups/groups.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  shared/src/common/types/groups/groups-delete-request-dto.types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

Added auth/sign-in tests
  backend/tests/package-lock.json
  backend/tests/src/lib/services/auth/auth.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user.ts
  backend/tests/src/tests/json-schemas/auth/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/error/error.ts
  backend/tests/src/tests/json-schemas/auth/sign-in/sign-in-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/sign-in/sign-in.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/specs/.gitkeep
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-148: + course search functionality
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/common/header/components/components.tsx
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/services/courses-api/courses-api.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-136: * markup, + vendorKey to response
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/services/vendor/vendor.service.ts
  frontend/src/assets/icons/udemy.svg
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/vendor/vendor.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/dashboard/components/courses/components/bars/bars.tsx
  frontend/src/components/dashboard/components/courses/components/bars/styles.module.scss
  frontend/src/components/dashboard/components/courses/components/components.tsx
  frontend/src/components/dashboard/components/courses/components/course/course.tsx
  frontend/src/components/dashboard/components/courses/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses/courses.tsx
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-149: + get all courses by category name
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course-category/course-category.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/course-category/course-category-get-response-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/course/courses-get-by-category-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/course/courses-get-by-category.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-51: * moved tables checkbox interaction on custom function accessors
  frontend/src/components/common/button/button.tsx
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/types/group-creation-users-table-action-props.type.ts
  frontend/src/components/uam/common/types/group-creation-users-table-row.type.ts
  frontend/src/components/uam/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/uam/common/types/permissions-table-row.type.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/components/group-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/uam/components/group-create/components/action-cells/user-action-cell.tsx
  frontend/src/components/uam/components/group-create/components/components.tsx
  frontend/src/components/uam/components/group-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam/components/group-create/components/users-table/users-table.tsx
  frontend/src/components/uam/components/group-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam/components/group-create/helpers/get-permission-rows-helper/get-permission-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam/components/group-create/helpers/get-user-rows-helper/get-user-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-148: * added search icon
  frontend/src/assets/img/search-icon.svg
  frontend/src/components/common/header/components/search-bar/components/search-icon/search-icon.tsx
  frontend/src/components/common/header/components/search-bar/components/search-icon/styles.module.scss
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-136: - duplicate useAppSelector
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-79: + user permissions on swagger schema
  backend/src/documentation/schemas/auth/current-user-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-149: * fixed PR comments
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-136: * get vendor data by courses-vendors relation
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/services/vendor/vendor.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * resolved file spaces issues from review
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/groups-create/common/default-create-group-payload.ts
  frontend/src/components/groups-create/common/enums/enums.ts
  frontend/src/components/groups-create/common/enums/group-creation-fields-name.enum.ts
  frontend/src/components/groups-create/common/enums/permission-table-accessor.enum.ts
  frontend/src/components/groups-create/common/types/group-creation-users-table-action-props.type.ts
  frontend/src/components/groups-create/common/types/group-creation-users-table-row.type.ts
  frontend/src/components/groups-create/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/groups-create/common/types/permissions-table-row.type.ts
  frontend/src/components/groups-create/common/types/types.ts
  frontend/src/components/groups-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/groups-create/components/action-cells/user-action-cell.tsx
  frontend/src/components/groups-create/components/components.tsx
  frontend/src/components/groups-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/groups-create/components/permissions-table/styles.module.scss
  frontend/src/components/groups-create/components/users-table/styles.module.scss
  frontend/src/components/groups-create/components/users-table/users-table.tsx
  frontend/src/components/groups-create/groups-create.tsx
  frontend/src/components/groups-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/groups-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/groups-create/helpers/helpers.ts
  frontend/src/components/groups-create/styles.module.scss
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/components/group-create/common/enums/enums.ts
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/services/permissions-api/permissions-api.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/groups-create/actions.ts
  frontend/src/store/groups-create/common.ts
  frontend/src/store/groups-create/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-135: + add logic for hide protected screens
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/common/types/permission/permission-item.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: * fix conflict
  mobile/src/common/types/permission/permission-item.type.ts
  mobile/src/navigation/app/common/constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-136: * return response from api
  backend/src/api/courses/courses.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-135: * refactoring according comments
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/store/auth/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-149: * PR comments
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/course/courses-get-by-category-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/courses-get-by-category.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-136: + relationMappings
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-135: * move getAllowedScreens helper outside
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
  mobile/src/navigation/app/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: + PermissionKey enum
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/permission/permission-key.enum.ts
  mobile/src/common/enums/permission/permission.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: * refactoring according comments
  mobile/src/store/auth/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

Added nigative sign up tests
  backend/tests/src/lib/services/auth/auth.service.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up-response.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/shared/error/sign-up-error-response.schema.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up-negative.spec.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-143: * shared change group delete request type
  shared/src/common/types/groups/groups-delete-request-dto.types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-143: + request delete groups item
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-143: + delete group view
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/types.ts
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/common/types/groups-table-data.type.ts
  mobile/src/components/uam/common/types/types.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/groups-table/components/components.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
  mobile/src/components/uam/groups-table/helpers/get-rows-helper/get-rows.helper.ts
  mobile/src/components/uam/groups-table/helpers/helpers.ts
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/uam.tsx
Due: npm run lint:editorconfig && npm run lint:fs

development: * imports
  backend/tests/package-lock.json
  mobile/src/common/types/http/http-options.type.ts
  mobile/src/common/types/navigation/navigation-screen-params.type.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/components/auth/auth.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.tsx
  mobile/src/components/common/icon/common/maps/maps.ts
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/maps/maps.ts
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

development: + save-exact to nmp config
  .npmrc
  backend/.npmrc
  backend/tests/.npmrc
  frontend/.npmrc
  mobile/.npmrc
  shared/.npmrc
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: * refactoring use PermissionKey instead of PermissionItem
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: - delete unuseful files
  mobile/src/common/types/permission/permission-item.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs

Revert "GRHB-135: - delete unuseful files"
  mobile/src/common/types/permission/permission-item.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-149: * PR comments
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/validation-schemas/course/courses-get-by-category.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-58: + explicit-member-accessibility eslint rule
  .eslintrc.yml
  backend/src/data/models/abstract/abstract.model.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/models/group/group.model.ts
  backend/src/data/models/groups-to-permissions/groups-to-permissions.model.ts
  backend/src/data/models/permission/permission.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/models/users-to-groups/users-to-groups.model.ts
  backend/src/data/models/vendor/vendor.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/permission/permission.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/exceptions/auth-error/auth-error.exception.ts
  backend/src/exceptions/courses-error/courses-error.exception.ts
  backend/src/exceptions/groups-error/groups-error.exception.ts
  backend/src/exceptions/permission-error/permission-error.exception.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/group/group.service.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/http/http.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/token/token.service.ts
  backend/src/services/udemy/udemy.service.ts
  backend/src/services/user/user.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  backend/src/services/vendor/vendor.service.ts
  shared/src/exceptions/http-error/http-error.exception.ts
  shared/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-143: * fix naming
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: * edit group
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-58: * fix eslint errors
  backend/tests/src/lib/helpers/session/session-storage/session-storage.helper.ts
  backend/tests/src/lib/helpers/session/session/session.helper.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/http/request-builder.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/categories-api/categories-api.service.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/services/users-api/users-api.service.ts
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/http/http.service.ts
  mobile/src/services/storage/storage.service.ts
  mobile/src/services/users-api/users-api.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
