Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-255: + modules checks (they fail, that's correct)
  backend/tests/src/lib/services/courses/courses.service.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  backend/tests/src/tests/json-schemas/courses/courses.ts
  backend/tests/src/tests/json-schemas/courses/create/course-create-response.schema.ts
  backend/tests/src/tests/json-schemas/courses/create/create.ts
  backend/tests/src/tests/json-schemas/courses/one/one-course.schema.ts
  backend/tests/src/tests/json-schemas/courses/one/one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/modules/all/all-modules.schema.ts
  backend/tests/src/tests/json-schemas/modules/all/all.ts
  backend/tests/src/tests/json-schemas/modules/modules.ts
  backend/tests/src/tests/json-schemas/modules/one/one-module.schema.ts
  backend/tests/src/tests/json-schemas/modules/one/one.ts
  backend/tests/src/tests/json-schemas/vendors/one/one-vendor.schema.ts
  backend/tests/src/tests/json-schemas/vendors/one/one.ts
  backend/tests/src/tests/json-schemas/vendors/vendors.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-385: * improve namings, g +et data from props
  frontend/src/components/course-module/components/task-manipulate/components/components.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/task-manipulate-student.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-395: * fixed issues
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-453: * make categories render if no user
  mobile/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB466: * fix different padding
  frontend/src/components/courses-management/components/category-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-435: + category cell to table
  mobile/src/components/common/category-cell/category-cell.tsx
  mobile/src/components/common/category-cell/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-465: + added exception handler
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-458: * fix buttons
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-442: + transactions repository
  backend/src/common/types/transaction/transaction-create-arguments-dto.type.ts
  backend/src/common/types/transaction/transaction-update-status-dto-type.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * user details constants
  backend/src/data/repositories/user-details/user-details.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-440: * improvements
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/helpers/group-messages-by-date.helper.ts
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/date/is-today-check/is-today-check.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-442: + course category price service
  backend/src/services/course-category-price/course-category-price.service.ts
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: + transaction service
  backend/src/data/repositories/repositories.ts
  backend/src/services/services.ts
  backend/src/services/transaction/transaction.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-385: * all modules for mentor, - description for module in course page
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/helpers/get-task-for-module/get-task-for-module.ts
  frontend/src/components/course/components/modules-cards-container/helpers/helpers.ts
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-399: * refactor
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-message-area/task-message-area.tsx
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/common/maps/status-to-color.map.ts
  mobile/src/components/course-module/components/task/task.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-399: * refactor
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-message-area/task-message-area.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * change after auth redirection logic
  mobile/src/components/auth/auth.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-474: + stylized status
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB471: + datepicker to form
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB471: + pick interview date to db
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-453: * add user checks
  mobile/src/components/chat/chat.tsx
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-422: * changed back to casting type for user
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-458: - className from button component
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/password-input/password-input.tsx
  frontend/src/components/common/password-input/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/task-manipulate-mentor.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/styles.module.scss
  frontend/src/components/course/components/choose-mentor-button/choose-mentor-button.tsx
  frontend/src/components/course/components/choose-mentor-button/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/components/add-course-modal/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-385: * small syntax fixes
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-225: - unstable mark
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-411: + install image picker and create image helper
  mobile/package-lock.json
  mobile/package.json
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/image/image.ts
  mobile/src/helpers/image/pick-image/pick-image.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-411: * update user-details services and store
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user-details/user-details-update-avatar-request-dto.type.ts
  mobile/src/common/types/user-details/user-details.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/store/user-details/actions.ts
  mobile/src/store/user-details/common.ts
  mobile/src/store/user-details/reducer.ts
  shared/src/common/enums/file/content-type.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-411: * upload avatar
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-465: * fixed issues
  backend/src/services/http/http.service.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-391: + added swagger documentation for active interviews endpoint
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interviews-interviewee-get-active-category-ids.yaml
  backend/src/documentation/schemas/interviews/interviews-interviewee-get-active-category-ids-response.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-474: - removed width
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-435: * fix setBecomeMentorInvisible
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-465: + added udemy exception
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/udemy-error/udemy-error.exception.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-453: * change drawer sign-in style
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * PR comments
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-440: * map type update
  frontend/src/components/chats/components/current-chat/components/messages-list/helpers/group-messages-by-date.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-411: * reset selected image
  mobile/src/components/setting/setting.tsx
  mobile/src/store/user-details/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-451: * replace stack in course modules with flatlist
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * replace pressable with Link
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/common/link/link.tsx
  mobile/src/components/common/link/styles.ts
  mobile/src/components/setting/styles.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: + generateDynamicPath helper
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/helpers/app/app.ts
  frontend/src/helpers/app/generate-dynamic-path.helper.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
