Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-358: * delete comments
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * add label to dropdown
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * remove useless styles
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: + interviews table placeholder for date
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: last message author indetification feature
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-385: + get modules backend api
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-module/course-module.service.ts
  backend/src/validation-schemas/course-module/course-module.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/students-courses/students-courses.tsx
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-by-course-id-and-mentee-id-request-params-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-module.ts
  shared/src/validation-schemas/course-module/course-modules-get-all-by-course-id-and-mentee-id-params.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-249: * uuid service into helper and took chat_id into readme.md db scheam
  backend/src/helpers/helpers.ts
  backend/src/helpers/uuid/uuid.helper.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  backend/src/services/uuid/uuid.service.ts
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: * moved logic from reducer and solved naming issue
  backend/src/common/types/common/common.ts
  backend/src/common/types/common/id-container/id-containter.type.ts
  frontend/package.json
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/chat-message/chat-messages-get-all-with-participants-dto.type.ts
  frontend/src/common/types/chat-message/chat-participants-dto.type.ts
  frontend/src/common/types/types.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-249: * package.json was taken back to initial state
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-249: * injected chatOpponent into response dto
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/common/common.ts
  backend/src/common/types/common/id-container/id-container.type.ts
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/chat-message/chat-messages-get-all-with-participants-dto.type.ts
  frontend/src/common/types/chat-message/chat-participants-dto.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/types/chat-message/chat-message-get-all-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-358: * delete comments
  mobile/src/components/interview/components/history/history.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * fixed comments issues devoted to casting, types placement and UI
  backend/src/helpers/helpers.ts
  backend/src/helpers/uuid/create-uuid.helper.ts
  backend/src/helpers/uuid/uuid.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/get-default-message-payload.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-249: * fixed review comments
  backend/src/data/migrations/20220830154032_add_chat_messages_table.ts
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-358: * remove: unnecessary permissions-check, style-prop for input component
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-224: * fix test file name, titles and assertions, added more 403 checks
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-249: * fixed type issues
  backend/src/common/types/deep-non-nullable/deep-non-nullable.type.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-249: * simplifed boolean varaible check
  frontend/src/components/chats/components/chats-list/chats-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-126: * fix avatar url for mobile
  mobile/src/components/course/components/choose-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * uuid package moved to shared folder
  backend/package-lock.json
  backend/package.json
  backend/src/common/types/null/null.ts
  backend/src/common/types/types.ts
  backend/src/helpers/uuid/uuid.ts
  frontend/package-lock.json
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  shared/package-lock.json
  shared/package.json
  shared/src/common/types/null/deep-non-nullable.type.ts
  shared/src/common/types/null/null.ts
  shared/src/common/types/types.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/uuid/create-uuid/create-uuid.helper.ts
  shared/src/helpers/uuid/uuid.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-358: * add check on interviewerId and user.id
  mobile/src/components/interview/components/history/history.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-387: + interviews table pagination default count and page
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/pagination/interviews-pagination-default-value.enum.ts
  frontend/src/common/enums/pagination/pagination.ts
  frontend/src/components/interviews/components/interviews-table/interviews-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-358: * refactor
  mobile/src/components/common/input/input.tsx
  mobile/src/components/interview/components/history/history.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * basic markup
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-module/course-module.service.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/student-course/components/components.tsx
  frontend/src/components/student-course/components/module-card/module-card.tsx
  frontend/src/components/student-course/components/module-card/styles.module.scss
  frontend/src/components/student-course/student-course.tsx
  frontend/src/components/student-course/styles.module.scss
  frontend/src/components/students-courses/students-courses.tsx
  frontend/src/services/course-modules-api/course-modules-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/student-course/actions.ts
  frontend/src/store/student-course/common.ts
  frontend/src/store/student-course/reducer.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-by-course-id-and-mentee-id-request-dto.type.ts
  shared/src/common/types/course-module/course-modules-get-by-course-id-and-mentee-id-request-params-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-modules-get-all-by-course-id-and-mentee-id-params.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-126: * fix styles
  backend/tests/package-lock.json
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  mobile/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-126: - redundant check
  frontend/src/store/user-details/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-126: * change avatarUrl to avatar.url
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB353: + search fixed
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/search-user/common/types/search-user-payload.type.ts
  frontend/src/components/chats/components/search-user/search-user.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
  frontend/src/hooks/use-user-search/use-user-search.hook.ts
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB353: * debounce added
  frontend/src/components/chats/components/search-user/common/constants.ts
  frontend/src/components/chats/components/search-user/search-user.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB353: * export fixed
  frontend/src/components/chats/components/search-user/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-361: * refactor inputs
  mobile/src/components/common/input-secure/input-secure.tsx
  mobile/src/components/common/input-secure/styles.ts
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: * remove useless styles
  mobile/src/components/common/input-secure/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: + button type upload
  backend/.env.example
  backend/src/common/constants/allowed-image-extensions.constants.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/services/services.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  shared/src/common/enums/file/content-type.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-126: * small syntax changes
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-386: hover color fixed
  frontend/src/components/common/select/select.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB384: + course-categories in progress
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/course-categories/common/enums/course-categories-table-accessor.enum.ts
  frontend/src/components/course-categories/common/enums/enums.ts
  frontend/src/components/course-categories/common/types/course-categories-table-actions-props.type.ts
  frontend/src/components/course-categories/common/types/course-categories-table-row.type.ts
  frontend/src/components/course-categories/common/types/types.ts
  frontend/src/components/course-categories/components/actions-cell/actions-cell.tsx
  frontend/src/components/course-categories/components/actions-cell/styles.module.scss
  frontend/src/components/course-categories/components/category-cell/category-cell.tsx
  frontend/src/components/course-categories/components/category-cell/styles.module.scss
  frontend/src/components/course-categories/components/components.ts
  frontend/src/components/course-categories/components/course-categories-table/course-categories-table.tsx
  frontend/src/components/course-categories/components/course-categories-table/styles.module.scss
  frontend/src/components/course-categories/course-categories.tsx
  frontend/src/components/course-categories/helpers/get-course-categories-columns/get-course-categories-columns.helper.ts
  frontend/src/components/course-categories/helpers/get-course-categories-rows/get-course-categories-rows.helper.ts
  frontend/src/components/course-categories/helpers/helpers.ts
  frontend/src/components/course-categories/styles.module.scss
  frontend/src/services/course-categories/course-categories-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/course-categories/actions.ts
  frontend/src/store/course-categories/common.ts
  frontend/src/store/course-categories/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-386: * improve select stylesd typings
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/common/types/ui/selector-option.type.ts
  frontend/src/common/types/ui/selector-styles.type.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/common/select/common.ts
  frontend/src/components/common/select/select.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: + jobs: 1 to tests
  backend/tests/.mocharc.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-352: * fixed couple of issues from review
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/components/common/header/header.tsx
  shared/src/common/enums/chat/chat-message-status.enum.ts
  shared/src/common/types/chat-message/chat-message-create-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-create-request-with-status-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-361: * fix and isSecure padding
  mobile/src/components/common/input-secure/input-secure.tsx
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-352: * fixed migration
  backend/src/data/migrations/20220902141153_add_status_to_chat_messages_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
