Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-505: * add current year check
  mobile/src/components/chat-conversation/components/messages-list/components/date-separator/date-separator.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB388: + static field added
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB383: * table gets content size and scroll on overflow
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/courses-management/components/courses-management-table/styles.module.scss
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/courses-management/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/styles.module.scss
  frontend/src/components/interviews/components/interviews-table/styles.module.scss
  frontend/src/components/interviews/styles.module.scss
  frontend/src/components/uam-configure-group/components/permissions-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/users-table/styles.module.scss
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/uam/components/users-table/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-359: comments
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-498: * moved sign out button to sidebar
  mobile/src/assets/icons/sign-out.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: + basic socket backend
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/socket/handlers/handlers.ts
  shared/src/common/types/socket/socket-message-event-dto.type.ts
  shared/src/common/types/socket/socket.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-434: conflicts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB388: * linter error fixed
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-435: * rename navigateToEditCourse to handleEditPress
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: * rename getAllExist to getAllWithCourses
  mobile/src/components/courses/courses.tsx
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/store/categories/actions.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/categories/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-493: * changed some logic to use props
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-435: * rename getAllWithCategory to getAllWithCategories
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/courses-management/common.ts
  mobile/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * add validation rules for chat
  shared/src/common/enums/chat/chat-validation-message.enum.ts
  shared/src/common/enums/chat/chat-validation-rule.enum.ts
  shared/src/common/enums/chat/chat.ts
  shared/src/common/enums/enums.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-433: * add message field reset after submit
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: + frontend socket service
  backend/src/socket/handlers/handlers.ts
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/socket/socket.ts
  frontend/src/common/types/socket/client-to-server-events.type.ts
  frontend/src/common/types/socket/server-to-client-events.type.ts
  frontend/src/common/types/socket/socket.ts
  frontend/src/common/types/types.ts
  frontend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB515: * fixed active chat reopen
  frontend/src/components/chats/chats.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-433: * change message style
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-481: + added route for updating interview
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interview-update-without-interviewer.yaml
  backend/src/documentation/schemas/interviews/interview-update-without-interviewer-request-dto.yaml
  backend/src/services/interview/interview.service.ts
  backend/src/validation-schemas/interview/interview.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/interview/interview-update-without-interviewer-request-arguments-dto.type.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/interview/actions.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-update-without-interviewer-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-update-without-interviewer-validation-schema.ts
  shared/src/validation-schemas/interview/interview.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB469: * fix user couldnt became mentor for two courses with same category
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-434: refactor
  mobile/src/common/types/chat/chat-message-get-all-messages-from-chat-dto.type.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/empty-chats/empty-chats.tsx
  mobile/src/store/chat/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB528: + fixed rerendering the user profile after updating
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/store/user-details/actions.ts
  frontend/src/store/user-details/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-433: * add functionallity to clear input after submit
  mobile/src/common/types/form/form-control-set-values.type.ts
  mobile/src/common/types/form/form.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-529: + added margin to title
  frontend/src/components/course-module/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-433: * fix lint errors
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * simplify reset input
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-519: * renamed interview history section
  frontend/src/components/interview/components/history-section/history-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB527: + added spinner to the profile section
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/user-details/components/user-profile/styles.module.scss
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-530: * removed duplicate slash from request url
  frontend/src/services/course-modules-api/course-modules-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB526: + text fixed
  frontend/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * replenish and withdraw works properly
  backend/.env.example
  backend/src/api/billing/billing.api.ts
  backend/src/common/types/stripe/stripe-replenish-arguments-dto.type.ts
  backend/src/exceptions/billing-error/billing-error.exception.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/stripe/stripe.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/services/billing-api/billing-api.service.ts
  frontend/src/store/billing/actions.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-433: * remove redundant code and change validation schema
  mobile/src/common/enums/chat/chat-validation-message.enum.ts
  mobile/src/common/enums/chat/chat-validation-rule.enum.ts
  mobile/src/common/enums/chat/chat.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/form/form-control-set-values.type.ts
  mobile/src/common/types/form/form.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
  mobile/src/validation-schemas/chat/chat.ts
  mobile/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/chat/chat-validation-message.enum.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-531: + interviewee can't edit own interview
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-433: * fix errors
  shared/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-433: * fix shared
  shared/tsconfig.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-541: * moved key prop to the top level
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB534: + gender namings fixed
  shared/src/common/enums/user/user-gender.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-343: + added check if user is enterviewee or interviewer when opening Interview page
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/interview/interviews-check-user-is-interviewer-or-interviewee-payload.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-435: * refactoring according PR comments
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/store/categories/reducer.ts
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/courses-management/common.ts
  mobile/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-498: * redesign sign out button
  mobile/src/assets/icons/sign-out.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB533: * fixed profile image being stretched
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js
