Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB67: + error dto
  backend/src/documentation/endpoints/auth/user-sign-up.yaml
  backend/src/documentation/schemas/error-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB84: + redirecting user after sign in
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/auth/auth.tsx
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-62: * update export of navigate
  frontend/src/components/common/common.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB84: * PR issues
  frontend/src/components/auth/auth.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-62: * wrap uam to protected route
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: * renamed files
  backend/src/api/users/users.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/users/users-delete.yaml
  backend/src/documentation/schemas/users/users-delete-request-dto.yaml
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-delete-request-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-delete.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-77: * rename type
  backend/src/api/users/users.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-delete-request-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-delete.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-77: + add enum for 204 status code
  backend/src/api/users/users.api.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-59: * edit package.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * fix lint errors
  mobile/src/common/types/text/text-style.type.ts
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * fix naming
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/users/users-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB85: + add jwt token to user response
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * renamed 204 status code enum
  backend/src/api/users/users.api.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-39: * Add hasAuth: false to signIn and signUp methods in auth-api-service, remove request body from swagger endpoint
  backend/src/documentation/endpoints/auth/current-user.yaml
  frontend/src/services/auth-api/auth-api.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: * changed columns names
  frontend/src/components/uam/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: * moved enums to common
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/user-table/user-table-accessor.enum.ts
  frontend/src/common/enums/user-table/user-table-header.enum.ts
  frontend/src/common/enums/user-table/user-table.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-47: * fix issues
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/styles.module.scss
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-42: * moved users tabels enums back
  frontend/src/common/enums/enums.ts
  frontend/src/components/uam/common/enums/enums.ts
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-34: * fix fullname validation
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-77: * fix swagger users-delete endpoint
  backend/src/documentation/endpoints/users/users-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * change interview icon
  frontend/src/components/common/authorized-menu/common.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-86: + not found
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/not-found/not-found.tsx
  frontend/src/components/common/not-found/styles.module.scss
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * fix package-lock
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * fix width changing
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-78: + decorate request with user added
  backend/src/api/api.ts
  backend/src/common/constants/api.constants.ts
  backend/src/common/constants/constants.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/exceptions/exception-message.enum.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/exceptions/exceptions.ts
  backend/src/plugins/authorization/authorization.plugin.ts
  backend/src/plugins/plugins.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/exceptions/exceptions.ts
  shared/src/exceptions/exceptions.ts
  shared/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-77: * fix users-delete endpoint responses
  backend/src/documentation/endpoints/users/users-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-64: - ignored element on click outside
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-64: * fix type name
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-86: * not found as a separate page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/not-found/not-found.tsx
  frontend/src/components/not-found/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-42: * column headings changed to strings
  frontend/src/components/uam/common/enums/enums.ts
  frontend/src/components/uam/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB27: * update icons
  mobile/src/assets/icons/billing-dark.png
  mobile/src/assets/icons/billing-light.png
  mobile/src/assets/icons/billing.svg
  mobile/src/assets/icons/book-dark.png
  mobile/src/assets/icons/book-light.png
  mobile/src/assets/icons/book.svg
  mobile/src/assets/icons/education-dark.png
  mobile/src/assets/icons/education-light.png
  mobile/src/assets/icons/education.svg
  mobile/src/assets/icons/home-dark.png
  mobile/src/assets/icons/home-light.png
  mobile/src/assets/icons/home.svg
  mobile/src/assets/icons/mentors-dark.png
  mobile/src/assets/icons/mentors-light.png
  mobile/src/assets/icons/mentors.svg
  mobile/src/assets/icons/message.svg
  mobile/src/assets/icons/settings-dark.png
  mobile/src/assets/icons/settings-light.png
  mobile/src/assets/icons/settings.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: - remove app icon enum
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/app-icon.enum.ts
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: * eslint fix
  mobile/src/components/billing/billing.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/mentors/mentors.tsx
  mobile/src/components/my-education/my-education.tsx
  mobile/src/components/setting/setting.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: + re export AppNavigationParamList
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: + installation and configuration svg plugins
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/custom.d.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: * replacing png icons
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: * use AppNavigationParamList in Drawer
  mobile/src/navigation/app/app.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-78: * plugin callback replaced by plugin async
  backend/src/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-81: + users pagination
  backend/src/api/users/users.api.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/pagination.constants.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-all-request-query.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-27: * fix AppNavigation path
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs
