Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-167: * admin adding first steps
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-167: + migration mostly done bug with migration
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-168: * change popup logout button title from Logout to Sign Out
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-161: * remove useWindowDimension and set fixed width
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-171: * fix default count
  backend/src/documentation/endpoints/users/users-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-141: * fix vendorKey
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-160: * import status bar from components/common/common
  mobile/src/components/app/app.tsx
  mobile/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-141: * fix originalId type to string
  backend/src/common/types/course/course-create-arguments-dto.type.ts
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/common/types/course/course-get-by-id-and-vendor-key-arguments-dto.type.ts
  backend/src/data/models/course/course.model.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB159: * fix groups section problem
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-manipulate.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-141: + unique original_id - vendor_id constraint
  backend/src/data/migrations/20220818201316_courses_add_original_id.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-28: * resolve comments - change naming
  mobile/src/components/courses/components/course-card/common/maps/maps.ts
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-141: + drop unique constraint in down
  backend/src/data/migrations/20220818201316_courses_add_original_id.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: * variable name fixes
  frontend/src/components/common/button/button.tsx
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-161: * fix table
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-162: + course page backend
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/types/course/course-get-request-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-get.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-97: + added minimum values for query params schema
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-167: + admin migration done
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-168: * resolved types naming conflict
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-172: * moved max width to grid template columns
  frontend/src/components/dashboard/components/courses-list/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRNB-174: * updated course get all schema
  backend/src/documentation/schemas/courses/courses-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-162: + added route to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses-get-by-id.yaml
  backend/src/documentation/schemas/courses/course-get-by-id-request-dto.yaml
  backend/src/documentation/schemas/courses/course-get-by-id-response-dto.yaml
  shared/src/validation-schemas/course/course-get.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-154: * course module description, constants and naming fixed
  backend/src/common/types/course-module/course-module-create-arguments-dto.type.ts
  backend/src/common/types/udemy/udemy-module-get-response-dto.type.ts
  backend/src/data/models/course-module/course-module.model.ts
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy-course.service.ts
  backend/src/services/udemy/udemy-module.service.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/types/course-module/course-module-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-148: * lowered search delay
  frontend/src/components/common/header/components/search-bar/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-169: * update getPaginated to getAll
  backend/src/api/groups/groups.api.ts
  backend/src/api/users/users.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/services/users-api/users-api.service.ts
  frontend/src/store/uam-configure-group/actions.ts
  frontend/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-144: * add default values check
  mobile/src/components/uam-groups-config/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-config/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * PR comments
  mobile/src/components/uam-groups-config/uam-groups-create.tsx
  mobile/src/components/uam-groups-config/uam-groups-edit.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-167: * fixed interaction with inserted value return from db when creating adming and his permission group
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-166: * fix sign in button label
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-192: + redirect if not signed in
  frontend/src/components/common/protected-route/protected-route.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-187: * made the logo link to basepage
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-195: * fixed wrong spelling
  frontend/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-75: * redirect after successful edit
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB41: + not exist message helper
  backend/src/helpers/helpers.ts
  backend/src/helpers/items-not-exist-message/items-not-exist-message.ts
  backend/src/services/group/group.service.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/items-not-exist-message/items-not-exist-message.ts
  shared/src/helpers/items-not-exist-message/singular-plural-word-formatter/singular-plural-word-formatter.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-120: * fix add padding to the content
  mobile/src/components/uam-groups-create/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-179: * fixed popup closing after logout
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-184: * fix upload link
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-179: * improvement for closing the popup
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-150: + interview service and api to get interview or all interviews, shared data added respectively
  backend/src/api/api.ts
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/interview/interview.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/interview/interview-status.enum.ts
  shared/src/common/enums/interview/interview.ts
  shared/src/common/types/interview/interview-get-all-item-response-dto.type.ts
  shared/src/common/types/interview/interview-get-all-response-dto.type.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
