Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-374: * fix json and conditions
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: - json trailing commas
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-254: * moved check to backend
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/types/course/course-check-is-mentor-request-params-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-check-is-mentor-params.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-264: * fix bug with modules loading
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: * fixed PR issues
  backend/src/services/mentor/mentor.service.ts
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-375: + added required permission
  backend/src/api/users/users.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-264: * unite useAppSelectors
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * hide become a mentor
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
  mobile/src/navigation/app/components/become-mentor/styles.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: + chat messages table, * readme DB schema
  backend/src/data/migrations/20220830154032_add_chat_messages_table.ts
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-256 * refactor
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB: * separated checks
  backend/src/api/courses/courses.api.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-check-has-mentor.yaml
  backend/src/documentation/endpoints/courses/course-check-is-mentor.yaml
  backend/src/services/mentor/mentor.service.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-254: + added pending status to action
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-346: + basic api
  backend/src/api/api.ts
  backend/src/api/tasks/tasks.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/services/task-note/task-note.service.ts
  backend/src/validation-schemas/task-note/task-note.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/task-note/task-note-create-request-body-dto.type.ts
  shared/src/common/types/task-note/task-note-get-all-request-params-dto.type.ts
  shared/src/common/types/task-note/task-note.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/task-notes/task-notes-create-request-body.validation-schema.ts
  shared/src/validation-schemas/task-notes/task-notes-get-all-params.validation-schema.ts
  shared/src/validation-schemas/task-notes/task-notes.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-249: + chat message model
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/models/chat-message/chat-message.model.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-355: + added frontend for outputting my students section
  backend/package.json
  backend/src/data/models/course/course.model.ts
  frontend/package.json
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/components/my-students-container/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/types/course/course-get-mentees-by-mentor-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-360: + toggle become mentor in store
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB348: + user birthday functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-256 * refactor
  mobile/src/components/course/components/edit-course-category/common/common.tsx
  mobile/src/components/course/components/edit-course-category/common/constants/set-category.constant.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: + chat message repository
  backend/src/common/enums/enums.ts
  backend/src/common/enums/sort/sort.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/sort/sort.ts
  shared/src/common/types/chat-message/chat-message-create-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB348: * fixes for CI
  backend/src/services/user/user.service.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-346: * refactor api and service
  backend/src/api/api.ts
  backend/src/api/tasks/tasks.api.ts
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/tasks-error/tasks-error.exception.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/task-note/task-note-get-all-request-params-dto.type.ts
  shared/src/common/types/task-note/task-note.ts
  shared/src/common/types/task/task-by-id-request-params-dto.type.ts
  shared/src/common/types/task/task-manipulate-request-arguments-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/task-notes/task-notes-get-all-params.validation-schema.ts
  shared/src/validation-schemas/task-notes/task-notes.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/task/tasks-by-id-params.validation-schema.ts
  shared/src/validation-schemas/task/tasks-create-request-body.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-346: + status to note, + get notes for module and user
  backend/src/common/types/task-note/task-note-create-arguments-dto.type.ts
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
  backend/src/data/models/task-note/task-note.model.ts
  backend/src/data/models/task/task.model.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/services/task-note/task-note.service.ts
  backend/src/services/task/task.service.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/task/task-get-by-mentee-id-and-module-id-request-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/task/task-by-mentee-id-mentor-id-module-id.validation-schema.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-348: * minor upd
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-360: show become mentors only on course screen
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: + get task, get all notes api and services
  backend/src/api/tasks/tasks.api.ts
  backend/src/services/task/task.service.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/validation-schemas/task/task-by-mentee-id-module-id.validation-schema.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-360: + get mentors by course id
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/course/course.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-355: - removed unused modifier
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-336: * changed removing bottom line approach
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-355: * changed checking if the user is a mentor
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-259: * changed sort order shared file structure
  shared/src/common/enums/sort/sort-order.ts
  shared/src/common/enums/sort/sort.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-323: * enchanced useAppForm hook and used watch instead of getValue, removed redundant setValue call
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/hooks/use-form-watch/use-form-watch.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-355: * fixed backend request repository
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/components/my-students-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-259: * enum suffix added to file name
  shared/src/common/enums/sort/sort-order.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-259: * changed import source
  shared/src/common/enums/sort/sort.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-346: + table to readme
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-268: + dropdown gender select
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: * fixed naming
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-268: + profile constats
  mobile/src/components/setting/common/contants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * update api
  backend/src/api/tasks/tasks.api.ts
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/types.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/common/types/task-note/task-note-create-request-body-dto.type.ts
  shared/src/common/types/task-note/task-note-manipulate-request-body-dto.type.ts
  shared/src/common/types/task-note/task-note.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/task/tasks-create-request-body.validation-schema.ts
  shared/src/validation-schemas/task/tasks-manipulate-request-body.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-302: * improvements
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
