Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-30: * useAppForm for inputs
  mobile/src/common/types/search/search-input.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: fixing merge conflict
  backend/package-lock.json
  backend/package.json
  backend/tests/.eslintrc.yml
  backend/tests/.npmrc
  backend/tests/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: fixing merge conflict
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/assets/icons/billing.svg
  mobile/src/assets/icons/book.svg
  mobile/src/assets/icons/education.svg
  mobile/src/assets/icons/home.svg
  mobile/src/assets/icons/mentors.svg
  mobile/src/assets/icons/message.svg
  mobile/src/assets/icons/settings.svg
  mobile/src/assets/images/logo.png
  mobile/src/assets/images/saly.png
  shared/package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: fixing merge conflict
  shared/src/common/types/pagination/pagination.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
  shared/src/validation-schemas/pagination/pagination.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: fixing merge conflict
  shared/src/common/types/groups/groups-item-response-dto.type.ts
  shared/src/common/types/groups/groups-response-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/pagination/entity-pagination-request-query-dto.type.ts
  shared/src/common/types/pagination/entity-pagination.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-get-all-item-response-dto.type.ts
  shared/src/common/types/user/users-get-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB94: fixing merge conflict
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
  shared/src/common/enums/pagination/pagination-validation-rule.enum.ts
  shared/src/common/types/user/users-get-all-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-102: + mocharc, chai setup and global types
  backend/tests/.mocharc.js
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/src/setup.ts
  backend/tests/src/tests/specs/.gitkeep
  backend/tests/src/typings/global.d.ts
  backend/tests/tsconfig.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: fixing merge conflict
  mobile/src/validation-schemas/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: fixing merge conflict
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
  backend/src/data/migrations/20220811150606_add_courses_table.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
  backend/src/documentation/endpoints/users/users-get-all.yaml
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
  backend/src/documentation/schemas/groups/groups-get-all-response-dto.yaml
  backend/src/documentation/schemas/users/users-get-all-response-dto.yaml
  backend/tests/tsconfig.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: fixing merge conflict
  backend/src/api/groups/groups.api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/pagination/pagination.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/pagination/pagination.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/permission/permission.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/groups-error/groups-error.exception.ts
  backend/src/services/group/group.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/pagination/pagination.ts
  backend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-116: + Add icons to drawer items
  mobile/src/assets/icons/icons.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/search/search.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-item/helpers/helpers.ts
  mobile/src/navigation/app/components/drawer-item/helpers/icon-to-drawer-item.helper.tsx
  mobile/src/navigation/app/components/drawer-item/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: * response type
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-76: - remove code that accidentally left after conflict resolve
  backend/src/api/groups/groups.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * fix for CI error
  frontend/src/components/uam-groups-create/helpers/get-user-rows-group-creation-helper/get-user-rows-group-creation.helper.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: + edit group permissions
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-46: * handlePopupOper -> handlePopupOpen, and optional chaining for onClick
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: * edit group permissions
  backend/src/services/group/group.service.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-96: * permission error
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB94: + edit group users
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-116: - remove useless files: icons.ts,helpers.ts
  mobile/src/assets/icons/icons.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.tsx
  mobile/src/components/common/icon/icon.tsx
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-item/helpers/helpers.ts
  mobile/src/navigation/app/components/drawer-item/helpers/icon-to-drawer-item.helper.tsx
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-99: + add table component
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB129: * sing in submit
  mobile/src/components/auth/auth.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-123: + added user details table and associations to it
  backend/src/data/migrations/20220812165631_add_user_details_table.ts
  backend/src/data/migrations/20220812170551_add_user_details_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-95: + protect routes by permissions
  backend/src/helpers/helpers.ts
  backend/src/helpers/permissions/permissions.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/permissions/permissions.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/permissions/permissions.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/permissions/check-permission-keys/check-permission-keys.helper.ts
  shared/src/helpers/permissions/permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-99: * change some props
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-123: * nullable fields added
  backend/src/data/migrations/20220812172246_add_user_details_table.ts
  backend/src/data/migrations/20220812172259_add_user_details_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-99: * change props type to generic
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-116: * refactor
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.tsx
  mobile/src/components/common/icon/icon.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-104: + categories and categories list
  frontend/public/C.svg
  frontend/public/Java.svg
  frontend/public/NodeJS.svg
  frontend/public/Python.svg
  frontend/public/TypeScript.svg
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-30: - delete watch
  mobile/src/components/common/search/search.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: - course-category and course-to-course-category model, repo, service
  backend/src/common/types/course/course-create-request-dto.type.ts
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/course-to-course-categories/course-to-course-categories.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/courses-to-course-categories/courses-to-course-categories.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course-to-course-categories/course-to-course-categories.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: * refactor according PR comments
  mobile/src/common/types/search/search-input.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/maps/maps.ts
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-131: * fix table name
  backend/src/data/migrations/20220812130305_add_course_to_vendor_table.ts
  backend/src/data/migrations/20220812131517_add_course_to_vendor_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-104: * scrollbar invisible, removed redundant props from category and mocked data
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/helpers/get-random-color.helper.ts
  frontend/src/components/dashboard/components/categories-list/components/category/helpers/helpers.ts
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-132: * fix table name
  backend/src/data/migrations/20220812132515_add_course_to_course_category_table.ts
  backend/src/data/migrations/20220812132540_add_course_to_course_category_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-76: * corrected imports naming, from file and swagger parameters description
  backend/src/api/groups/groups.api.ts
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  shared/src/validation-schemas/group/group-delete.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-104: * rendamed svg files and rendamed temporary props type
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-106: + documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-add.yaml
  backend/src/documentation/schemas/courses/course-add-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs
