Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB94: * added unique constraints
  backend/src/data/migrations/20220816134616_add_unique_relation_constraint.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB143: * fix naming
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: * return screen only if user has all the permissions
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * returned to basic functionality with custom cells and checkbox as a form
  frontend/src/common/types/form/form-control-register.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/groups-create/common/default-create-group-payload.ts
  frontend/src/components/groups-create/common/types/group-creation-users-table-action-props.type.ts
  frontend/src/components/groups-create/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/groups-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/groups-create/components/action-cells/user-action-cell.tsx
  frontend/src/components/groups-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/groups-create/components/users-table/users-table.tsx
  frontend/src/components/groups-create/groups-create.tsx
  frontend/src/components/groups-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/groups-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/groups-create/styles.module.scss
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/hooks/use-selected-items/use-selected-items.hook.ts
  frontend/src/validation-schemas/group/group-create-name.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/validation-schemas/group/group-create-name.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-51: * incapsulation improvement
  frontend/src/services/permissions-api/permissions-api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-152: * enable import/order eslint rule
  .eslintrc.yml
  frontend/src/components/app/app.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/toast/toast.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/index.tsx
  frontend/src/store/dashboard/actions.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/link/link.tsx
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/spinner/spinner.tsx
  mobile/src/components/common/table/table.tsx
  mobile/src/components/common/text/text.tsx
  mobile/src/components/common/toast/toast.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/custom.d.ts
  mobile/src/index.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB107: * Added json schemas and made tests fixes
  backend/package-lock.json
  backend/tests/package-lock.json
  backend/tests/src/lib/services/auth/auth.service.ts
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/sign-in/sign-in-response.schema.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/permissions/one/one-permission-schema.ts
  backend/tests/src/tests/json-schemas/permissions/permissions.ts
  backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error.ts
  backend/tests/src/tests/json-schemas/shared/shared.ts
  backend/tests/src/tests/json-schemas/user/user-by-id/user-by-id-response.schema.ts
  backend/tests/src/tests/json-schemas/user/user-by-id/user-by-id.ts
  backend/tests/src/tests/json-schemas/user/user.ts
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
  frontend/package-lock.json
  mobile/package-lock.json
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/enums.ts
  shared/src/common/enums/http/http-status-message.enum.ts
  shared/src/common/enums/http/http.ts
  shared/src/common/types/http/http-error-dto.type.ts
  shared/src/common/types/http/http.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB107: * linter accessibility modifier fix
  backend/tests/src/lib/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB107: * removed authorized method
  backend/tests/src/lib/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB143: * fix eslint error
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * fixed button styling issues
  frontend/src/common/types/permissions/permissions-group-creation-dto.type.ts
  frontend/src/common/types/permissions/permissions.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/common/types/user/users-group-creation.dto.type.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-149: * PR comments
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-135: * rename type PermissionItem -> PermissionsGetAllItemResponseDto
  mobile/src/common/types/permission/permission-item.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/permission/permissions-get-all-item-response-dto.type.ts
  mobile/src/common/types/types.ts
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-145: + add category images, configure types and maps
  mobile/src/assets/images/c.png
  mobile/src/assets/images/css.png
  mobile/src/assets/images/html.png
  mobile/src/assets/images/java.png
  mobile/src/assets/images/javascript.png
  mobile/src/assets/images/nodejs.png
  mobile/src/assets/images/python.png
  mobile/src/assets/images/react.png
  mobile/src/assets/images/typescript.png
  mobile/src/common/types/category/category.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/course-image-name.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/category/common/maps/category-name-to-image.map.ts
  mobile/src/components/common/maps/maps.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-145: + add category list component
  mobile/src/components/category-list/category-list.tsx
  mobile/src/components/category-list/components/category/category.tsx
  mobile/src/components/category-list/components/category/helpers/get-random-color.helper.ts
  mobile/src/components/category-list/components/category/helpers/helper.ts
  mobile/src/components/category-list/components/category/style.ts
  mobile/src/components/category-list/style.ts
Due: npm run lint:editorconfig && npm run lint:fs

- auth module + error.ts * error-response name * chain of exports
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up-response.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error.ts
  backend/tests/src/tests/json-schemas/shared/shared.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up-negative.spec.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-136: + course image migration, * update getting related data, * PR fixes
  backend/src/data/migrations/20220816104044_add_courses_image_path.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/public/udemy.svg
  frontend/src/assets/css/variables.scss
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/common/types/vendor/vendor.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/dashboard/components/components.tsx
  frontend/src/components/dashboard/components/courses-list/components/components.tsx
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
  frontend/src/components/dashboard/components/courses-list/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses-list/courses-list.tsx
  frontend/src/components/dashboard/components/courses-list/styles.module.scss
  frontend/src/components/dashboard/components/courses/components/bars/bars.tsx
  frontend/src/components/dashboard/components/courses/components/bars/styles.module.scss
  frontend/src/components/dashboard/components/courses/components/course/course.tsx
  frontend/src/components/dashboard/components/courses/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses/courses.tsx
  frontend/src/components/dashboard/dashboard.tsx
  shared/src/common/types/course/course-get-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-149: * fixed getAll query
  backend/src/data/repositories/course/course.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-136: - unnecessary style
  frontend/src/components/dashboard/components/courses-list/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-51: * fixed store issues
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/groups-create/common/types/group-creation-users-table-action-props.type.ts
  frontend/src/components/groups-create/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/groups-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/groups-create/components/action-cells/user-action-cell.tsx
  frontend/src/components/groups-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/groups-create/components/users-table/users-table.tsx
  frontend/src/components/groups-create/groups-create.tsx
  frontend/src/components/groups-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/groups-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/store/groups-create/common.ts
  frontend/src/store/groups-create/reducer.ts
  frontend/src/store/uam/reducer.ts
  frontend/src/validation-schemas/group/group-create-name.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-51: * fixed import order
  frontend/src/components/groups-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/groups-create/components/action-cells/user-action-cell.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-51: * validation-scheme for group creation on client renamed
  frontend/src/components/groups-create/groups-create.tsx
  frontend/src/validation-schemas/group/group-create.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-93: + actionsCell component, reducer for delete group action, * moved helpers for group table to group table folder
  frontend/src/components/uam/common/types/groups-table-actions-props.type.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/styles.module.scss
  frontend/src/components/uam/components/groups-table/components/components.ts
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-rows.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/helpers.ts
  frontend/src/components/uam/helpers/helpers.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-51: * file imports fixes and constants managment done
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/notification/notification-messages/notification-messages.ts
  frontend/src/common/enums/notification/notification-messages/success-notification-message.enum.ts
  frontend/src/common/enums/notification/notification.ts
  frontend/src/common/types/permissions/permissions.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/groups-create/components/action-cells/permission-action-cell.tsx
  frontend/src/components/groups-create/components/action-cells/user-action-cell.tsx
  frontend/src/components/groups-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/groups-create/components/users-table/users-table.tsx
  frontend/src/components/groups-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/groups-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/services/permissions-api/permissions-api.ts
  frontend/src/store/groups-create/actions.ts
  shared/src/validation-schemas/group/group-create-name.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB94: * add new users and permissions
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-151: + groups table pagination
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * improved client group validation schema import
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/validation-schemas/group/group-create.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: * edit constraints migration
  backend/src/data/migrations/20220816134616_add_unique_relation_constraint.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * renamed client group creation validation schema
  shared/src/validation-schemas/group/group-create-client.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB107: * changed schemas and test
  backend/tests/src/lib/common/constants/regex.constants.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/permissions/one/one-permission.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error.ts
  backend/tests/src/tests/json-schemas/shared/shared.ts
  backend/tests/src/tests/json-schemas/user/user-by-id/user-by-id-response.schema.ts
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * fixed uncontrolled checkbox value
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * simple-import-sort eslint plugin
  .eslintrc.yml
  frontend/src/components/app/app.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/toast/toast.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/index.tsx
  frontend/src/store/dashboard/actions.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/link/link.tsx
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/spinner/spinner.tsx
  mobile/src/components/common/table/table.tsx
  mobile/src/components/common/text/text.tsx
  mobile/src/components/common/toast/toast.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/index.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/root/root.navigation.tsx
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: * await deletion
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * checkbox checked tag parameter replaced with cast
  frontend/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: * edit migration
  backend/src/data/migrations/20220816134616_add_unique_relation_constraint.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * notification messages enum renamed
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/enums/notification/notification-messages/notification-messages.ts
  frontend/src/common/enums/notification/notification-messages/success-notification-message.enum.ts
  frontend/src/common/enums/notification/notification.ts
  frontend/src/store/groups-create/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-149: * fixed conflicts
  backend/src/data/repositories/repositories.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Added modifiers for constructor and signUp method; * auth.service.ts
  backend/tests/src/lib/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Update backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
