Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-146: + front-end forms
  backend/src/data/migrations/20220830085215_add_tasks_table.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/enums/task-note/task-note.ts
  frontend/src/common/types/task-note/task-note-form-request-dto.type.ts
  frontend/src/common/types/task-note/task-note.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course-module/components/task-manipulate/common.ts
  frontend/src/components/course-module/components/task-manipulate/components/components.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/task-manipulate-mentor.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/task-manipulate-student.tsx
  frontend/src/components/course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/services/tasks-api/tasks-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course-module/reducer.ts
  frontend/src/validation-schemas/task-note/task-note-create.validation-schema.ts
  frontend/src/validation-schemas/task-note/task-note.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/task-note/task-note-validation-rule.enum.ts
  shared/src/common/enums/task-note/task-note.ts
  shared/src/validation-schemas/task/tasks-manipulate-request-body.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-356: * add interview screen
  mobile/src/components/interview/common/constants.ts
  mobile/src/components/interview/components/applications/applications.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/components/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/components/styles.ts
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/styles.ts
  mobile/src/components/interview/components/applications/styles.ts
  mobile/src/components/interview/components/components.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/interview.tsx
  mobile/src/components/interview/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * add interview screen to navigation
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/interview-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/interview-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * fix import name
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/task-manipulate-mentor.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/task-manipulate-student.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-346: * fix state logic
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-346: * fix function logic
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-356: * fix lint errors
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: + no notes placeholder
  frontend/src/components/course-module/components/task-notes/styles.module.scss
  frontend/src/components/course-module/components/task-notes/task-notes.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-346: * fix notes order
  backend/src/data/repositories/task-note/task-note.repository.ts
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB354: * update get mentor output
  frontend/src/common/types/mentor/mentor.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/course/components/my-mentor-card/components/components.ts
  frontend/src/components/course/components/my-mentor-card/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-mentor-card/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/services/mentors-api/mentors-api.service.ts
  frontend/src/services/users-api/users-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-348: * now datepicker returns a Date object
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-357: + store and re-export type from shared
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/types.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/interview/actions.ts
  mobile/src/store/interview/common.ts
  mobile/src/store/interview/reducer.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: + common component status-cell
  mobile/src/components/common/common.tsx
  mobile/src/components/common/status-cell/status-cell.tsx
  mobile/src/components/common/status-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: + documentation
  backend/src/api/tasks/tasks.api.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/tasks/tasks-create.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-by-mentee-id-and-module-id.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-notes.yaml
  backend/src/documentation/endpoints/tasks/tasks-manipulate.yaml
  backend/src/documentation/schemas/tasks/tasks-create-request-dto.yaml
  backend/src/documentation/schemas/tasks/tasks-create-response-dto.yaml
  backend/src/documentation/schemas/tasks/tasks-get-by-mentee-id-and-module-id-response-dto.yaml
  backend/src/documentation/schemas/tasks/tasks-get-notes-response.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-357: + other application component
  mobile/src/components/interview/components/components.ts
  mobile/src/components/interview/components/other-applications/components/application-card/application-card.tsx
  mobile/src/components/interview/components/other-applications/components/application-card/styles.ts
  mobile/src/components/interview/components/other-applications/components/components.ts
  mobile/src/components/interview/components/other-applications/other-applications.tsx
  mobile/src/components/interview/components/other-applications/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * fix api
  backend/src/api/tasks/tasks.api.ts
  backend/src/documentation/endpoints/tasks/tasks-get-by-mentee-id-and-module-id.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-346: * fix task service
  backend/src/services/task/task.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + forntend chats messages service
  frontend/src/common/enums/api/api.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB354: * returned get mentor by mentee and course ids
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-359: - delete unnecessary navigation screens
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/choose-mentor/components/mentor-card/styles.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB354: * fix return
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB354: * check if can choose mentor
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-319: * changed mentor becoming check
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: + chat store created
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/store/actions.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
  frontend/src/store/chats/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-359: * move setoptions to course.navigation.tsx
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course/course.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * change files structure
  mobile/src/components/interview/components/applications/applications.tsx
  mobile/src/components/interview/components/applications/components/components.ts
  mobile/src/components/interview/components/applications/components/interview-parameters/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/interview-parameters/components/components.ts
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB377: * fix images displaying
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/components/category-cell/category-cell.tsx
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-379: * fixed menu scrollbar
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-356: * add placeholder if no interviewer or interview date
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * update isMentor check
  frontend/src/components/course-module/course-module.tsx
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Added interview creation flow tests
  backend/tests/src/lib/services/interview/interview.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/interview/interview-creation.ts
  backend/tests/src/tests/json-schemas/interview/interview-get-all.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/specs/Interview/Interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-356: * use flex in layout instead of fixed width
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * add margin bottom to params block
  mobile/src/components/interview/components/applications/components/interview-parameters/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-348: * changed types to string
  backend/src/data/models/user-details/user-details.model.ts
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-348: * minor upd
  frontend/src/components/common/datepicker/datepicker.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-359: * change import useEffect in the choose-mentor.tsx
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * fix - Prefixes for module should be same
  mobile/src/store/courses/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * fix user selection logic
  frontend/src/components/course-module/course-module.tsx
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-308: * changed columns width
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-262: * updated hook name
  frontend/src/components/common/header/header.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
