Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-259: + finished interview reducer for interview notes functionality
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-258: - ProtectedRoute, + AuthorizedProtectedRoute
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-266: * change label color and style
  mobile/src/components/interviews/common/enums/status-color.enum.ts
  mobile/src/components/interviews/interviews-table/components/label/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * change label font
  mobile/src/components/interviews/interviews-table/components/label/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * checkHasPermission hook in shared folder enchanced and finished interview reducer on frontend
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  frontend/src/store/root-reducer.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-257: * added get interviers on be, finished frontend part of getting and updating the interview
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/src/validation-schemas/interview/interview.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/package.json
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/interview/interview-update-request-arguments-dto.type.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/interview/components/components.ts
  frontend/src/components/interview/components/interview-item/helpers/get-interviewers-options-helper/get-interviewers-options.helper.ts
  frontend/src/components/interview/components/interview-item/helpers/helpers.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interview/interview.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
  frontend/src/validation-schemas/interview/interview.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-get-by-id-request-dto.type.ts
  shared/src/common/types/interview/interviews-get-interviewer-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-get-interviewers-by-category.validation-schema.ts
  shared/src/validation-schemas/interview/interview.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-257: * fixed error
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-150: * interviews get all swagger example
  backend/src/documentation/schemas/interviews/interviews-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-258: * modifier to model, + separate user-details type
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/common/types/user/users-with-details.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-258: * fix QueryBuilder type
  backend/src/data/models/user/user.model.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + notes display on the interview page
  frontend/src/components/interview/components/interview-notes-list/components/interview-note/interview-note-card.tsx
  frontend/src/components/interview/components/interview-notes-list/components/interview-note/styles.module.scss
  frontend/src/components/interview/components/interview-notes-list/interview-note-cards-list.tsx
  frontend/src/components/interview/components/interview-notes-list/styles.module.scss
  frontend/src/components/interview/interview.tsx
  frontend/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-274: * move postgres config to env
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-274: * move DATABASE_URL to sepatare step
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-274: * add mentors to env
  backend/tests/.env.example
  backend/tests/src/configs/development.config.ts
  backend/tests/src/configs/production.config.ts
  backend/tests/src/configs/staging.config.ts
  backend/tests/src/lib/common/enums/app/env.enum.ts
  backend/tests/src/typings/global.d.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-325: * fix interview error when interviewer is null
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/schemas/interviews/interviews-get-all-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-get-by-id-response-dto.yaml
  backend/src/documentation/schemas/user-details/user-details-response-dto.yaml
  backend/src/services/interview/interview.service.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-with-details.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-325: - redundant async await
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + linked the whole functionality manual testing left
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/interview/components/components.tsx
  frontend/src/components/interview/components/history-section/common.ts
  frontend/src/components/interview/components/history-section/components/components.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/components.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/interview.tsx
  frontend/src/components/interview/styles.module.scss
  frontend/src/validation-schemas/interview-note/interview-note.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/interview-note/interview-note-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-325: * fix gender type
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-258: * fix gender type
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-259: + basic functionality id implemented
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/styles.module.scss
  frontend/src/components/interview/styles.module.scss
  shared/src/common/types/interview-note/interview-note-author-dto.type.ts
  shared/src/common/types/interview-note/interview-note-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-259: * fixed notation issues and date formatting
  backend/src/data/models/interveiw-note/interview-note.model.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-124: + added fixes from qa
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/user-details/user-details-get-by-user-id.yaml
  backend/src/documentation/endpoints/user-details/user-details-manipulate.yaml
  backend/src/documentation/endpoints/user-details/user-details-update.yaml
  backend/src/documentation/schemas/user-details/user-details-response-dto.yaml
  backend/src/documentation/schemas/user-details/user-details-update-request-dto.yaml
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/user-details/components/settings-wrapper/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-124: * removed unnecessary getValidClasses
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * change category props
  mobile/src/components/courses/components/category-list/components/category/category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * provide single payload and remove useless code
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * move category select logic to courses screen
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-295: - button background color, - redundant action call
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-256: * implement react-hook-form
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/dropdown/common/constants.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/course/common.tsx
  mobile/src/components/course/course.tsx
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-79: * return only unique user permissions
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-275: * updated parameter for validation
  backend/src/api/permissions/permissions.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-258: * fix permissions
  backend/src/api/interviews/interviews.api.ts
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

* updated validation schema name
  backend/src/api/permissions/permissions.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-254: * fixed PR isuues
  backend/src/api/mentors/mentors.api.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/documentation/endpoints/courses/courses-add-mentor.yaml
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-256: * deleted comments
  mobile/src/components/common/dropdown/common/constants.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-257: * fixed imports, interview repo request optimized
  backend/src/data/repositories/interview/interview.repository.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-274: * little tests fixes
  backend/tests/src/tests/mocks/auth/sign-up/sign-up-request.mock.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-257: * user Details added on delete to relation
  backend/src/data/migrations/20220828093547_update_user_details_associations.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-303: + change routes on settings page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/user-details/components/settings-wrapper/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-310: + fixed height of the side bar
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-333: + allure and junit reports
  .gitignore
  backend/tests/.mocharc.js
  backend/tests/.reporterrc.json
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/rm.js
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs
