Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-274: returned start command back and added start:build
  .github/workflows/ci-integration.yml
  backend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-332: * fix showing default values on create
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-259: * fixed union typing and moved interviewNotesApi funcitonality to interviewsApi
  backend/src/api/api.ts
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/permission/permission.ts
  backend/src/common/types/types.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  backend/src/services/interview-note/interview-note.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/services.ts
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/services/interview-notes-api/interview-notes-api.service.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/store.ts
  shared/src/common/types/permission/check-permission-type.type.ts
  shared/src/common/types/permission/permission.ts
  shared/src/common/types/types.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-332: * small fix
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-318: + mentors to CI
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-256 * resolve conflicts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-280: * fixes for modal
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-241: + add results secion to pagination
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-326: * fixed grunt icon size
  frontend/public/category-icons/grunt.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-266: * use status colors the same as on the frontend side
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
  shared/src/common/enums/interview/interview-status.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-259: * fixed typos, types and perfomance issues in permission check
  backend/src/services/interview-note/interview-note.service.ts
  frontend/src/components/interview/components/history-section/common.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB251: * edit interview status cell
  frontend/src/components/interviews/components/status-cell/status-cell.tsx
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  shared/src/common/enums/case/case.enum.ts
  shared/src/helpers/string/change-string-case/change-string-case.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-256 * move category component to course/components/category/category
  mobile/src/components/course/components/category/category.tsx
  mobile/src/components/course/components/category/common/maps/category-key-to-image.map.ts
  mobile/src/components/course/components/category/common/maps/maps.ts
  mobile/src/components/course/components/category/components/category-image/category-image.tsx
  mobile/src/components/course/components/category/components/category-image/style.ts
  mobile/src/components/course/components/category/components/components.ts
  mobile/src/components/course/components/category/helpers/get-random-color.helper.ts
  mobile/src/components/course/components/category/helpers/helper.ts
  mobile/src/components/course/components/category/style.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/helper/get-default-value.helper.ts
  mobile/src/components/course/components/edit-course-category/helper/helpers.ts
  mobile/src/components/courses/components/category-list/category-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-280: * minor improvement
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB251: * fix types
  shared/src/common/types/interview/interviews-get-other-item-response-dto.type.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-334: + userResponse dto refactored
  backend/src/common/types/user/users-by-email-response-dto.type.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/uam-configure-group/components/users-table/users-table.tsx
  frontend/src/components/uam-configure-group/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam-configure-group/helpers/helpers.ts
  frontend/src/components/uam/components/users-table/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/helpers/helpers.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user/user-with-permissions.type.ts
  shared/src/common/types/user/users-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-256 * edit source for import Text-component into dropdown.tsx
  mobile/src/components/common/dropdown/dropdown.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-300: * made pagination btns size twice bigger
  frontend/src/components/common/pagination/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-330: + added styles for name field on create group screen
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-315: * change uam icon, section in menu
  frontend/src/assets/icons/uam.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/icon/icon.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB251: * fix sorts and styles
  frontend/src/assets/css/variables.scss
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interview/components/other-applications-table/components/status-cell/styles.module.scss
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB251: * status cell
  frontend/src/components/interviews/components/status-cell/status-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-314: + added notification about course adding
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/store/dashboard/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-315: * update uam icon
  frontend/src/assets/icons/uam.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-262: * updated syntax of checking if onClick is defined
  frontend/src/components/common/category/category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-334: * userService getByEmail refactored
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-293: * fixed btn area cursor pointer
  frontend/src/components/common/pagination/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-321: * edit button icon placement fixed
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-259: * permission check back to array
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-266: * categories look same as frond-end side
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-334: * backend tests refactored, fixed pr
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/user/user.service.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-334: * return null if entity is undefined
  backend/src/services/interview/interview.service.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-334: * changed type to number in userRepository - getById
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-266: + handle case when category haven`t image
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-304: * reformatted created at date in users table
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * move category-key-to-image.map.ts to ~/common/maps/maps/category-key-to-image
  mobile/src/common/maps/category-key-to-image/category-key-to-image.map.ts
  mobile/src/common/maps/maps.ts
  mobile/src/components/courses/components/category-list/common/maps/maps.ts
  mobile/src/components/courses/components/category-list/components/category-image/category-image.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-305: + added created column to groups table
  backend/src/services/group/group.service.ts
  frontend/src/components/uam/common/enums/groups-table-accessor.enum.ts
  frontend/src/components/uam/common/types/groups-table-row.type.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/components/groups-table/components/components.ts
  frontend/src/components/uam/components/groups-table/components/date-cell/date-cell.tsx
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB251: * remove modifier from query
  backend/src/data/repositories/interview/interview.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * ci integration tests
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-309: * updated submit function to close the modal
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
