Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-653: * removed unnecessary replenish value cards and changed cards placement structure to grid
  frontend/src/components/billing/common/common.ts
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-691: * revert changes
  mobile/src/common/enums/app/env.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-687: * fixed empty chat last message
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-692: * fixed telegram field
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-653: * centered billing cards columns and used repeat() func
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-653: * took back to flex displying
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-641: * fix status
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-641: * fix type user-details-response-dto.type
  shared/src/common/types/user-details/user-details-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-686: * hide task tab
  mobile/src/navigation/course-module/course-module.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB655: * sign out user when 401 error occurs
  frontend/src/store/middlewares/handle-unauthorized/handle-unauthorized.meddleware.ts
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-675: * Reset auth forms after submit
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-641: * comments
  mobile/src/components/course-module/components/task/task.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-676: * change interview application table style
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/components.ts
  mobile/src/components/interview/components/applications/components/application-form/components/course-category/course-category.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/course-category/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-680: + add success message when course is created
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-618: + breakpoints without sidebar
  frontend/src/components/dashboard/common.ts
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-659: * Change email field error text from `Email is wrong` to `Email is invalid`
  shared/src/common/enums/user/user-validation-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB677: + fixed choosing a mentor card
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-679: * fix change mentor error
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB617: + hover on sign-out btn removed
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB679: * add cancel button to choose mentor screen
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB679: * align items
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-692: + added tg link
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-mentor-card/styles.module.scss
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/components/my-students-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-700: * add some style changes before demo
  mobile/src/components/billing/common/common.ts
  mobile/src/components/billing/components/payment-screen/components/replenish-card/styles.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/mentor-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
