Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-208: * fix loader position when group is editing
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + getMentors route
  backend/src/api/courses/courses.api.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-279: * improved the way we get data from state
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-263: * replace webview with react-native-render-html
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: * fixed review issues
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/components/edit-button/edit-button.tsx
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-264: * PR comments
  mobile/src/components/course-modules/components/module.tsx
  mobile/src/components/course-modules/course-modules.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: + added mentee to mentor functionality
  backend/src/api/api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220824111325_add_mentees_to_mentors_table.ts
  backend/src/data/migrations/20220824112159_add_mentees_to_mentors_associations.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/mentees-to-mentors-error/mentees-to-mentors-error.exception.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/course-mentor/course-mentor.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-request-dto.type.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-response-dto.type.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-mentor/course-mentor-create-body.validation-schema.ts
  shared/src/validation-schemas/course-mentor/course-mentor.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-252: + getMentors action, reducer
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-264: * PR comments
  mobile/src/components/course-modules/course-modules.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB251: * edit imports
  frontend/src/components/interviews/components/components.ts
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/styles.module.scss
  frontend/src/components/interviews/helpers/columns-helpers/column-helpers.ts
  frontend/src/components/interviews/helpers/columns-helpers/get-interviews-columns.helper.ts
  frontend/src/components/interviews/helpers/helpers.ts
  frontend/src/components/interviews/helpers/rows-helpers/get-interviews-rows.helper.ts
  frontend/src/components/interviews/helpers/rows-helpers/rows-helpers.ts
  frontend/src/components/interviews/interviews.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/interviews/actions.ts
  frontend/src/store/interviews/common.ts
  frontend/src/store/interviews/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-262: + added enums for title and category * moved logic from category to category-list
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/search/search-values.ts
  frontend/src/common/enums/search/search.ts
  frontend/src/components/common/header/header.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/hooks/use-search/use-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-210: + sanitizing course module decription
  backend/src/services/course-module/course-module.service.ts
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-276: * set width to screen header
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: + added route to swagger
  backend/src/api/courses/courses.api.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses-add-mentor.yaml
  backend/src/documentation/schemas/courses/courses-add-mentor-request-dto.yaml
  backend/src/documentation/schemas/courses/courses-add-mentor-response-dto.yaml
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-264: * move components to course folder
  mobile/src/components/course/components/course-modules/components/module.tsx
  mobile/src/components/course/components/course-modules/components/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-276: * use shorter screen name
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-248: + edx vendor
  backend/src/services/edx/edx.service.ts
  frontend/public/edx.svg
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-248: + added edx requirements to example env
  backend/.env.example
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-254: * fixed route response in swagger
  backend/src/documentation/schemas/courses/courses-add-mentor-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-252: * fix getMentors
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-248: * improvements & updated way of working with client data from env
  backend/src/common/types/course/course-client-data-dto.type.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/edx/edx.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-163: + interviews-api.service.ts
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/types.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-163: + action type for interviews
  mobile/src/store/interviews/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + functionality to front-end
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/components.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + action to fetch interviews
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/types.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-261: * fixed namings
  backend/src/api/users/users.api.ts
  backend/src/services/user/user.service.ts
  frontend/package.json
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + interviews icon to navigate panel
  mobile/src/assets/icons/interview.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/interview/interview.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * move module to module folder
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-289: * fixed profile menu shrink
  frontend/src/components/user-details/components/settings-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-252: * style front-end button
  frontend/src/assets/img/mentor.png
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-252: * small fixes
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/documentation/endpoints/interviews/interviews-interviewee-get-pending-or-passed-category-ids.yaml
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-by-interviewee-id-dto.type.ts
  shared/src/common/types/interview/interviews-by-interviewee-id-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-by-interviewee-id.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB251: * interviews fixes
  frontend/src/components/interviews/common/enums/enums.ts
  frontend/src/components/interviews/common/enums/interview-status.enum.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/components/date-cell/date-cell.tsx
  frontend/src/components/interviews/components/status-cell/status-cell.tsx
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  frontend/src/store/interviews/reducer.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/interviews/interview-status.enum.ts
  shared/src/common/enums/interviews/interviews.ts
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-252: * fix method name
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-269: * course module render component fix
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-263: + sanitizeHTML helper
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: + show data in table
  mobile/src/components/interviews/common/enums/enums.ts
  mobile/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/common/types/types.ts
  mobile/src/components/interviews/helpers/get-columns-helper/get-interviews-columns.helper.ts
  mobile/src/components/interviews/helpers/helpers.ts
  mobile/src/components/interviews/interviews-table/interviews-table.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/interviews/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: * fixed white route problem with separate route
  backend/src/api/courses/courses.api.ts
  frontend/src/services/courses-api/courses-api.service.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + refactor interviews table
  mobile/src/components/interviews/interviews-table/interviews-table.tsx
  mobile/src/components/interviews/interviews-table/styles.ts
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/interviews/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: + label status
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/interviews-table/components/label/label.tsx
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: * fixed docs for new route
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-update-category-by-id.yaml
  backend/src/documentation/endpoints/courses/courses-by-id-operations.yaml
  backend/src/documentation/schemas/courses/course-get-by-id-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
