Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-442: + transactions table
  backend/src/data/migrations/20220906162845_add_transactions_table.ts
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * fixed readme.md course category price schema
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-401: * change margin sign out buttom
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * add fillColor to message icon
  mobile/src/assets/icons/message.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-433: * add chat conversations list functionallity
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/common/constants/constants.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/helpers/is-today-message.helper.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/styles.ts
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/conversations-list/styles.ts
  mobile/src/components/chat/components/current-conversation/current-conversation.tsx
  mobile/src/components/chat/components/current-conversation/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-454: * fixed down method
  backend/src/data/migrations/20220830154032_add_chat_messages_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-225: + udemy service
  .github/workflows/ci-integration.yml
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy.ts
  backend/tests/.env.example
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/src/lib/helpers/random/choose/choose.helper.ts
  backend/tests/src/lib/helpers/random/randint/randint.helper.ts
  backend/tests/src/lib/helpers/random/random.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/udemy/udemy-course-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-courses-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-module-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-442: * replaced imported type with duplicate
  backend/src/data/migrations/20220906143050_add_course_categories_prices_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * removed redundant cast
  backend/src/data/migrations/20220906143050_add_course_categories_prices_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-449: * default text if itnerview date not set
  frontend/src/components/interviews/components/date-cell/date-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-430: * fix action logic
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-419: + notification messages
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-419: + notification of successful group creation
  mobile/src/store/uam-groups-create/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-419: + notification of successful group editing
  mobile/src/store/uam-group-edit/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-419: + notification of successful update profile
  mobile/src/store/user-details/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-419: + notification of successful edit category
  mobile/src/store/courses/actions.ts
  mobile/src/store/interviews/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * used enum for redirection path
  frontend/src/components/chats/chats.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-456: + labeler action
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-348: * moved UserAge to shared, added max age
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/user/user.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-age.enum.ts
  shared/src/common/enums/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-399: * add actions/reducer getTask, getNotes
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/task-note/task-note.ts
  mobile/src/common/enums/task/task.ts
  mobile/src/common/types/task-note/task-note-form-request-dto.type.ts
  mobile/src/common/types/task-note/task-note-manipulate-request-dto.type.ts
  mobile/src/common/types/task-note/task-note.ts
  mobile/src/common/types/task/task.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course-module/components/task/components/components.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/components.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-manipulate-student/style.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-manipulate-student/task-manipulate-student.tsx
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-message-area/common.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-message-area/styles.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-message-area/task-message-area.tsx
  mobile/src/components/course-module/components/task/components/task-notes/components/components.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/components.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/task-states/styles.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/task-states/task-states.tsx
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/styles.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/task-note-card.tsx
  mobile/src/components/course-module/components/task/components/task-notes/styles.ts
  mobile/src/components/course-module/components/task/components/task-notes/task-notes.tsx
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/services/services.ts
  mobile/src/services/tasks-api/tasks-api.service.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
  mobile/src/store/store.ts
  mobile/src/validation-schemas/task-note/task-note-create.validation-schema.ts
  mobile/src/validation-schemas/task-note/task-note.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: + documentation
  backend/src/api/tasks/tasks.api.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-by-course-id-mentee-id.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-by-course-id-module-id-mentee-id.yaml
  backend/src/documentation/schemas/tasks/tasks-get-by-course-id-mentee-id-response-dto.yaml
  backend/src/documentation/schemas/tasks/tasks-get-by-course-id-module-id-mentee-id-response-dto.yaml
  shared/src/common/enums/api/tasks-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-437: * changed telegram to non required
  backend/src/services/user-details/user-details.service.ts
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-442: * now all user requests which take userDetails do not receive user's money balance
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-437: * improved check
  backend/src/services/user-details/user-details.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * user details does not return money balance by default
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB436: * changed user profile link
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Update backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB441: + added new migration, added
  backend/src/api/courses/courses.api.ts
  backend/src/data/migrations/20220906171820_update_courses_to_mentors_table.ts
  backend/src/data/models/courses-to-mentors/courses-to-mentors.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-433: * add send message icon
  mobile/src/assets/icons/send.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * import validation schema
  mobile/src/validation-schemas/chat/chat.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * make input label optional
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * add all chat logic
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/styles.ts
  mobile/src/components/chat/components/current-conversation/components/components.ts
  mobile/src/components/chat/components/current-conversation/components/message-form/helpers/get-default-message-payload.helper.ts
  mobile/src/components/chat/components/current-conversation/components/message-form/helpers/helpers.ts
  mobile/src/components/chat/components/current-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat/components/current-conversation/components/message-form/styles.ts
  mobile/src/components/chat/components/current-conversation/components/messages-list/components/components.ts
  mobile/src/components/chat/components/current-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat/components/current-conversation/components/messages-list/components/message/styles.ts
  mobile/src/components/chat/components/current-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat/components/current-conversation/components/messages-list/styles.ts
  mobile/src/components/chat/components/current-conversation/current-conversation.tsx
  mobile/src/components/chat/components/current-conversation/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * configure navigation for current chat screen
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-395: + added status select
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/interview/components/interview-item/helpers/get-interview-status-options-helper/get-interview-status-options-helper.ts
  frontend/src/components/interview/components/interview-item/helpers/helpers.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-433: * resolve lint errors and move chat-conversation to separate folder
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat-conversation/components/components.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/get-default-message-payload.helper.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/components/components.ts
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
  mobile/src/components/chat-conversation/styles.ts
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: - student-course page, add it to course page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/student-course/components/components.tsx
  frontend/src/components/student-course/components/modules-cards-container/components/components.tsx
  frontend/src/components/student-course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/student-course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/student-course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/student-course/components/modules-cards-container/styles.module.scss
  frontend/src/components/student-course/student-course.tsx
  frontend/src/components/student-course/styles.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/student-course/actions.ts
  frontend/src/store/student-course/common.ts
  frontend/src/store/student-course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB383: * fix columns resizing on course management and configure group
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Update backend/tests/src/tests/json-schemas/interview/creation/interview-creation.ts
  backend/tests/src/tests/json-schemas/interview/creation/interview-creation.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

Update backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
  backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js
