Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB513: * fix other applications category icons
  frontend/src/components/interview/common/types/other-applications-table-row.type.ts
  frontend/src/components/interview/components/other-applications-table/components/category-cell/category-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-430: + user mentoring permissions when becoming a mentor
  backend/src/common/enums/enums.ts
  backend/src/common/enums/group/group.ts
  backend/src/common/enums/group/protected-group-key.enum.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/group/group.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-505: * PR comments
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/object/object.ts
  mobile/src/helpers/object/sort-by-date/sort-by-date.helper.ts
  mobile/src/helpers/object/sort-by-dates/sort-by-dates.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-505: * PR comments
  mobile/src/helpers/object/sort-by-date/sort-by-date.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: + get-categories-options.helper
  mobile/src/components/course/components/edit-category-dropdown/edit-category-dropdown.tsx
  mobile/src/components/course/components/edit-category-dropdown/helpers/get-categories-options.helper.ts
  mobile/src/components/course/components/edit-category-dropdown/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-514: * fixed last message display
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/chats-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-435: * rename props courseCategoryId to defaultCategoryId
  mobile/src/components/course/components/edit-category-dropdown/edit-category-dropdown.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * remade replenish logic on frontend
  frontend/.env.example
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/stripe/stripe.ts
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/common.ts
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/styles.module.scss
  frontend/src/components/billing/components/replenish-cards-list/replenish-cards-list.tsx
  frontend/src/services/billing-api/billing-api.service.ts
  frontend/src/store/billing/actions.ts
  frontend/src/store/billing/reducer.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/stripe/payment-unit.enum.ts
  shared/src/common/enums/stripe/stripe.ts
  shared/src/common/types/billing/billing-card.type.ts
  shared/src/common/types/billing/billing-replenish-params-dto.type.ts
  shared/src/common/types/billing/billing-replenish-token.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-442: * fixed withdraw button style on frontend
  frontend/src/components/billing/billing.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-359: bugs
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-494: - removed extra string case changing
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-440: * improvement
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-481: * modified undefined check
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-435: + get-default-edit-course-category-payload.helper
  mobile/src/components/course/components/edit-category-dropdown/edit-category-dropdown.tsx
  mobile/src/components/course/components/edit-category-dropdown/helpers/get-default-edit-course-category-payload.helper.ts
  mobile/src/components/course/components/edit-category-dropdown/helpers/helpers.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course/edit-course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: * rename component EditCategoryDropdown to EditCategory
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-category-dropdown/edit-category.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course/edit-course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-481: * improved payload expression
  backend/src/services/interview/interview.service.ts
  frontend/src/store/interview/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-391: * updated formatting
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-505: PR comments
  mobile/src/components/chat-conversation/components/messages-list/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/messages-list/helpers/sort-messages-by-date/sort-messages-by-date.helper.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/object/object.ts
  mobile/src/helpers/object/sort-by-date/sort-by-date.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-516: + empty messages are not sent
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-message-has-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * replenishing works as expected now
  backend/src/api/billing/billing.api.ts
  backend/src/common/enums/stripe/payment-unit.enum.ts
  backend/src/common/enums/stripe/stripe.ts
  backend/src/common/types/billing/billing-replenish-arguments-dto.type.ts
  backend/src/common/types/billing/billing.ts
  backend/src/common/types/stripe/stripe-replenish-arguments-dto.type.ts
  backend/src/common/types/stripe/stripe.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/services.ts
  backend/src/services/stripe/stripe.service.ts
  frontend/.env.example
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/billing/common.ts
  frontend/src/store/billing/actions.ts
  frontend/src/store/billing/reducer.ts
  shared/src/common/types/billing/billing-card.type.ts
  shared/src/common/types/billing/billing-replenish-token.type.ts
  shared/src/common/types/billing/billing.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/billing/billing-replenish.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-435: * rename edit-category-dropdown dir
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-category/edit-category.tsx
  mobile/src/components/course/components/edit-category/helpers/get-categories-options.helper.ts
  mobile/src/components/course/components/edit-category/helpers/get-default-edit-course-category-payload.helper.ts
  mobile/src/components/course/components/edit-category/helpers/helpers.ts
  mobile/src/components/course/components/edit-category/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-430: * checkIsProtectedGroup as a separate method, - redundant object value
  backend/src/data/migrations/20220912095303_add_mentors_group.ts
  backend/src/services/group/group.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-435: * rename edit-course-category to edit-course
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/styles.ts
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/course/course.tsx
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB353: + chat user dto removed
  frontend/src/common/types/chat-message/chat-message-get-all-messages-from-chat-dto.type.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/store/chats/reducer.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/store/chat/reducer.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-user-response-dto-type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-435: refactoring according PR comments
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/courses-management/common.ts
  mobile/src/store/courses-management/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: handle empty value placeholder inside CategoryCell
  mobile/src/components/common/category-cell/category-cell.tsx
  mobile/src/components/common/category-cell/styles.ts
  mobile/src/components/course/components/edit-category/helpers/get-default-edit-course-category-payload.helper.ts
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB388: + specific error messages on deleting the user added
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-439: + socket.io package
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/enums.ts
  backend/src/common/enums/socket/socket.ts
  backend/src/server.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/socket/socket-event.enum.ts
  shared/src/common/enums/socket/socket.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB430: * update syntax
  backend/src/data/migrations/20220912095303_add_mentors_group.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-411: + notification to big image
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: + basic socket handlers
  backend/.env.example
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/server.ts
  backend/src/socket/handlers/handlers.ts
  backend/src/socket/socket.ts
  shared/src/common/enums/socket/socket-event.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-441: * fixed avatar size check
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-516: * modified check
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-message-has-not-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-message-has-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-516: * changed naming
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-is-message-has-not-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-message-has-not-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB441: + pr fixes
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  frontend/src/components/common/table/table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-505: * remove unnecessary helper
  mobile/src/components/chat-conversation/components/messages-list/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/messages-list/helpers/sort-messages-by-date/sort-messages-by-date.helper.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-503: + const to class, - redundant check
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-411: * more readable check
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-503: + custom auth error
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-443: * status value
  backend/src/data/migrations/20220909101329_add_status_to_mentees_to_mentors_table.ts
  shared/src/common/enums/mentees-to-mentors/mentees-to-mentors-status.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
