Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-505: * replace flatlist with sectionlist and add date separator
  mobile/src/components/chat-conversation/components/messages-list/components/components.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-505: * add SectionList to common exports
  mobile/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + billing store
  backend/src/services/billing/billing.service.ts
  frontend/src/common/types/billing/billing.ts
  frontend/src/common/types/types.ts
  frontend/src/services/billing-api/billing-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/billing/actions.ts
  frontend/src/store/billing/common.ts
  frontend/src/store/billing/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-411: * moved selection limit to constant rename contentType
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/services/user-details-api/user-details-api.service.ts
  shared/src/common/enums/file/content-type.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-434: * delete unnecessary types in conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-490: * refactor
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + billing page markup
  frontend/src/components/app/app.tsx
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/common.ts
  frontend/src/components/billing/components/components.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/components.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/styles.module.scss
  frontend/src/components/billing/components/replenish-cards-list/replenish-cards-list.tsx
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
  frontend/src/components/billing/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-505: * add SectionList to common exports
  mobile/src/components/chat-conversation/components/messages-list/helpers/group-messages-by-date/group-messages-by-date.helper.ts
  mobile/src/components/chat-conversation/components/messages-list/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + preventing withdraw if there are less then 1 dollar on balance
  backend/src/exceptions/billing-error/billing-error.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/services/stripe/stripe.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/billing/billing.tsx
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB441: + removed double dispatch
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/my-courses/components/actions-cell/actions-cell.tsx
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/store/my-courses/actions.ts
  frontend/src/store/my-courses/reducer.ts
  frontend/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB503: * fix course and course-module pages protection for mentors
  backend/src/api/courses/courses.api.ts
  backend/src/plugins/authorization/authorization.plugin.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-503: * small fixes
  backend/src/plugins/authorization/authorization.plugin.ts
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB441: + strict equation fixed
  frontend/src/store/my-courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-503: + route to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-check-is-mentor-for-mentee.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-503: * use select 1
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-478: * reset input field on course addition fail
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-441: * avoid any
  mobile/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-503: * move constant out of function
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-510: * change page size for udemy api
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-335: - redundant slash
  frontend/src/services/groups-api/groups-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-359: add changeMentor action
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-490: * comments
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-493: * fixed category element on course page
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/category/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB489: * fix custom validation messages
  shared/src/common/enums/chat/chat-validation-message.enum.ts
  shared/src/common/enums/chat/chat.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-message.enum.ts
  shared/src/common/enums/interview/interview-validation-message.enum.ts
  shared/src/common/enums/interview/interview.ts
  shared/src/common/enums/mentor/mentor-validation-message.enum.ts
  shared/src/common/enums/mentor/mentor.ts
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/src/validation-schemas/course-mentor/course-mentor-create.validation-schema.ts
  shared/src/validation-schemas/course/course-create.validation-schema.ts
  shared/src/validation-schemas/course/course-update-category.validation-schema.ts
  shared/src/validation-schemas/group/group-configure-client.validation-schema.ts
  shared/src/validation-schemas/group/group-create-client.validation-schema.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
  shared/src/validation-schemas/interview-note/interview-note-create.validation-schema.ts
  shared/src/validation-schemas/interview/interview-create.validation-schema.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
  shared/src/validation-schemas/mentor/mentor-create-body.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-511: refactor
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-411: * change type to Blob
  mobile/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-481: forbidden update interviewer w/o perms
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/store/interview/actions.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-493: * using early return
  frontend/src/components/common/category/category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-505: * add separate sort date helper
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-505: * add separate sort date helper to shared
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/sort-dates-desc/sort-dates-desc.helper.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-249: * fixed intercative element and visually hidden label
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-249: * fixed issue devoted to changes in dev branch
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-505: * unify sort date helper
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/sort-dates-desc/sort-dates-desc.helper.ts
  shared/src/helpers/date/sort-dates/sort-dates.helper.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-430: + mentors group migration
  backend/src/data/migrations/20220912095303_add_mentors_group.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-512: * fixed status sizes
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-505: * move date helper to local helpers
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/object/object.ts
  mobile/src/helpers/object/sort-by-dates/sort-by-dates.helper.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-442: + react-stripe-checkout
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-442: + checkout button draft
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-494: + stylized status in tasks
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-440: + added year display, if year is not current
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/styles.module.scss
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/helpers/date/check-is-current-year/check-is-current-year.helper.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js
