Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-232: + button theme
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/app-button-variant.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/theme.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-163: * refactor according PR comments
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + mentorsToCourseCategories model, repo
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/mentors/mentors.ts
  backend/src/common/types/types.ts
  backend/src/data/models/mentors-to-course-categories/mentors-to-course-categories.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/mentors-to-course-categories/mentors-to-course-categories.repository.ts
  backend/src/data/repositories/repositories.ts
  shared/src/common/types/mentors/mentor-for-category-request-dto.type.ts
  shared/src/common/types/mentors/mentors.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-250: * fixed PR issues
  frontend/src/common/types/navigation-menu/subnavigation-menu-item.type.ts
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/get-permitted-subroutes.helper.ts
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-248: * backup commit before merge
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/course/course-host.enum.ts
  backend/src/common/types/edx/edx-course-get-response-dto.type.ts
  backend/src/common/types/edx/edx.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220823101346_add_edx_vendor.ts
  backend/src/services/course/course.service.ts
  backend/src/services/edx/edx.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/vendor/vendor-key.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-250: + interview icon
  frontend/src/assets/icons/interview.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/icon/icon.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-232: * add theme to button on UAM screen
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * refactor: add FAB component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/fab/fab.tsx
  mobile/src/components/common/fab/styles.ts
  mobile/src/components/courses/components/add-course-button/add-course-button.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-261: * added documentation, changed structure
  backend/src/api/users/users.api.ts
  backend/src/documentation/endpoints/users/users-delete.yaml
  backend/src/services/user/user.service.ts
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-261: * fixed non-null assertion
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-252: + mentorsToCourseCategories service, coursesToMentors table, model
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/mentors/mentors.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220823155353_mentors_to_course_categories_unique_constraint.ts
  backend/src/data/migrations/20220823161510_add_courses_to_mentors_table.ts
  backend/src/data/migrations/20220823161658_add_courses_to_mentors_associations.ts
  backend/src/data/models/courses-to-mentors/courses-to-mentors.model.ts
  backend/src/data/models/models.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/mentors-to-course-categories/mentors-to-course-categories.service.ts
  backend/src/services/services.ts
  shared/src/common/types/mentors/mentor-for-category-response-dto.type.ts
  shared/src/common/types/mentors/mentors.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-272: * PR comments
  mobile/src/components/uam-configure-group/common/types/selected-items-values.type.ts
  mobile/src/components/uam-configure-group/common/types/types.ts
  mobile/src/components/uam-configure-group/components/action-cell/action-cell.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-272: * set default page on every render
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + coursesToMentors repo, service
  backend/src/common/types/courses-to-mentors/courses-to-mentors.ts
  backend/src/common/types/mentors-to-course-categories/mentors-to-course-categories.ts
  backend/src/common/types/mentors/mentors.ts
  backend/src/common/types/types.ts
  backend/src/data/models/courses-to-mentors/courses-to-mentors.model.ts
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/mentors-to-course-categories/mentors-to-course-categories.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentors-to-course-categories/mentors-to-course-categories.service.ts
  backend/src/services/services.ts
  shared/src/common/types/courses-to-mentors/courses-to-mentors-request-dto.type.ts
  shared/src/common/types/courses-to-mentors/courses-to-mentors-response-dto.type.ts
  shared/src/common/types/courses-to-mentors/courses-to-mentors.ts
  shared/src/common/types/mentors-to-course-categories/mentors-to-course-categories-request-dto.type.ts
  shared/src/common/types/mentors-to-course-categories/mentors-to-course-categories-response-dto.type.ts
  shared/src/common/types/mentors-to-course-categories/mentors.ts
  shared/src/common/types/mentors/mentor-for-category-request-dto.type.ts
  shared/src/common/types/mentors/mentor-for-category-response-dto.type.ts
  shared/src/common/types/mentors/mentors.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-272: * use reduce instead of map
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: + course category display and necessary for that services on backend
  backend/src/api/categories/categories.api.ts
  backend/src/common/types/course-category/course-category.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/validation-schemas/course-category/course-category.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  shared/src/common/enums/api/categories-api-path.enum.ts
  shared/src/common/types/course-category/course-category-get-by-id-request-params-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-categories/course-categrory-get-by-id-request-params-dto.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-235: * fixed file name
  backend/src/helpers/helpers.ts
  backend/src/helpers/sanitize/sanitize.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-269: + docs for categories by id
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/categories/categories-get-by-id.yaml
  backend/src/documentation/schemas/categories/category-get-by-id-request-dto.yaml
  backend/src/documentation/schemas/categories/category-get-by-id-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-232: * add icon to button component
  mobile/src/assets/icons/plus.svg
  mobile/src/common/enums/ui/app-button-variant.enum.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-232: * add TextProps to Text component
  mobile/src/components/common/text/text.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-272: * create get selected items helper
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-selected-items-values/get-selected-items-values.helper.ts
  mobile/src/components/uam-configure-group/helpers/helpers.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB251: * permission check
  backend/src/api/interviews/interviews.api.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-163: * paddingTop for uam configure group tables
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: + course update validation schemas, dtos types and api
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/category/category.ts
  shared/src/common/types/course-category/course-category-get-all-item-response-dto.type.ts
  shared/src/common/types/course-category/course-category-get-all-response-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/course/course-update-category-request-dto.type.ts
  shared/src/common/types/course/course-update-request-params-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-update-category.validation-schema.ts
  shared/src/validation-schemas/course/course-update-params.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-232: * renamed AppButtonVariant to ButtonVariant
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/theme.ts
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-269: + update course category service and repository
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-269: + docs for updating course category
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses.yaml
  backend/src/documentation/schemas/courses/course-get-by-id-response-dto.yaml
  backend/src/documentation/schemas/courses/course-update-category-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-269: * changed course category update method return type
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-261: * removed 400 code for user deletion
  backend/src/api/users/users.api.ts
  backend/src/documentation/endpoints/users/users-delete.yaml
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-203: * refactor
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/add-course/common/constants/constants.ts
  mobile/src/components/courses/components/add-course/common/constants/create-course.constant.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * refactor
  mobile/src/components/common/common.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * resolve conflicts with types
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-261: * fixed down method on migration, replaced upsert by create and update
  backend/.eslintrc.yml
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/user/user-gender.ts
  backend/src/common/enums/user/user.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-with-details/user-with-details.ts
  backend/src/data/migrations/20220822100917_add_fullname_to_user_details.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user-details/user-details.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/user/user.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/select.data.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user-gender/user-gender.ts
  shared/src/common/enums/user/user-gender.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details-update-info-request-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-272: * fix bug with selectiong items on create and create/edit functionallity
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-232: * refactor button
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/button/theme.ts
  mobile/src/components/common/text/text.tsx
  mobile/src/components/uam/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-261: * namings fixed
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options.helper.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/user/user-gender.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-203: * move BackButton to components/common/common
  mobile/src/components/common/back-button/back-button.tsx
  mobile/src/components/common/back-button/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * move BackButton to components/common/common
  mobile/src/components/common/common.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/navigation/app/components/back-button/back-button.tsx
  mobile/src/navigation/app/components/back-button/styles.ts
  mobile/src/navigation/app/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: * fix import into uam-configure-group.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
