Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB418: * select is searchable
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB418: + isSearchable prop
  frontend/src/components/common/select/select.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-462: - background for popup button
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-405: * fixed mentors and students rendering
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-405: - removed async
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-419: + getCoursesWithCategory to store
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-255: + negative tests, * fix udemy service
  backend/tests/src/lib/services/courses/courses.service.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-450: * course add input cleared after adding a course
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-390: * modal is closed while the course is being added
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-437: * fixed issues
  backend/src/services/user-details/user-details.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-390: - redundant code for this task
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: + categories prices model
  backend/.env.example
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/stripe/payment-method.enum.ts
  backend/src/common/enums/stripe/payment-mode.enum.ts
  backend/src/common/enums/stripe/stripe.ts
  backend/src/data/models/course-categories-price/course-categories-price.model.ts
  backend/src/services/stripe/stripe.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-427: + no data message to history section
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-442: * replaced string columns to return with constant array
  backend/src/data/repositories/user-details/user-details.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-405: * removed nested ternary expressions
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-435: + show data in table
  mobile/src/components/courses-management/common/enums/courses-management-table-accessor.enum.ts
  mobile/src/components/courses-management/common/enums/enums.ts
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/common/types/types.ts
  mobile/src/components/courses-management/courses-management-table/courses-management-table.tsx
  mobile/src/components/courses-management/courses-management-table/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/components/courses-management/helpers/get-courses-management-columns-helper/get-courses-management-columns.helper.ts
  mobile/src/components/courses-management/helpers/helpers.ts
  mobile/src/store/actions.ts
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/courses-management/common.ts
  mobile/src/store/courses-management/reducer.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: + action button with a pencil icon
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/components/action-cell/action-cell.tsx
  mobile/src/components/courses-management/components/action-cell/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-399: * delete task-states component
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/common/maps/maps.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/common/maps/status-to-color.map.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/components.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/task-states/styles.ts
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/components/task-states/task-states.tsx
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/task-note-card.tsx
  mobile/src/components/course-module/components/task/task.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB418: * fix input text color
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/select/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-399: * add constants to style.ts task-note-card
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-358: * change format of date for note-card
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * no falsy value inside styles
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-255: * refactor tests to simplier checks
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/categories/get-all/get-all-categories.spec.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-390: * reset course input after submit
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: + course category price repository
  backend/src/common/types/course-category-price/course-category-price.ts
  backend/src/common/types/types.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  shared/src/common/types/course-category-price/course-category-price-get-all-item-response-dto.type.ts
  shared/src/common/types/course-category-price/course-category-price-get-all-response-dto.type.ts
  shared/src/common/types/course-category-price/course-category-price.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-422: * added optional chaining to updateIsMentorChoosingEnabled action
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB444: + request body+
  backend/src/documentation/endpoints/interviews/interviews-update-by-id.yaml
  backend/src/documentation/schemas/interviews/interviews-update-interviewer-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-453: * add skipping authorization
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-446: + schema to swagger
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-391: * replaced multiple where clause with whereIn
  backend/src/data/repositories/interview/interview.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-459: * center uam create btn and remove redundant margin
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + transaction model, transaction dtos, user repository get user with money balance
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/transaction/transaction-status.enum.ts
  backend/src/common/enums/transaction/transaction.ts
  backend/src/common/types/transaction/transaction-create-arguments-dto.type.ts
  backend/src/common/types/transaction/transaction-get-all-item-response-dto.type.ts
  backend/src/common/types/transaction/transaction-update-status-dto-type.ts
  backend/src/common/types/transaction/transaction.ts
  backend/src/common/types/types.ts
  backend/src/data/models/models.ts
  backend/src/data/models/transaction/transaction.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/data/repositories/user/user.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-458: * unify user details page buttons
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-442: * typed the default details columns to return
  backend/src/data/repositories/user-details/user-details.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-395: * fixed default value and style
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-422: - removed type casting + check if user is not null before updateIsMentorChoosingEnabled
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-405: * fixed naming
  frontend/src/components/course/course.tsx
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
