Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-631: * delete unnecessary img
  mobile/src/navigation/courses/courses.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: * delete unnecessary img
  frontend/src/assets/img/default-course-image.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-645: * fixed paddings on billing page
  frontend/src/components/billing/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-524: * add trimming spaces for text field
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-673: * add price and category to course card
  mobile/src/components/course-card/components/category-label/category-label.tsx
  mobile/src/components/course-card/components/category-label/styles.ts
  mobile/src/components/course-card/components/components.ts
  mobile/src/components/course-card/course-card.tsx
  mobile/src/components/course-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-618: + breakpoints
  frontend/src/components/dashboard/common.ts
  frontend/src/components/dashboard/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-626: * use binding for query
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB651: * resizable textarea
  frontend/src/components/common/common.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/textarea/textarea.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-673: * PR comments
  mobile/src/components/course-card/course-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: * refactor, split course navigation
  mobile/src/common/enums/navigation/uam-screen-name.enum.ts
  mobile/src/components/my-courses/my-courses.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/chat/chat.navigation.tsx
  mobile/src/navigation/configure-course/common/constants/constants.ts
  mobile/src/navigation/configure-course/configure-course.navigation.tsx
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course-stack.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/courses-management/common/constants/constants.ts
  mobile/src/navigation/courses/common/constants/constants.ts
  mobile/src/navigation/courses/courses.navigation.tsx
  mobile/src/navigation/interviews/interviews.navigation.tsx
  mobile/src/navigation/my-courses-results/common/constants/constants.ts
  mobile/src/navigation/my-courses-results/my-courses-results.navigation.tsx
  mobile/src/navigation/my-courses-results/styles.ts
  mobile/src/navigation/my-courses/common/constants/constants.ts
  mobile/src/navigation/my-courses/my-courses.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: - delete useless style.ts
  mobile/src/navigation/my-courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-638: * decrease avatar size
  mobile/src/components/course/components/my-mentor/components/mentor-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-638: * reduce button size
  mobile/src/components/common/button/styles.ts
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: * comments
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/configure-course-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-tabs-name.enum.ts
  mobile/src/common/enums/navigation/courses-screen-name.enum.ts
  mobile/src/common/enums/navigation/my-courses-results-screen-name.enum.ts
  mobile/src/common/enums/navigation/my-courses-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/navigation/configure-course-navigation-param-list.type.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/common/types/navigation/course-tab-navigation-param-list.type.ts
  mobile/src/common/types/navigation/courses-navigation-param-list.type.ts
  mobile/src/common/types/navigation/my-courses-navigation-param-list.type.ts
  mobile/src/common/types/navigation/my-courses-results-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/course/course.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/courses-as-mentor.tsx
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
  mobile/src/navigation/configure-course/common/constants/constants.ts
  mobile/src/navigation/configure-course/configure-course.navigation.tsx
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/my-courses-results/my-courses-results.navigation.tsx
  mobile/src/navigation/my-courses/my-courses.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-638: * refactor according comment
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-573: * app schema
  docs/app-architecture/app-arch.png
  docs/app-architecture/app-arch.py
  docs/app-architecture/resources/stripe-logo.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-573: - redundant line
  docs/app-architecture/app-arch.py
Due: npm run lint:editorconfig && npm run lint:fs

* application architecture schema
  docs/app-architecture/app-arch.png
Due: npm run lint:editorconfig && npm run lint:fs

development: * stripe public key for mobile
  mobile/.env.example
  mobile/src/common/enums/app/env.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

development: * stripe public key at codemagic config
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-631: * imports
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-656: * changed error message when email is already taken
  backend/src/services/auth/auth.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB651: * small fixes
  frontend/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-678: * add no courses placeholder
  mobile/src/components/my-courses/components/courses-as-mentor/courses-as-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-674: + added white route
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-641: * add check for interview on the course screen
  mobile/src/navigation/course/course.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-682: * add debounce to get updated messages list
  mobile/src/components/chat-conversation/chat-conversation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB651: * simplify getting line height
  frontend/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-657: * set max upload size to 5mb
  .platform/nginx/00_myconf.config
  .platform/nginx/conf.d/proxy.conf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-657: * cd, trigger on platform settings change
  .github/workflows/cd.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-687: + added chats sorting by date
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/helpers/helpers.ts
  frontend/src/components/chats/components/chats-list/helpers/sort-chats-by-date-helper/sort-chats-by-date-helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-657: * max upload file size backend
  backend/src/common/enums/file/file-size-bytes-value.enum.ts
  backend/src/server.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-678: * no data messages on the same height for my courses screen
  mobile/src/components/my-courses/components/courses-as-mentor/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB693: + transactions header
  frontend/src/components/billing/components/transactions-table/styles.module.scss
  frontend/src/components/billing/components/transactions-table/transactions-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-692: + added tg field to mentor and students
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/components/my-students-container/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB683: * clean mentees state
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-691: * fix billing replenish
  mobile/src/common/enums/app/env.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB688: * fetch user details from app component
  frontend/src/components/app/app.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-685: * change text and style
  mobile/src/components/course-module/components/task/styles.ts
  mobile/src/components/course-module/components/task/task.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
