Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-440: * fixes
  frontend/src/components/chats/components/current-chat/components/messages-list/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  shared/src/helpers/date/check-is-today/check-is-today.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/is-today-check/is-today-check.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-385: * use generateDynamicPath helper
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/store/course-module/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-440: * imports fix
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-435: * refactor ActionCell
  mobile/src/components/courses-management/components/action-cell/action-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-482: * fix broken userDetails queries
  backend/src/data/repositories/user-details/user-details.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-458: * move height style to button component
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/styles.module.scss
  frontend/src/components/course/components/choose-mentor-button/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/dashboard/components/add-course-modal/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-453: * rebuild navigation structure
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/navigation/get-permitted-screens/get-permitted-screens.helper.ts
  mobile/src/helpers/navigation/get-screens-by-auth/get-screens-by-auth.helper.ts
  mobile/src/helpers/navigation/navigation.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/app/common/types/drawer-navigation-item.type.ts
  mobile/src/navigation/app/common/types/drawer-navigation-list.type.ts
  mobile/src/navigation/app/common/types/types.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/helpers/helpers.ts
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-permitted-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * rebuild navigation structure
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * resolve conflicts
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: + navigate to edit category
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * fix import in drawer list
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-458: * fix icon buttons
  frontend/src/components/common/password-input/styles.module.scss
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/courses-management/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-225: * rename random functions
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/src/lib/helpers/random/get-random-array-element/get-random-array-element.helper.ts
  backend/tests/src/lib/helpers/random/get-random-integer/get-random-integer.helper.ts
  backend/tests/src/lib/helpers/random/random.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-435: + navigate to edit course screen instead edit category
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB353: * getAllChats fixed - added empty chats
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message-get-empty-chats-request-dto.type.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/types/chat-message/chat-message-get-all-last-with-empty-chats-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-empty-chat-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB353: * fixed linter error
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB384: + qa fixes in progress
  backend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB384: + qa fixes done
  frontend/package.json
  frontend/src/components/courses-management/common/types/courses-management-table-title-props.type.ts
  frontend/src/components/courses-management/common/types/types.ts
  frontend/src/components/courses-management/components/components.ts
  frontend/src/components/courses-management/components/title-cell/styles.module.scss
  frontend/src/components/courses-management/components/title-cell/title-cell.tsx
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB384: - removed --fix
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB384: - removed --fix
  backend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-453: * rename props var
  mobile/src/helpers/navigation/get-screens-by-auth/get-screens-by-auth.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

rebuild files structure and use one common flatlist
  mobile/src/components/course/components/course-header/course-header.tsx
  mobile/src/components/course/components/course-header/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/components/module/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * PR comments
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB257: + added margin to the select on the interview page
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-411: * display selected avatar
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-443: + base methods
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-453: * remove redundant code
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/permissions-api/permissions-api.service.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/services/users-api/users-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-486: * add placeholder to other applications table
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interview/components/applications/components/other-applications/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-475: * fixed personal info styles
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-479: * set scrollbar to auto
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-458: - width from buttons
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-486: * PR comments
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-481: + added manage interview permission
  backend/src/api/interviews/interviews.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-451: * rename file and folder
  mobile/src/components/course/components/course-content/course-content.tsx
  mobile/src/components/course/components/course-content/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-481: * fixed issues
  backend/src/api/interviews/interviews.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB353: + added spinner onto the left side bar in the chat
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-451: * change module items separator style
  mobile/src/components/course/components/course-content/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-441: * fix lint error
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: * fix password icon
  mobile/src/components/common/input-secure/input-secure.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-401: * fix date picker theme
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
