Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-346: * fix logic bug
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-308: * fixed text overflow ellipsis
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-249: chat basic markup done. Coupling left
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/common.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/style.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/validation-schemas/chat-message/chat-message.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-373: * changed coursera logo
  frontend/public/coursera.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-356: * set large size as default and refactor code
  mobile/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * PR comments
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interviews/interviews-table/components/id-cell/id-cell.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/strings/strings.ts
  mobile/src/helpers/strings/word-capitalize/word-capitalize.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * last chats display done
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/chats-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-356: * simplify capitalize helper
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/strings/capitalize/capitalize.ts
  mobile/src/helpers/strings/strings.ts
  mobile/src/helpers/strings/word-capitalize/word-capitalize.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * use new capitalize
  mobile/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * rename status-cell component to chip
  mobile/src/components/common/chip/chip.tsx
  mobile/src/components/common/chip/styles.ts
  mobile/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * remove trash
  mobile/src/components/interview/components/other-applications/components/application-card/application-card.tsx
  mobile/src/components/interview/components/other-applications/components/application-card/styles.ts
  mobile/src/components/interview/components/other-applications/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * migration and service fixes
  backend/.env.example
  backend/src/common/enums/app/env.enum.ts
  backend/src/data/migrations/20220901193312_user_details_rename_avatar_url_to_avatar_file_id.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/user-details-error/user-details-error.exception.ts
  backend/src/services/services.ts
  backend/src/services/user-details/user-details.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-126: * fix file plugin
  backend/src/plugins/file/file.plugin.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-362: + add helpers for course description filtering
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/sanitize/get-text-without-tags/get-text-without-tags.helper.ts
  mobile/src/helpers/sanitize/sanitize.ts
  mobile/src/helpers/strings/get-words-count-from-string/get-words-count-from-string.helper.ts
  mobile/src/helpers/strings/strings.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-362: * add styles
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-362: * add course short description
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-short-description/course-short-description.tsx
  mobile/src/components/course/components/course-short-description/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-362: * fix bug with selected category after screen lose focus
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * file size limit
  backend/src/api/api.ts
  backend/src/plugins/file/file.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-362: * move description words count to enum
  mobile/src/common/enums/course/course-description-first-words-count.enum.ts
  mobile/src/common/enums/course/course.ts
  mobile/src/common/enums/enums.ts
  mobile/src/components/course/components/course-short-description/course-short-description.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: - redundant content type
  frontend/src/services/user-details-api/user-details-api.service.ts
  shared/src/common/enums/file/content-type.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-362: * fix check for see more showing
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * update reducer
  frontend/src/store/user-details/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-360: * catch error when createMentor
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: + notification on successful update
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/store/user-details/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB381: * style datepicker
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/common/datepicker/styles.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-360: * fix merge conflict
  mobile/src/components/course/course.tsx
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/interviews/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * remove duplicate code
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-362: * PR comments
  mobile/src/common/enums/course/course-description-first-words-count.enum.ts
  mobile/src/common/enums/course/course.ts
  mobile/src/common/enums/enums.ts
  mobile/src/components/course/common/constants/constants.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-description/course-description.tsx
  mobile/src/components/course/components/course-description/styles.ts
  mobile/src/components/course/components/course-short-description/course-short-description.tsx
  mobile/src/components/course/course.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/strings/get-words-count-from-string/get-words-count-from-string.helper.ts
  mobile/src/helpers/strings/strings.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * move plugin registration
  backend/src/api/api.ts
  backend/src/plugins/file/file.plugin.ts
  backend/src/server.ts
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB364: * same date format on all tables
  frontend/src/components/interview/components/other-applications-table/components/date-cell/date-cell.tsx
  frontend/src/components/interviews/components/date-cell/date-cell.tsx
  frontend/src/components/uam-configure-group/components/date-cell/date-cell.tsx
  frontend/src/components/uam/components/groups-table/components/date-cell/date-cell.tsx
  frontend/src/components/uam/components/users-table/components/date-cell/date-cell.tsx
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-362: * simplify constant and add check for showing dots in short description
  mobile/src/components/course/common/constants/constants.ts
  mobile/src/components/course/components/course-description/course-description.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-392: * add scrollbar to all tables and add margin before pagination where needed
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/users-table/components/action-cell/styles.ts
  mobile/src/components/uam/users-table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-362: * add hislop to pressable
  mobile/src/components/course/components/course-description/course-description.tsx
  mobile/src/components/course/components/course-description/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * remove try/catch
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * other applications table
  mobile/src/components/common/chip/styles.ts
  mobile/src/components/interview/components/applications/applications.tsx
  mobile/src/components/interview/components/applications/components/components.ts
  mobile/src/components/interview/components/applications/components/other-applications/helpers/get-other-interviews-columns-helper/get-other-interviews-columns-helper.ts
  mobile/src/components/interview/components/applications/components/other-applications/helpers/helpers.ts
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interview/components/applications/components/other-applications/styles.ts
  mobile/src/components/interview/components/other-applications/other-applications.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * messages and last messages are displayed
  backend/src/api/chats/chats.api.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/style.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/components/chats/styles.module.scss
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/types/chat-message/chat-message-get-all-request-params-dto.type.ts
  shared/src/validation-schemas/chat-message/chat-message-get-all.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-394: * change tables style
  mobile/src/components/common/checkbox/styles.ts
  mobile/src/components/common/table/styles.ts
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
  mobile/src/components/interviews/interviews-table/components/id-cell/styles.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
  mobile/src/components/interviews/interviews-table/interviews-table.tsx
  mobile/src/components/interviews/interviews-table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-358: * add notes
  mobile/src/common/types/types.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/interview/components/history/common.ts
  mobile/src/components/interview/components/history/components/components.ts
  mobile/src/components/interview/components/history/components/note-cards-list/components/components.ts
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/styles.ts
  mobile/src/components/interview/components/history/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
  mobile/src/validation-schemas/interview-note/interview-note.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-357: * refactoring table component
  mobile/src/components/common/checkbox/styles.ts
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews-table/components/id-cell/styles.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
  mobile/src/components/interviews/interviews-table/interviews-table.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/users-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/users-table/components/action-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-394: * change checkbox style
  mobile/src/components/common/checkbox/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
