Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-93: * changed back the response for delete group to 200
  backend/src/api/groups/groups.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: + users table pagination
  frontend/src/components/app/app.tsx
  frontend/src/components/configurate-group/components/users-table/users-table.tsx
  frontend/src/components/configurate-group/configurate-group.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-75: * update group get by id
  backend/src/data/repositories/group/group.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: * update group by id repo method
  backend/src/data/repositories/group/group.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: * fix variable names
  backend/src/common/types/groups/groups-with-permission-ids-dto.type.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/group/group.service.ts
  frontend/src/components/configurate-group/configurate-group.tsx
  shared/src/common/types/groups/groups-get-by-id-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-120: * resolve types error
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/group/group.ts
  mobile/src/components/uam/components/uam-group-creation/common/types/permissions-table-row.type.ts
  mobile/src/components/uam/components/uam-group-creation/common/types/types.ts
  mobile/src/components/uam/components/uam-group-creation/common/types/users-table-row.type.ts
  mobile/src/components/uam/components/uam-group-creation/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam/components/uam-group-creation/components/users-table/users-table.tsx
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-permission-columns/group-creation-get-permission-columns.helper.ts
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-permission-rows/group-creation-get-permission-rows.helper.tsx
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-user-columns/group-creation-get-user-columns.helper.ts
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-user-rows/group-creation-get-user-rows.helper.tsx
  mobile/src/components/uam/components/uam-group-creation/uam-group-creation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-148: * fixes for comments
  backend/package.json
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/filtering/filtering.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/course/course-by-name-dto.type.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
  shared/src/validation-schemas/course/course-filtering.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/filtering/filtering.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-148: * fixed undefined request bug
  frontend/src/store/dashboard/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-120: * refactor controls in to Checkbox
  mobile/src/components/uam/components/uam-group-creation/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam/components/uam-group-creation/components/users-table/users-table.tsx
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-permission-rows/group-creation-get-permission-rows.helper.tsx
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-user-rows/group-creation-get-user-rows.helper.tsx
  mobile/src/components/uam/components/uam-group-creation/uam-group-creation.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-148: * separated different where conditions
  backend/src/data/repositories/course/course.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: - unnecessary type checks
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/configurate-group/common/types/group-configurate-users-table-action-props.type.ts
  frontend/src/components/configurate-group/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/configurate-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/configurate-group/components/users-table/users-table.tsx
  frontend/src/components/configurate-group/configurate-group.tsx
  frontend/src/components/configurate-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/configurate-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/store/configurate-group/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-93: * updated checkStatus and parseJson to handle response 204 status with empty body, changed delete group to return 204 status
  backend/src/api/groups/groups.api.ts
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-120: * refactor types
  mobile/src/common/types/permissions/permissions-group-creation-dto.type.ts
  mobile/src/components/uam/components/uam-group-creation/common/types/users-table-row.type.ts
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-user-columns/group-creation-get-user-columns.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-124: * added functionality on update file and save buttons
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  backend/src/validation-schemas/user-details/user-details.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user-details/user-details.ts
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/profile/update-avatar-modal/styles.module.scss
  frontend/src/components/profile/update-avatar-modal/update-avatar-modal.tsx
  frontend/src/components/profile/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/profile/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/components/profile/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/profile/user-profile/styles.module.scss
  frontend/src/components/profile/user-profile/user-profile.tsx
  frontend/src/services/user-details/user-details.service.ts
  frontend/src/store/user-details/actions.ts
  frontend/src/store/user-details/common.ts
  frontend/src/store/user-details/reducer.ts
  frontend/src/validation-schemas/user-details/user-details.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-update-image.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/validation-schemas/user-details/user-details-avatar-update.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB156: * table placeholder
  frontend/src/components/common/common.tsx
  frontend/src/components/common/table-placeholder/styles.module.scss
  frontend/src/components/common/table-placeholder/table-placeholder.tsx
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-75: + edit action to uam groups table
  frontend/src/components/uam/common/types/groups-table-actions-props.type.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/components/groups-table/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/actions-cell/styles.module.scss
  frontend/src/components/uam/helpers/get-columns-helper/get-groups-columns.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-120: * refactor add usePagination hook
  mobile/src/components/uam/components/uam-group-creation/uam-group-creation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: * Udemy module response entities types
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy-chapter-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-course-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-lecture-get-response-dto/udemy-lecture-asset-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-lecture-get-response-dto/udemy-lecture-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-practice-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-quiz-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy.ts
  backend/src/services/course-module/course-module.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy-course.service.ts
  backend/src/services/udemy/udemy-module.service.ts
  backend/src/services/udemy/udemy.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: * removed redundant for now file
  backend/src/services/course-module/course-module.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: + icon-button component, * configurate-group to uam-configurate-group
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/common/icon-button/styles.module.scss
  frontend/src/components/uam-configurate-group/common/default-configurate-group-payload.ts
  frontend/src/components/uam-configurate-group/common/enums/enums.ts
  frontend/src/components/uam-configurate-group/common/enums/group-configurate-fields-name.enum.ts
  frontend/src/components/uam-configurate-group/common/enums/permission-table-accessor.enum.ts
  frontend/src/components/uam-configurate-group/common/types/group-configurate-users-table-action-props.type.ts
  frontend/src/components/uam-configurate-group/common/types/group-configurate-users-table-row.type.ts
  frontend/src/components/uam-configurate-group/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/uam-configurate-group/common/types/permissions-table-row.type.ts
  frontend/src/components/uam-configurate-group/common/types/types.ts
  frontend/src/components/uam-configurate-group/components/action-cells/permission-action-cell.tsx
  frontend/src/components/uam-configurate-group/components/action-cells/user-action-cell.tsx
  frontend/src/components/uam-configurate-group/components/components.tsx
  frontend/src/components/uam-configurate-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configurate-group/components/permissions-table/styles.module.scss
  frontend/src/components/uam-configurate-group/components/users-table/styles.module.scss
  frontend/src/components/uam-configurate-group/components/users-table/users-table.tsx
  frontend/src/components/uam-configurate-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configurate-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam-configurate-group/helpers/helpers.ts
  frontend/src/components/uam-configurate-group/styles.module.scss
  frontend/src/components/uam-configurate-group/uam-configurate-group.tsx
  frontend/src/components/uam/components/groups-table/actions-cell/actions-cell.tsx
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/uam-configurate-group/actions.ts
  frontend/src/store/uam-configurate-group/common.ts
  frontend/src/store/uam-configurate-group/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-142: + usersTotalCount
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-136: + documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses.yaml
  backend/src/documentation/schemas/courses/courses-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: * added db orm models for modules and fixed udemy lecture dto
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/udemy/udemy-lecture-get-response-dto/udemy-lecture-get-response-dto.type.ts
  backend/src/data/models/course-modules/course-modules.ts
  backend/src/data/models/course-modules/models/course-chapter-module.model.ts
  backend/src/data/models/course-modules/models/course-practice-module.model.ts
  backend/src/data/models/course-modules/models/course-quiz-module.model.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module-asset.model.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module.model.ts
  backend/src/data/models/models.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB159: + add put /groups/:id
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  backend/src/documentation/endpoints/groups/groups-update.yaml
  backend/src/documentation/schemas/groups/groups-response-dto.yaml
  backend/src/documentation/schemas/groups/groups-update-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB159: * fix path
  backend/src/documentation/endpoints/groups/groups-update.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-148: * input import
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/input/input.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-148: * fixes for following comments
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
  frontend/src/components/common/input/input.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/common.ts
  frontend/src/store/dashboard/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-158: * reset reducer on logout
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: * refactors
  mobile/src/common/enums/group/group.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/permissions/permissions.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user-group-creation.dto.type.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/uam-groups-create/common/enums/enums.ts
  mobile/src/components/uam-groups-create/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/types/create-group-default.ts
  mobile/src/components/uam-groups-create/common/types/permissions-group-creation-dto.type.ts
  mobile/src/components/uam-groups-create/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-groups-create/common/types/types.ts
  mobile/src/components/uam-groups-create/common/types/users-table-row.type.ts
  mobile/src/components/uam-groups-create/components/conponents.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/components/users-table/styles.ts
  mobile/src/components/uam-groups-create/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-create/helpers/group-creation-get-permission-columns/group-creation-get-permission-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/group-creation-get-permission-rows/group-creation-get-permission-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/group-creation-get-user-columns/group-creation-get-user-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/group-creation-get-user-rows/group-creation-get-user-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/helpers.ts
  mobile/src/components/uam-groups-create/styles.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/components/uam/components/uam-group-creation/components/conponents.ts
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-permission-columns/group-creation-get-permission-columns.helper.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/app/app.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: - delete group.ts
  mobile/src/common/enums/group/group.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: * edit emuns.ts
  mobile/src/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: + types of modules to use in repositories
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/course-module/dtos/course-chapter-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-lecture-module-create-arguments-dto/course-lecture-module-asset-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-lecture-module-create-arguments-dto/course-lecture-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-practice-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-quiz-module-create-arguments-dto.type.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course-modules/course-modules.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module-asset.model.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-module/course-module.ts
  backend/src/data/repositories/course-module/repositories/course-chapter-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module-asset.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-practice-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-quiz-module.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: + response modules types
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module-asset.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module.repository.ts
  shared/src/common/types/course-module/course-chapter-module-response-dto.type.ts
  shared/src/common/types/course-module/course-lecture-module/course-lecture-module-asset-response-dto.type.ts
  shared/src/common/types/course-module/course-lecture-module/course-lecture-module-response-dto.type.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-practice-module-response-dto.type.ts
  shared/src/common/types/course-module/course-quiz-module-response-dto.type.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

grhb-150: + interview repository
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/repositories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-160: + translucent status bar
  mobile/src/components/app/app.tsx
  mobile/src/hooks/hooks.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/auth/auth.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-75: * names, types, bug fix
  backend/src/common/types/groups/groups-with-permissions-dto.type.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/group/group.repository.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/uam-configurate-group/common/default-configurate-group-payload.ts
  frontend/src/components/uam-configurate-group/common/enums/enums.ts
  frontend/src/components/uam-configurate-group/common/types/group-configurate-users-table-row.type.ts
  frontend/src/components/uam-configurate-group/common/types/types.ts
  frontend/src/components/uam-configure-group/common/default-configure-group-payload.ts
  frontend/src/components/uam-configure-group/common/enums/enums.ts
  frontend/src/components/uam-configure-group/common/enums/group-configure-fields-name.enum.ts
  frontend/src/components/uam-configure-group/common/enums/permission-table-accessor.enum.ts
  frontend/src/components/uam-configure-group/common/types/group-configure-users-table-action-props.type.ts
  frontend/src/components/uam-configure-group/common/types/group-configure-users-table-row.type.ts
  frontend/src/components/uam-configure-group/common/types/permissions-table-actions-props.type.ts
  frontend/src/components/uam-configure-group/common/types/permissions-table-row.type.ts
  frontend/src/components/uam-configure-group/common/types/types.ts
  frontend/src/components/uam-configure-group/components/action-cells/permission-action-cell.tsx
  frontend/src/components/uam-configure-group/components/action-cells/user-action-cell.tsx
  frontend/src/components/uam-configure-group/components/components.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/users-table/styles.module.scss
  frontend/src/components/uam-configure-group/components/users-table/users-table.tsx
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/helpers.ts
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/uam-configurate-group/common.ts
  frontend/src/store/uam-configure-group/actions.ts
  frontend/src/store/uam-configure-group/common.ts
  frontend/src/store/uam-configure-group/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-75: + documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-by-id.yaml
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  backend/src/documentation/schemas/groups/groups-get-by-id-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: + modules repositories
  backend/src/data/repositories/course-module/course-module.ts
  backend/src/data/repositories/course-module/repositories/course-chapter-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module-asset.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-practice-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-quiz-module.repository.ts
  backend/src/data/repositories/repositories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-160: + SafeAreaView for drawer
  mobile/src/components/app/app.tsx
  mobile/src/components/common/common.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
