Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-88: * resolve types-error
  mobile/src/services/storage/storage.service.ts
  mobile/src/store/auth/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-88: * resolve types-error
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-88: * resolve types-error
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: + course api base
  backend/src/api/api.ts
  backend/src/api/course/course.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/course/course.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/enums/course/course.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/course/course-create-by-url-request-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-create.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-105: - removed redundant migration
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: * fix usePagination hook
  frontend/src/components/common/common.tsx
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/pagination/pagination.ts
  frontend/src/hooks/use-pagination/helpers/get-valid-page-from-search-params.helper.ts
  frontend/src/hooks/use-pagination/helpers/helpers.ts
  frontend/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-76: + repository, service and path for deleting category
  backend/src/api/groups/groups.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/group/group.service.ts
  shared/src/common/enums/api/groups-api-path.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-105: * changed table enum name
  backend/src/data/migrations/20220811150606_add_courses_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-30: * turn of liner for specific file in the eslint config
  mobile/.eslintrc.yml
  mobile/src/custom.d.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: + icon-name-to-icon.map.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: - .svgrrc.js
  mobile/.svgrrc.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * use currentColor to have an ability to change color
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-96: + permission hook
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/api/permissions.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/permissions/permissions.ts
  backend/src/common/types/types.ts
  backend/src/common/types/users-to-groups/users-to-groups.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  backend/src/hooks/hooks.ts
  backend/src/middlewares/middwares.ts
  backend/src/middlewares/permission/permission.middleware.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/permissions/permission.enum.ts
  shared/src/common/enums/permissions/permissions.ts
  shared/src/common/types/types.ts
  shared/src/common/types/users-to-groups/users-to-groups.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB122: * fixed position background element
  mobile/src/components/auth/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-128: * fix rebuild shared
  backend/package.json
  frontend/package.json
  mobile/package.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-128: + missing npm flags
  frontend/package.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-96: * RP issues
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-104: + dashboard component
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-97: * removed unnecessary files from shared, renamed group item dto
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
  shared/src/common/types/groups/group-item-response-dto.type.ts
  shared/src/common/types/groups/groups-get-all-item-response-dto.type.ts
  shared/src/common/types/groups/groups-get-all-response-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-88: * refactor
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/storage/storage.service.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-88: * refactor auth-api.service & storage.service.ts
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/services/storage/storage.service.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: + course, udemy, http services, + course api
  backend/package-lock.json
  backend/package.json
  backend/src/api/course/course.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/api/udemy-api-path.enum.ts
  backend/src/common/enums/course/course-host.enum.ts
  backend/src/common/enums/course/course.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/vendor/vendor-key.enum.ts
  backend/src/common/enums/vendor/vendor.ts
  backend/src/common/types/course/course-create-request-dto.type.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/http/http.ts
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy.ts
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/http/http.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy.service.ts
  backend/src/services/vendor/vendor.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/course/course-request-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/http/http-options.type.ts
  shared/src/common/types/http/http.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-97: * fix conflicts
  frontend/package.json
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-groups-rows.helper.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/groups/groups.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-46: * btnColor and to props for button component, fix indentation between buttons
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-106: remove unnecessary migration
  backend/src/data/migrations/20220811163703_add_courses_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-97: * fixed naming
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
  frontend/package.json
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-groups-rows.helper.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/groups/groups.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
  shared/src/common/types/groups/group-item-response-dto.type.ts
  shared/src/common/types/groups/groups-item-response-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-101: + tsconfig, eslintrc, npmrc and package.json
  .lintstagedrc.yml
  backend/tests/.eslintrc.yml
  backend/tests/.npmrc
  backend/tests/package.json
  backend/tests/tsconfig.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-96: * PR issues
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/permission-error/permission-error.exception.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/permissions/permission-key.enum.ts
  shared/src/common/enums/permissions/permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-106: * fix course model, repo, service
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-46: * handleOnClick
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-106: * fix http service
  backend/src/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-96: * PR issues
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-131: + courses_to_vendors table
  backend/src/data/migrations/20220812130305_add_courses_to_vendors_table.ts
  backend/src/data/migrations/20220812131517_add_courses_to_vendors_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: - courses_to_vendors to another branch
  backend/src/data/migrations/20220811164547_add_courses_to_vendors_table.ts
  backend/src/data/migrations/20220811165051_add_courses_to_vendors_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-132: + courses_to_course_category table
  backend/src/data/migrations/20220812132515_add_courses_to_course_category_id_table.ts
  backend/src/data/migrations/20220812132540_add_courses_to_course_category_id_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: - move courses_to_course_category table to separate branch
  backend/src/data/migrations/20220811165705_add_courses_to_course_category_id_table.ts
  backend/src/data/migrations/20220811165843_add_courses_to_course_category_id_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-76: + group delete route and validation of request params
  backend/src/api/groups/groups.api.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
  backend/src/validation-schemas/group/group.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/groups/groups-delete-request-dto.types.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/group/group-delete.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-132: * fix file names
  backend/src/data/migrations/20220812132515_add_courses_to_course_categories_table.ts
  backend/src/data/migrations/20220812132540_add_courses_to_course_categories_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: * functionality update
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/uam-groups-create/common.ts
  frontend/src/components/uam-groups-create/common/enums/enums.ts
  frontend/src/components/uam-groups-create/common/enums/permission-table-accessor.enum.ts
  frontend/src/components/uam-groups-create/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam-groups-create/helpers/get-permission-columns-group-creation-helper/get-permission-columns-group-creation.helper.ts
  frontend/src/components/uam-groups-create/helpers/get-permission-rows-group-creation-helper/get-permission-rows-group-creation.helper.tsx
  frontend/src/components/uam-groups-create/helpers/get-user-columns-group-creation-helper/get-user-columns-group-creation.helper.tsx
  frontend/src/components/uam-groups-create/helpers/get-user-rows-group-creation-helper/get-user-rows-group-creation.helper.tsx
  frontend/src/components/uam-groups-create/helpers/helpers.ts
  frontend/src/components/uam-groups-create/styles.module.scss
  frontend/src/components/uam-groups-create/tables/group-creation-permissions-table.tsx
  frontend/src/components/uam-groups-create/tables/group-creation-users-table.tsx
  frontend/src/components/uam-groups-create/uam-groups-create.tsx
  frontend/src/components/uam/common/enums/permission-table-accesson.enum.ts
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/components/components.ts
  frontend/src/components/uam/components/group-creation/group-creation.module.scss
  frontend/src/components/uam/components/group-creation/group-creation.tsx
  frontend/src/components/uam/uam.tsx
  frontend/src/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/services/group/group.service.ts
  frontend/src/services/permissions/permissions.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/uam-groups-create/actions.ts
  frontend/src/store/uam-groups-create/common.ts
  frontend/src/store/uam-groups-create/reducer.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-76: + documentation to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  backend/src/documentation/schemas/groups/groups-delete-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
