Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-631: * resolve types errors
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/my-courses/my-courses-tabs.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-658: * fixed back button
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB576: + pr fixes done
  backend/src/helpers/helpers.ts
  backend/src/helpers/pagination/change-pagination-page/change-pagination-page.helper.ts
  backend/src/helpers/pagination/convert-page-to-zero-indexed/convert-page-to-zero-indexed.helper.ts
  backend/src/helpers/pagination/pagination.ts
  backend/src/services/course/course.service.ts
  backend/src/services/group/group.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/task-note/task-note.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-632: * billing logic using Stripe docs
  mobile/android/build.gradle
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/app/env.enum.ts
  mobile/src/common/types/billing/billing.ts
  mobile/src/common/types/types.ts
  mobile/src/components/billing/billing.tsx
  mobile/src/components/billing/common/common.ts
  mobile/src/components/billing/components/components.ts
  mobile/src/components/billing/components/payment-screen/components/components.ts
  mobile/src/components/billing/components/payment-screen/components/replenish-card/replenish-card.tsx
  mobile/src/components/billing/components/payment-screen/components/replenish-card/styles.ts
  mobile/src/components/billing/components/payment-screen/payment-screen.tsx
  mobile/src/components/billing/components/payment-screen/styles.ts
  mobile/src/components/billing/types/replenish-amount/replenish-amount.type.ts
  mobile/src/components/billing/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB576: + replaced strings with enum values
  frontend/src/common/enums/search/search-value.enum.ts
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-618: * use SortOrder enum
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB613: + renamed functions, used helper for pagination
  backend/src/api/billing/billing.api.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/transaction/transaction.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-618: * fix best choice label
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB613: + added swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/billing/billing-transactions.yaml
  backend/src/documentation/schemas/billing/billing-get-all-transactions-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB613: + namings fixed
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/components/transactions-table/transactions-table.tsx
  frontend/src/store/billing/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-660: * aligned delete icon
  frontend/src/components/uam/components/users-table/components/actions-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-631: * resolve comments
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/interview-screen-name.enum.ts
  mobile/src/common/enums/navigation/interview-tab-name.enum.ts
  mobile/src/common/enums/navigation/interviews-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/navigation/uam-screen-name.enum.ts
  mobile/src/common/types/navigation/interview-navigation-param-list.type.ts
  mobile/src/common/types/navigation/interview-tab-navigation-param-list.type.ts
  mobile/src/common/types/navigation/interviews-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/uam-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/chat/chat.navigation.tsx
  mobile/src/navigation/chat/common/constants/constants.ts
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course-stack.navigation.tsx
  mobile/src/navigation/courses-management/common/constants/constants.ts
  mobile/src/navigation/courses-management/courses-management.navigation.tsx
  mobile/src/navigation/courses/common/constants/constants.ts
  mobile/src/navigation/courses/common/types/courses-navigation-item.type.ts
  mobile/src/navigation/courses/common/types/types.ts
  mobile/src/navigation/courses/courses.navigation.tsx
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview-stack.navigation.tsx
  mobile/src/navigation/interview/interview-tab.navigation.tsx
  mobile/src/navigation/my-courses/common/constants/constants.ts
  mobile/src/navigation/my-courses/my-courses-stack.navigation.tsx
  mobile/src/navigation/uam/common/constants/constants.ts
  mobile/src/navigation/uam/uam.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-665: * fixed row spacing
  frontend/src/components/uam/components/groups-table/components/actions-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-663: * changed new interview status
  backend/src/api/interviews/interviews.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-643: * fix message short view
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB617: + user navigation restyled
  frontend/src/assets/icons/caret-down.svg
  frontend/src/assets/icons/caret-up.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-643: * refactor
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * refactor
  mobile/src/components/billing/components/payment-screen/payment-screen.tsx
  mobile/src/services/billing-api/billing-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-652: * now displaying hundredths
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-661: * increased debounce timeout
  frontend/src/components/common/header/components/search-bar/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-662: * fix render error
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-662: * remove unnecessary code
  mobile/src/components/courses/courses.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-626: + more ordering
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-626: - redundant .execute
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB651: + max rows to chat message
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/textarea/textarea.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-662: - delete useless variables
  mobile/src/components/courses/courses.tsx
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/my-courses/actions.ts
  mobile/src/store/my-courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-662: * imports
  mobile/src/components/courses/courses.tsx
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-643: * PR comments
  mobile/src/components/chat/common/constants/constants.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: - delete 'tab' in names of navigation files
  mobile/src/components/interview/interview.tsx
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview.navigation.tsx
  mobile/src/navigation/my-courses/common/constants/constants.ts
  mobile/src/navigation/my-courses/my-courses.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * PR comments
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/billing/billing.tsx
  mobile/src/components/billing/components/payment-screen/common/constants.ts
  mobile/src/components/billing/components/payment-screen/components/components.ts
  mobile/src/components/billing/components/payment-screen/components/payment-card/payment-card.tsx
  mobile/src/components/billing/components/payment-screen/components/payment-card/styles.ts
  mobile/src/components/billing/components/payment-screen/payment-screen.tsx
  mobile/src/store/billing/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-664: * capitalized select values
  frontend/src/components/common/select/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-626: - static variable
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-664: * moved styles from common component
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-631: * split interviews navigation
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview.navigation.tsx
  mobile/src/navigation/interviews/common/constants.ts
  mobile/src/navigation/interviews/interviews.navigation.tsx
  mobile/src/navigation/interviews/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-668: * fixed cell height
  frontend/src/components/courses-management/components/category-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-637: * make categoruies selectable if unauthorized
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * refactor
  mobile/src/components/billing/components/payment-screen/payment-screen.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-656: * changed status code on sign up with existing user
  backend/src/services/auth/auth.service.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js
