Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-148: * backup commit before merge
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/assets/icons/search.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/header/components/search-bar/common/constants.ts
  frontend/src/components/common/header/components/search-bar/common/types/search-payload.type.ts
  frontend/src/components/common/header/components/search-bar/common/types/types.ts
  frontend/src/components/common/header/components/search-bar/components/search-icon/search-icon.tsx
  frontend/src/components/common/header/components/search-bar/components/search-icon/styles.module.scss
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB94: * update request dto
  shared/src/common/types/groups/groups-update-request-dto.ts
  shared/src/common/types/groups/groups-update-request-params-dto.ts
  shared/src/common/types/groups/groups.ts
  shared/src/validation-schemas/group/group-update-params.validation-schema.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-155: * fix courses table image_url
  backend/src/data/migrations/20220816160628_courses_table_image_url_fix.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-151: + added usePagination hook
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/hooks/hooks.ts
  mobile/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-145: * fix image uri and add styles
  mobile/src/components/category-list/category-list.tsx
  mobile/src/components/category-list/components/category/category.tsx
  mobile/src/components/category-list/components/category/style.ts
  mobile/src/components/category-list/style.ts
  mobile/src/components/common/category/common/maps/category-name-to-image.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-145: * use svg instead of png
  mobile/src/assets/icons/c.svg
  mobile/src/assets/icons/css.svg
  mobile/src/assets/icons/html.svg
  mobile/src/assets/icons/java.svg
  mobile/src/assets/icons/javascript.svg
  mobile/src/assets/icons/nodejs.svg
  mobile/src/assets/icons/python.svg
  mobile/src/assets/icons/react.svg
  mobile/src/assets/icons/typescript.svg
  mobile/src/assets/images/c.png
  mobile/src/assets/images/css.png
  mobile/src/assets/images/html.png
  mobile/src/assets/images/java.png
  mobile/src/assets/images/javascript.png
  mobile/src/assets/images/nodejs.png
  mobile/src/assets/images/python.png
  mobile/src/assets/images/react.png
  mobile/src/assets/images/typescript.png
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/category-name.type.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/category-list/components/category/category.tsx
  mobile/src/components/category-list/components/category/style.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-153: + NavigationTheme
  mobile/src/components/app/app.tsx
  mobile/src/config/config.ts
  mobile/src/config/navigation-theme.config.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB156: + placeholder for table with no data
  frontend/src/components/common/common.tsx
  frontend/src/components/common/table-placeholder/styles.module.scss
  frontend/src/components/common/table-placeholder/table-placeholder.tsx
  frontend/src/components/common/table/table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

grhb-150: + migration of interviews table
  backend/src/data/migrations/20220816182724_add_interviews_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-153: * rename NavigationTheme -> navigationTheme
  mobile/src/components/app/app.tsx
  mobile/src/config/config.ts
  mobile/src/config/navigation-theme.config.ts
Due: npm run lint:editorconfig && npm run lint:fs

grhb-150: + interview model
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/models/models.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: + get group by id
  backend/src/api/groups/groups.api.ts
  backend/src/common/types/groups/groups-with-permission-ids-dto.type.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  backend/src/validation-schemas/group/group.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/groups-edit/groups-edit.tsx
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/groups/groups-get-by-id-request-dto.type.ts
  shared/src/common/types/groups/groups-get-by-id-response-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/group/group-get-by-id.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-75: + connect frontend to db
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/groups-edit/groups-edit.tsx
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/groups-edit/actions.ts
  frontend/src/store/groups-edit/common.ts
  frontend/src/store/groups-edit/reducer.ts
  frontend/src/store/root-reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-124: * added fe of user profile task, fixed conflicts
  frontend/src/components/profile/settings-wrapper/components/settings-menu-item/settings-menu-item.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-145: * PR comments
  mobile/src/components/category-list/components/category/category.tsx
  mobile/src/components/common/category/common/maps/category-name-to-image.map.ts
  mobile/src/components/common/category/common/maps/maps.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB107: * fixed linter issue
  backend/tests/src/tests/json-schemas/auth/sign-in/sign-in-response.schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB156: * table placeholder
  frontend/src/components/common/table-placeholder/styles.module.scss
  frontend/src/components/common/table-placeholder/table-placeholder.tsx
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-158: + logout button
  mobile/src/components/setting/setting.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-148: * adjustments according to comments
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/validation-schemas/filtering/filtering.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/validation-schemas/filtering/filtering.ts
  shared/src/validation-schemas/filtering/filtering.validation.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-145: * add separate category image component, organize file structure, PR comments
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/category-name.type.ts
  mobile/src/common/types/ui/course-image-name.type.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/common/maps/category-key-to-image.map.ts
  mobile/src/components/courses/components/category-list/common/maps/maps.ts
  mobile/src/components/courses/components/category-list/components/category-image/category-image.tsx
  mobile/src/components/courses/components/category-list/components/category-image/style.ts
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/components/category-list/components/category/helpers/get-random-color.helper.ts
  mobile/src/components/courses/components/category-list/components/category/helpers/helper.ts
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/components/category-list/style.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-145: * fix lint errors
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/category-list/components/category-image/category-image.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-108: + mock
  backend/tests/src/tests/mocks/auth/auth.ts
  backend/tests/src/tests/mocks/auth/sign-up/sign-up-request.mock.ts
  backend/tests/src/tests/mocks/auth/sign-up/sign-up.ts
  backend/tests/src/tests/mocks/mocks.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-108: + json schema
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/sign-up/sign-up.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-93: * changed the response for succesful delete of group to 204, added execute instead of async function
  backend/src/api/groups/groups.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/documentation/endpoints/groups/groups-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-75: + connect to backend
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/groups/group-update-request-arguments-dto.type.ts
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/configurate-group/configurate-group.tsx
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/store/configurate-group/actions.ts
  frontend/src/store/configurate-group/common.ts
  frontend/src/store/configurate-group/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-145: * reorganize files structure
  mobile/src/assets/images/categories/c.svg
  mobile/src/assets/images/categories/css.svg
  mobile/src/assets/images/categories/html.svg
  mobile/src/assets/images/categories/java.svg
  mobile/src/assets/images/categories/javascript.svg
  mobile/src/assets/images/categories/nodejs.svg
  mobile/src/assets/images/categories/python.svg
  mobile/src/assets/images/categories/react.svg
  mobile/src/assets/images/categories/typescript.svg
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/common/maps/category-key-to-image.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-142: + users are carried over from next pages to current page after deleting users
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-108: + sign up tests
  backend/tests/src/lib/common/constants/regex.constants.ts
  backend/tests/src/lib/services/auth/auth.service.ts
  backend/tests/src/lib/services/http/request-builder.ts
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-108: * fixed sign in tests
  backend/package-lock.json
  backend/tests/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
  shared/package-lock.json
  shared/package.json
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB156: + placeholder prop
  frontend/src/components/common/table-placeholder/table-placeholder.tsx
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-142: * fixed infinite loop
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-148: * bugfixes
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/common/types/course/course-by-name-dto.type.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-148: * minor improvement
  backend/src/data/repositories/course/course.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-120: * resolve type errors
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/uam/components/uam-group-creation/helpers/group-creation-get-user-rows/group-creation-get-user-rows.helper.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-148: * import fix
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
