Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-160: + ScrollView in auth forms
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-124: * text in modal changed
  frontend/src/components/user-details/update-avatar-modal/update-avatar-modal.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-154: + courses modules DB migration
  backend/src/data/migrations/20220817203631_udemy_course_modules_tables.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-93: * chnged status back to 200, reverced http service changes
  backend/src/api/groups/groups.api.ts
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-6: * typo, - redundant variable
  docs/app-architecture/app-arch.py
  docs/app-architecture/readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-133: * increase the size of pressables
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-157: * fixed typo
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-133: * edit logic with totalPages
  mobile/src/components/common/pagination/pagination.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: * resolve a lot of remarks
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/uam-groups-create/common/constants/constants.ts
  mobile/src/components/uam-groups-create/common/constants/create-group-default.ts
  mobile/src/components/uam-groups-create/common/types/permissions-group-creation-dto.type.ts
  mobile/src/components/uam-groups-create/common/types/types.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-create/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/helpers.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/helpers/helpers.ts
  mobile/src/store/actions.ts
  mobile/src/validation-schemas/group/group.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-75: * update icon-button component
  frontend/src/common/types/button/button-props.type.ts
  frontend/src/common/types/button/button.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/common/icon-button/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/actions-cell/actions-cell.tsx
  frontend/src/validation-schemas/group/group-create.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/groups/groups-configure-request-dto.type.ts
  shared/src/common/types/groups/groups-create-request-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/group/group-configure-client.validation-schema.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-148: * following improvements
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/input/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB156: * return placeholder if no data
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-142: * changed state structure
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-148: * local callback rename
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-75: * fix type name
  backend/src/api/groups/groups.api.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-120: * remane file create-group-default.ts
  mobile/src/components/uam-groups-create/common/constants/constants.ts
  mobile/src/components/uam-groups-create/common/constants/create-group-default.constants..ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: * rename file create-group-default.ts
  mobile/src/components/uam-groups-create/common/constants/create-group-default.constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-120: * resolve error with constants.ts
  mobile/src/components/uam-groups-create/common/constants/constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-158: * return initialState
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-160: * scroll view to auth, not to each form
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-75: * PR fixes
  frontend/src/common/types/button/button-props.type.ts
  frontend/src/common/types/button/button.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/uam-configure-group/components/users-table/users-table.tsx
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/store/uam-configure-group/actions.ts
  frontend/src/store/uam-configure-group/common.ts
  frontend/src/store/uam-configure-group/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-75: * fix conflicts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/types.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam-groups-create/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-75: * fix conflicts
  shared/src/validation-schemas/group/group-create-client.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-75: * fix conflicts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/types.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam-groups-create/actions.ts
  shared/src/common/types/groups/groups-create-request-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-144: * add types
  mobile/src/common/types/groups/group-get-by-id-response-dto.type.ts
  mobile/src/common/types/groups/group-update-request-params-dto.type.ts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/permission/permissions-get-all-response-dto.type.ts
  mobile/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * configure required services
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/permissions-api/permissions-api.service.ts
  mobile/src/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/uam-group-config/actions.ts
  mobile/src/store/uam-group-config/common.ts
  mobile/src/store/uam-group-config/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * init onEdit listener
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * change import path
  mobile/src/components/common/checkbox/checkbox.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * rename folder
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/uam-group-edit/actions.ts
  mobile/src/store/uam-group-edit/common.ts
  mobile/src/store/uam-group-edit/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-160: * safe area instead useSafeAreaInsets
  mobile/src/hooks/hooks.ts
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/auth/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: + course modules error * course module DB migration
  backend/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  backend/src/data/migrations/20220817203631_udemy_course_modules_tables.ts
  backend/src/data/repositories/course-module/course-module.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/exceptions/courses-module-error/course-modules-error.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy-module.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-154: * removed redundant types (fixing overkill)
  shared/src/common/types/course-module/course-chapter-module-response-dto.type.ts
  shared/src/common/types/course-module/course-lecture-module/course-lecture-module-asset-response-dto.type.ts
  shared/src/common/types/course-module/course-lecture-module/course-lecture-module-response-dto.type.ts
  shared/src/common/types/course-module/course-module-get-response-dto.type.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-practice-module-response-dto.type.ts
  shared/src/common/types/course-module/course-quiz-module-response-dto.type.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-75: fix button component
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-75: fix button markup
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-154: * course modules overkill removed
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/course-module/course-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/course-module/dtos/course-chapter-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-lecture-module-create-arguments-dto/course-lecture-module-asset-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-lecture-module-create-arguments-dto/course-lecture-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-practice-module-create-arguments-dto.type.ts
  backend/src/common/types/course-module/dtos/course-quiz-module-create-arguments-dto.type.ts
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy-chapter-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-lecture-get-response-dto/udemy-lecture-asset-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-lecture-get-response-dto/udemy-lecture-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-module-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-practice-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy-quiz-get-response-dto.type.ts
  backend/src/common/types/udemy/udemy.ts
  backend/src/data/models/course-module/course-module.model.ts
  backend/src/data/models/course-modules/course-modules.ts
  backend/src/data/models/course-modules/models/course-chapter-module.model.ts
  backend/src/data/models/course-modules/models/course-quiz-module.model.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module-asset.model.ts
  backend/src/data/models/course-modules/models/lecture-module/course-lecture-module.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/data/repositories/course-module/course-module.ts
  backend/src/data/repositories/course-module/repositories/course-chapter-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module-asset.repository.ts
  backend/src/data/repositories/course-module/repositories/course-lecture-module/course-lecture-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-practice-module.repository.ts
  backend/src/data/repositories/course-module/repositories/course-quiz-module.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB41: * permission or user doesnt exist
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-97: + added params documentation and checked if acceptance criteria is met
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
