Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-27: * fixed quotes
  mobile/metro.config.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-81: * fix validation
  backend/src/api/users/users.api.ts
  backend/src/validation-schemas/pagination/pagination.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/validation-schemas/pagination/pagination.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-92: * fix protected route redirection
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-92: * separate checks to different variables
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-74: + modal component
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB80: + pagination component
  frontend/src/components/common/pagination/pagination.tsx
  frontend/src/components/common/pagination/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-72: + notify action and types needed for it * replaces service import with dispatch actiion in handle-error middleware
  frontend/src/common/types/notification/notification-payload.type.ts
  frontend/src/common/types/notification/notification.ts
  frontend/src/common/types/types.ts
  frontend/src/store/app/actions.ts
  frontend/src/store/app/common.ts
  frontend/src/store/middlewares/handle-error/handle-error.middleware.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-72: * PR comments
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/common/common.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-87: + install-links to .npmrc
  .npmrc
  backend/.npmrc
  backend/package-lock.json
  frontend/.npmrc
  frontend/package-lock.json
  mobile/.npmrc
  mobile/package-lock.json
  shared/.npmrc
Due: npm run lint:editorconfig && npm run lint:fs

GRHB80: * pagination component
  frontend/src/components/common/pagination/pagination.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-33: * change text type file name, change imports and exports of it
  mobile/package-lock.json
  mobile/src/common/types/text/text.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/app-text-style.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/input/input.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * remove unnecessary code
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * move common style elements from sign-up to auth, change auth components order, add Image export
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/auth/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * fixed quotes
  mobile/metro.config.js
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: + add delete icon
  frontend/src/assets/icons/trash-can-solid.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-78: * put declaration in the separate file, changed error messaging
  backend/src/index.d.ts
  backend/src/plugins/authorization/authorization.plugin.ts
  backend/src/services/auth/auth.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-78: * converting to string secret_key fixed
  backend/src/common/enums/app/env.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-72: + close model by outside click
  frontend/src/components/common/modal/modal.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-72: + added app actions to file with all actions, * updated import of action
  frontend/src/store/actions.ts
  frontend/src/store/middlewares/handle-error/handle-error.middleware.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-30: + add search component
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/search/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB85: * token in user schemas
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-43: + groups entitye maangment and groups table component on frontend
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam/common/enums/enums.ts
  frontend/src/components/uam/common/enums/groups-table-accessor.enum.ts
  frontend/src/components/uam/components/components.ts
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/uam/helpers/get-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-groups-rows.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  frontend/src/components/uam/helpers/helpers.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/groups/groups.service.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/groups/actions.ts
  frontend/src/store/uam/groups/common.ts
  frontend/src/store/uam/reducer.ts
  frontend/src/store/uam/users/actions.ts
  frontend/src/store/uam/users/common.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-72: * PR issues
  frontend/src/assets/icons/cross.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-81: * functionality implementation
  backend/src/api/users/users.api.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/pagination.constants.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/pagination/pagination.ts
  backend/src/common/types/pagination/pagination.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/pagination/pagination-default-values.enum.ts
  shared/src/common/enums/pagination/pagination-min-values.enum.ts
  shared/src/common/enums/pagination/pagination.ts
  shared/src/common/types/pagination/entity-pagination-request-query-dto.type.ts
  shared/src/common/types/pagination/entity-pagination.type.ts
  shared/src/common/types/pagination/pagination.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-all-request-query.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-72: - color var
  frontend/src/assets/css/variables.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-81: * fix variable namings
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/pagination/pagination-min-values.enum.ts
  shared/src/common/enums/pagination/pagination-validation-rule.enum.ts
  shared/src/common/enums/pagination/pagination.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-81: * fix return type
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-response-dto.types.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-41: + added error handling unique group name
  backend/src/data/repositories/group/group.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/services/group/group.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/exceptions/exceptions.ts
  shared/src/exceptions/invalid-group-error/invalid-group-error.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-92: * fix protected route
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-81: * fix validation variable names
  shared/src/common/enums/pagination/pagination-validation-rule.enum.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-27: re install packages
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: fix eslint
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-43: + get all groups implemented on backend
  backend/src/api/groups/groups.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-41: + added validation of permissionIds/userIds arrays
  shared/src/validation-schemas/group/group-create.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-77: + add delete user action, add actions column to table
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/assets/icons/trash-can-solid.svg
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/reducer.ts
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB: * fix android build via setting npm version
  codemagic.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-87: * npm version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-43: + groups get all response dto
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-groups-rows.helper.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/services/groups/groups.service.ts
  frontend/src/store/uam/groups/actions.ts
  frontend/src/store/uam/reducer.ts
  shared/src/common/types/groups/groups-get-all-item-response-dto.type.ts
  shared/src/common/types/groups/groups-get-all-response-dto.type.ts
  shared/src/common/types/groups/groups-response-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-43: * took Protected route on Uam component back
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
