Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-44: * update insert data remove id from insert
  backend/src/data/migrations/20220806165640_add_permissions_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-44: * update exports
  backend/src/data/migrations/20220806165640_add_permissions_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-16: + line for correct formatting
  backend/src/data/models/course-category/course-category.model.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * stylelint config
  .stylelintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-36: - remove error handling, * modify usage of Encrypt service
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/exceptions/exception-message/exception-message.enum.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/common/enums/validation/validation-message.ts
  backend/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/http/get-error-status-code/get-error-status-code.helper.ts
  backend/src/helpers/http/http.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-25: * refactor
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/guruhub/MainActivity.java
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-23: + app link
  mobile/.env.example
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-36: + add new migration, * update validation data
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/data/migrations/20220716081411_add_users_table.ts
  backend/src/data/migrations/20220807101240_add_user_name.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/auth-error/auth-error.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/auth/components/sign-up-form/common.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/email/email.constant.ts
  shared/src/common/constants/full-name/full-name.ts
  shared/src/common/constants/password/password.constant.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/validation/validation.enum.ts
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-37: * following improvements
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/user-error/user-error.exception.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-sign-in-validation-rule.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-by-email-dto.type.ts
  shared/src/common/types/user/user-password-hash-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-36: *update migration and validation
  backend/src/data/migrations/20220807102936_add-user-name.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/validation/validation.enum.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-11: * styles access improvement
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/table/common/react-table-render-entities-names.ts
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/table/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-36: * fix incorrect file name
  backend/src/data/migrations/20220807102936_add_user_name.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-36: * fix migration, encryption, validation
  backend/src/data/migrations/20220807102936_add_user_name.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/validation/validation.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-27: + added navigation drawer packages
  mobile/package-lock.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * added reanimated plugin to babel config
  mobile/babel.config.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-38: + token in actions
  backend/package-lock.json
  backend/package.json
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/common/types/user/user.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/store.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-36: * fix validation order
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-34: + add signup form
  frontend/src/components/auth/Auth.module.scss
  frontend/src/components/auth/components/sign-up-form/common.ts
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/input/input.tsx
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/enums/user/user-validation-rule.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-36: * remove default auth error message
  backend/src/exceptions/auth-error/auth-error.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-11: * styles variables moved and managed
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/table/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-36: * fix code style
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-23: + universal link
  mobile/ios/guruhub/AppDelegate.mm
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-36: - remove default auth error status
  backend/src/exceptions/auth-error/auth-error.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-37: * new adjustments
  backend/src/common/enums/enums.ts
  backend/src/common/enums/validation/validation.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/auth-error/auth-error.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/user-error/user-error.exception.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/types/user/user-by-email-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-11: * style variables import
  frontend/src/assets/css/styles.scss
  frontend/src/components/common/table/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-27: + base drawer navigation
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/styles.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

* fix lint error
  mobile/src/components/app/styles.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: * props type
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-27: * use colors from enums
  mobile/src/common/enums/enums.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-25: * reinstall project with flag -E
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * fix conflicts
  frontend/src/components/auth/components/sign-up-form/common.ts
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/common/enums/user/user.ts
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-26: + add font files and app font enum
  mobile/android/app/src/main/assets/fonts/Inter-400-Italic.ttf
  mobile/android/app/src/main/assets/fonts/Inter-400.ttf
  mobile/android/app/src/main/assets/fonts/Inter-500.ttf
  mobile/android/app/src/main/assets/fonts/Inter-600.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/guruhub.xcodeproj/project.pbxproj
  mobile/ios/guruhub/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/react-native.config.js
  mobile/src/assets/fonts/Inter-400-Italic.ttf
  mobile/src/assets/fonts/Inter-400.ttf
  mobile/src/assets/fonts/Inter-500.ttf
  mobile/src/assets/fonts/Inter-600.ttf
  mobile/src/common/enums/ui/app-font.enum.ts
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: * pass data type from outside
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-11: * removed redundant cast
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-11: * style file moved to component folder
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-11: * removed header cells fixed size
  frontend/src/components/common/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-34: * fix styles naming
  frontend/src/components/auth/Auth.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-24: + app icon
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-54: + lint:type script
  backend/package.json
  frontend/package.json
  mobile/package.json
  package.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-54: * fix linting issues
  mobile/src/components/auth/components/sign-up-form/common/constants.ts
  mobile/src/glodal.d.ts
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
