Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-42: * wrapped Uam component with Authorized component
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-73: * types naming
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/http/http.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/common/types/user/users-by-email-response-dto.type.ts
  backend/src/common/types/validation/validation.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/user/user.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/common/types/validation/validation.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/validation-schemas/user/user.ts
  mobile/src/validation-schemas/user/user.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/validation/user/user-validation-message.enum.ts
  shared/src/common/enums/validation/user/user-validation-rule.enum.ts
  shared/src/common/enums/validation/user/user.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-all-response-dto.type.ts
  shared/src/common/types/user/user-sign-in-request.dto.type.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user-sign-in-response.dto.type.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-by-id-response-dto.type.ts
  shared/src/common/types/user/users-get-all-item-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-73: * types naming
  backend/src/api/auth/auth.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-42: + helper for uam users table columns
  frontend/src/components/uam/helpers/get-columns.ts
  frontend/src/components/uam/uam.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * auth page
  frontend/src/components/auth/auth.tsx
  frontend/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * documentation
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: * encode one of imgs
  .github/workflows/public-storage-upload.yml
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: * mermaid security
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: + authed menu
  frontend/src/assets/icons/billing.svg
  frontend/src/assets/icons/course.svg
  frontend/src/assets/icons/education.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/mentors.svg
  frontend/src/assets/icons/settings.svg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authed-menu/authed-menu.tsx
  frontend/src/components/common/authed-menu/common.ts
  frontend/src/components/common/authed-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-38: * Add decode method to token service, add methods to user service and repository
  backend/src/api/auth/auth.api.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-credentials-error/invalid-credentials.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/token/token.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-41: * fixed dev dependency, code style
  backend/src/api/api.ts
  backend/src/api/groups/groups.api.ts
  backend/src/data/migrations/20220809051610_add_groups_to_permissions_associations.ts
  backend/src/data/models/group/group.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/groups/groups.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/group/group.service.ts
  backend/src/services/services.ts
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-message.enum.ts
  shared/src/common/enums/group/group.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/common/types/permission/permission-get-all-response-dto.type.ts
  shared/src/common/types/permission/permission-item-response-dto.type.ts
  shared/src/common/types/permission/permission.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-47: * fix styles
  frontend/src/components/common/authed-menu/authed-menu.tsx
  frontend/src/components/common/authed-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-47: * fix import
  frontend/src/components/common/authed-menu/authed-menu.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-39: * Fix conflicts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-41: * fixed conflicts
  shared/src/common/types/user/users-by-id-response-dto.type.ts
  shared/src/common/types/user/users-get-all-item-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-39: * Fix fonts name
  mobile/src/assets/fonts/inter-400-italic.ttf
  mobile/src/assets/fonts/inter-400.ttf
  mobile/src/assets/fonts/inter-500.ttf
  mobile/src/assets/fonts/inter-600.ttf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * fix import
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-6: * test github img path
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * fix duplicate import
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: * component types, table props types, types and components files location
  backend/src/common/enums/api/api.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/users/users-get-all.yaml
  backend/src/documentation/endpoints/users/users.yaml
  backend/src/documentation/schemas/users/users-get-all-response-dto.yaml
  frontend/src/common/enums/api/api.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/uam/common/users-columns.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-columns.ts
  frontend/src/components/uam/helpers/get-rows.helper.ts
  frontend/src/components/uam/styles.module.scss
  frontend/src/components/uam/uam.tsx
  shared/src/common/enums/enums.ts
  shared/src/common/types/user/user-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-77: + add user delete functionality
  .eslintrc.yml
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-delete-request-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-47: + hover effect, * fix styles
  frontend/src/components/common/authed-menu/authed-menu.tsx
  frontend/src/components/common/authed-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-39: * Change CustomError to AuthError, remove InvalidCredentialsError, add generic to decode method, make hasAuth optional
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-credentials-error/invalid-credentials.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/token/token.service.ts
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/services/http/http.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-42: * helpers and components files moved also changed types import source
  frontend/src/components/uam/common/enums/user-table-accesson.enum.ts
  frontend/src/components/uam/components/components.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/components/uam/helpers/get-rows.helper.ts
  frontend/src/components/uam/helpers/helpers.ts
  frontend/src/components/uam/uam.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: * fix conflicts
  shared/src/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-41: + getAll users with groups in progress
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-45: + loader
  frontend/src/components/common/common.tsx
  frontend/src/components/common/spinner/spinner.tsx
  frontend/src/components/common/spinner/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * exception
  backend/src/exceptions/auth-error/auth-error.exception.ts
  backend/src/exceptions/exceptions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-77: * fix merge conflicts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-47: + icon component, * rename files
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/common/common.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/hooks/hooks.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * users get all method
  backend/src/services/user/user.service.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-get-all-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

development: * users get all method
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-33: * create separate type file for textstyle type
  mobile/src/common/types/text/text-style.type.ts
  mobile/src/common/types/text/text.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-59: + refactor notification.service
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-title.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/common/types/notification/notification-service.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/toast/styles.ts
  mobile/src/components/common/toast/toast.tsx
  mobile/src/services/notification/notification.service.ts
  mobile/src/store/app/actions.ts
  mobile/src/store/auth/common.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB27: * eslint fix
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/components/billing/billing.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/mentors/mentors.tsx
  mobile/src/components/my-education/my-education.tsx
  mobile/src/components/overview/overview.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-42: * type error in user service
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-47: * AuthorizedMenu inside AuthorizedWrapper
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/common/authorized-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-45: * PR issues
  frontend/src/components/common/spinner/spinner.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-33: * change styles passing logic and add more styling
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/input/input.tsx
Due: npm run lint:editorconfig && npm run lint:fs
