Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-249: * changed backend functionality with chatId property
  backend/package-lock.json
  backend/package.json
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/chat-messages/chat-get-all-messages.yaml
  backend/src/documentation/schemas/chat-messages/chat-create-message-request-dto.yaml
  backend/src/documentation/schemas/chat-messages/chat-get-all-messages-response-dto.yaml
  backend/src/documentation/schemas/chat-messages/chat-get-message-response-dto.yaml
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  backend/src/services/uuid/uuid.service.ts
  shared/src/common/types/chat-message/chat-get-all-messages-request-dto.type.ts
  shared/src/common/types/chat-message/chat-get-last-messages-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-create-request-body-dto.type.ts
  shared/src/common/types/chat-message/chat-message-create-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-last-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-request-params-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message-get-all.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB353: + search query in progress
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: * frontend fix devoted to chatId
  frontend/src/components/chats/chats.tsx
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB368: + total property to response
  backend/src/documentation/schemas/interviews/interviews-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB354: * changed number to integer in swagger response
  backend/src/documentation/schemas/mentors/mentor-get-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-308: + added width to columns
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB369: + missing response properties
  backend/src/documentation/schemas/interviews/interviews-get-by-id-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-259: * styles (color and text wrapping), content clearing, ability to display html tags fixes
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-356: * make buttoms fixed width
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB380: + fetch course image from udemy
  backend/src/common/types/course/course-create-arguments-dto.type.ts
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/common/types/udemy/udemy-course-get-response-dto.type.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-356: * rebuild common button
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * remove useless code
  mobile/src/components/course/components/course-category/course-category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

*edited file names, schemas export
  backend/tests/src/tests/json-schemas/interview/creation/interview-creation.ts
  backend/tests/src/tests/json-schemas/interview/get-all/interview-get-all.ts
  backend/tests/src/tests/json-schemas/interview/interview.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-356: * refactor button view
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * refactor interview screen view
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * apdate button due changes and fix view due PO comments
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * update buttons due changes
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-359: * rename func handlePressChoose to handleChoose into mentor-card.tsx
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/choose-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/choose-mentor/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB355: * pr fixes
  frontend/package.json
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interview/components/interview-item/helpers/get-interviewers-options-helper/get-interviewers-options.helper.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/store/course/actions.ts
  frontend/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB355: * pr fixes
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-356: * remove useless code
  mobile/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: + fastify/multipart plugin
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/common/constants/allowed-image-extensions.constants.ts
  backend/src/common/constants/constants.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/file/file-size-bytes.enum.ts
  backend/src/common/enums/file/file.ts
  backend/src/data/migrations/20220901193312_user_details_rename_avatar_url_to_avatar_file_id.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-files-error/invalid-files-error.exception.ts
  backend/src/index.d.ts
  backend/src/plugins/file/file.plugin.ts
  backend/src/plugins/plugins.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB380: * edit imageUrl type
  backend/src/common/types/course/course-create-arguments-dto.type.ts
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/data/models/course/course.model.ts
  backend/src/services/course/course.service.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-259: * replaced manual clearing with reset call
  frontend/src/components/interview/components/history-section/history-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-382: * add check on current user
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-352: + added unread message icon
  backend/src/api/chats/chats.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/сhat/chat.ts
  backend/src/data/migrations/20220902141153_add_status_to_chat_messages_table.ts
  backend/src/data/models/chat-message/chat-message.model.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/chat-messages/chat-has-unread-messages.yaml
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/assets/icons/chat-unread.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/enums/api/chats-api-path.enum.ts
  shared/src/common/enums/chat/chat-message-status.enum.ts
  shared/src/common/enums/chat/chat.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/chat-message/chat-message-create-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB353: + added chat search functionality on be
  backend/package.json
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-313: + show password functionality
  frontend/src/assets/icons/hidden-password.svg
  frontend/src/assets/icons/shown-password.svg
  frontend/src/components/common/common.tsx
  frontend/src/components/common/image/image.tsx
  frontend/src/components/common/input/input.tsx
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/common/password-input/password-input.tsx
  frontend/src/components/common/password-input/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB353: - removed --fix
  backend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB355: - removed commented code, used helper for checking permission
  frontend/src/components/app/app.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: + chat message markup
  frontend/src/components/chats/components/chats-list/styles.module.scss
  frontend/src/components/chats/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/components/message/style.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-126: + api
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/index.d.ts
  backend/src/plugins/file/file.plugin.ts
  backend/src/services/user-details/user-details.service.ts
  backend/src/validation-schemas/user-details/user-details.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/components/common/header/header.tsx
  shared/src/common/enums/api/user-details-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-update-avatar-request-params-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/validation-schemas/user-details/user-details-update-params.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-360: * fix updateVisibilityBecomeMentor
  mobile/src/components/course/course.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: + input-secure component
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/input-secure/input-secure.tsx
  mobile/src/components/common/input-secure/styles.ts
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-354: * import order
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-126: + basic front-end functionality
  backend/src/api/api.ts
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/file/file-size-bytes-value.enum.ts
  backend/src/common/enums/file/file-size-bytes.enum.ts
  backend/src/common/enums/file/file.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user-details/user-details-update-avatar-request-dto.type.ts
  frontend/src/common/types/user-details/user-details.ts
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/services/user-details-api/user-details-api.service.ts
  frontend/src/store/user-details/actions.ts
  frontend/src/store/user-details/common.ts
  shared/src/common/enums/api/user-details-api-path.enum.ts
  shared/src/common/enums/file/content-type.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-382: * refactor
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-382: * replace ? on &&
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * small fixes
  backend/src/data/migrations/20220830085215_add_tasks_table.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/task-note/task-note.ts
  frontend/src/components/course-module/course-module.tsx
  frontend/src/validation-schemas/task-note/task-note-create.validation-schema.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/task-note/task-note-validation-message.enum.ts
  shared/src/common/enums/task-note/task-note.ts
  shared/src/common/enums/task/task-status.enum.ts
  shared/src/validation-schemas/task/tasks-manipulate-request-body.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-352: * fixed issues
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
