Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-360: * fix use === comparison operator
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * fix merge conflict
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * front-end update task status when creating a note
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-356: * PR comments
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/interview/components/applications/applications.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB353: * chat search in progress
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/validation-schemas/chat-message/chat-message.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/chat-message/chat-message-filtering-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-filtering.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-356: * create common category component
  mobile/src/components/common/category/category.tsx
  mobile/src/components/common/category/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/course/components/category/category.tsx
  mobile/src/components/course/components/category/course-category.tsx
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/interview/components/applications/components/interview-parameters/interview-parameters.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * use await instead then
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * fix import actions
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/store/actions.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/interviews/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * avoid contain
  mobile/src/navigation/app/components/become-mentor/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-348: * fixes for datepicker
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-356: * create interview navigation
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview.navigation.tsx
  mobile/src/navigation/interview/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * avoid wrap each enum in separate folder
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/common/enums/notification/notification-type.enum.ts
  mobile/src/common/enums/notification/notification.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * rename files and refactor the code
  mobile/src/components/interview/common/constants.ts
  mobile/src/components/interview/components/applications/applications.tsx
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/components/components.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/applications/components/components.ts
  mobile/src/components/interview/interview.tsx
  mobile/src/components/interview/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * Use same messages as on the frontend
  mobile/src/common/enums/notification/notification-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * remove unnecessary code
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * pass status to BecomeMentor from props
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: last messages basic markup done
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chatsList/chatsList.tsx
  frontend/src/components/chats/components/chatsList/components/chat/chat.tsx
  frontend/src/components/chats/components/chatsList/components/chat/styles.module.scss
  frontend/src/components/chats/components/chatsList/components/components.tsx
  frontend/src/components/chats/components/chatsList/styles.module.scss
  frontend/src/components/chats/components/components.tsx
  frontend/src/components/chats/styles.module.scss
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-360: * move call updateVisibilityBecomeMentor to getMentorsByCourseId
  mobile/src/components/course/course.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * make another request instead dispatch call
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: * chat messages migration
  backend/package-lock.json
  backend/package.json
  backend/src/data/migrations/20220830154032_add_chat_messages_table.ts
  backend/src/data/models/chat-message/chat-message.model.ts
  frontend/src/components/chats/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css

GRHB-361: + show/hide button
  mobile/src/assets/icons/visibility-off.svg
  mobile/src/assets/icons/visibility.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * fixed camelCase naming to cebab-case
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/chats-list/components/components.tsx
  frontend/src/components/chats/components/chats-list/styles.module.scss
  frontend/src/components/chats/components/components.tsx
  frontend/src/components/chats/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-268: * fix button theme and add gender label
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: * fix input
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-348: * made placeholder to be a prop
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-126: * table column name, * readme
  backend/src/data/migrations/20220901193312_user_details_rename_avatar_url_to_avatar_file_id.ts
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Update mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * change avatarUrl to avatar object
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/file/file.repository.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/store/user-details/reducer.ts
  shared/src/common/types/user-details/user-details-item-response-dto.type.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-356: * fix permission keys
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-268: * rename button theme
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB354: * minor fixes
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-356: * PR comments
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-category/components/category-image/category-image.tsx
  mobile/src/components/course/components/course-category/components/category-image/style.ts
  mobile/src/components/course/components/course-category/components/components.ts
  mobile/src/components/course/components/course-category/course-category.tsx
  mobile/src/components/course/components/course-category/helpers/get-random-color.helper.ts
  mobile/src/components/course/components/course-category/helpers/helper.ts
  mobile/src/components/course/components/course-category/style.ts
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/interview.tsx
  mobile/src/components/interview/styles.ts
  mobile/src/components/interviews/interviews-table/components/id-cell/id-cell.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-348: * placeholder rename
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB354: + add get mentor to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/mentors/mentor-get.yaml
  backend/src/documentation/schemas/mentors/mentor-get-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-359: * separete course navigation logic from app navigation
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/tab-navigation-item.type.ts
  mobile/src/common/types/types.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course/common/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-allowed-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: * fix input
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * edit buttin view
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-356: * separate courseCategory and common category
  mobile/src/components/common/category/category.tsx
  mobile/src/components/common/category/styles.ts
  mobile/src/components/course/components/course-category/course-category.tsx
  mobile/src/components/course/components/course-category/style.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-126: * update course repo
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/services.ts
  backend/src/services/user-details/user-details.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
