Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-104 * replaced gloval tag with class and removed mocked test data
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-106: * fix PR issues
  backend/src/api/api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/helpers/get-udemy-token/get-udemy-token.ts
  backend/src/helpers/helpers.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-136: + frontend file architecture
  frontend/src/components/dashboard/components/components.tsx
  frontend/src/components/dashboard/components/courses/components/components.tsx
  frontend/src/components/dashboard/components/courses/components/course/course.tsx
  frontend/src/components/dashboard/components/courses/courses.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-106: + method for udemy token, * fix validation message
  backend/src/helpers/get-udemy-token/get-udemy-token.ts
  backend/src/helpers/helpers.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy.service.ts
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  shared/src/common/enums/course/course-validation-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB118: + add uam component to drawer
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-item/styles.ts
  mobile/src/navigation/app/components/drawer-list/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * updated group creation form with name input
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/uam/components/group-create/common/default-create-group-payload.ts
  frontend/src/components/uam/components/group-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam/components/group-create/components/permissions-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/users-table.tsx
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-127: + plugin to check response parameters
  backend/tests/src/chai-plugins/chai-plugins.ts
  backend/tests/src/chai-plugins/http/http.ts
  backend/tests/src/lib/common/constants/assertion.constants.ts
  backend/tests/src/lib/common/constants/constants.ts
  backend/tests/src/setup.ts
  backend/tests/src/typings/chai.d.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-127: + tests' update-shared script to the root package.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB118: + add uam icon
  mobile/src/assets/icons/uam.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/navigation/app/common/constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-95: + added preHandler
  backend/src/api/groups/groups.api.ts
  frontend/src/services/auth-api/auth-api.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-127: * constants keys to snake case
  backend/tests/src/chai-plugins/http/http.ts
  backend/tests/src/lib/common/constants/assertion.constants.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-127: * moved assertion constants to enums
  backend/tests/src/chai-plugins/http/http.ts
  backend/tests/src/lib/common/constants/constants.ts
  backend/tests/src/lib/common/enums/assertion/assertion-constants.enum.ts
  backend/tests/src/lib/common/enums/assertion/assertion.ts
  backend/tests/src/lib/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: + group creation connection with backend
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/services/groups/groups.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-51: + group creation notification
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/store/uam/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-136: + front-end courses service, markup
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/dashboard/components/courses/components/course/course.tsx
  frontend/src/components/dashboard/components/courses/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses/courses.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/services/courses/courses.service.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-51: + add group button to group create page
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-127: * rename enum to singular
  backend/tests/src/chai-plugins/http/http.ts
  backend/tests/src/lib/common/enums/assertion/assertion-constant.enum.ts
  backend/tests/src/lib/common/enums/assertion/assertion-constants.enum.ts
  backend/tests/src/lib/common/enums/assertion/assertion.ts
  backend/tests/src/lib/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-121: * fixed header divider color and alignment
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-95: * fixed preHandler
  backend/src/api/groups/groups.api.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-136: + connect to redux
  frontend/src/components/dashboard/components/courses/components/course/course.tsx
  frontend/src/components/dashboard/components/courses/courses.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/store/actions.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/common.ts
  frontend/src/store/dashboard/reducer.ts
  frontend/src/store/root-reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-95: * fixed types
  backend/src/api/groups/groups.api.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-98: + lack of permission notification
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/exceptions/exceptions.ts
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-98: + useEffect
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-104: + dashboard and categories store
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/category/category.ts
  frontend/src/common/types/types.ts
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/services/categories/categories.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/common.ts
  frontend/src/store/dashboard/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/categories-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/category/category-get-all-item-response-dto.type.ts
  shared/src/common/types/category/category-get-all-response-dto.type.ts
  shared/src/common/types/category/category.ts
  shared/src/common/types/permission/permission-item.type.ts
  shared/src/common/types/permission/permission.ts
  shared/src/common/types/permission/permissions-get-all-item-response-dto.type.ts
  shared/src/common/types/permission/permissions-get-all-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-with-permissions.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB: * fix session storage method names
  backend/tests/src/lib/helpers/session/session-storage/session-storage.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB: * excluded backend/tests from nodemon
  backend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-136: + api route to get courses
  backend/src/api/courses/courses.api.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/dashboard/components/courses/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses/courses.tsx
  frontend/src/components/dashboard/components/courses/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/services/courses/courses.service.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

grhb-139: * background-color of main content style of authorized-wrapper component
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

development: * api services
  frontend/src/services/categories-api/categories-api.service.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/services/services.ts
  frontend/src/services/users-api/users-api.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-51: * removed redundant file
  shared/src/common/types/permission/permission-iget-all item-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-117: + add trash can icon
  mobile/src/assets/icons/trash.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-117: * configure store, add enums and types
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/pagination/pagination.ts
  mobile/src/common/types/http/http-options.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/services/http/http.service.ts
  mobile/src/services/services.ts
  mobile/src/services/users-api/users-api.service.ts
  mobile/src/store/store.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-117: * add enums and types
  mobile/src/components/uam/common/enums/enums.ts
  mobile/src/components/uam/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam/common/types/types.ts
  mobile/src/components/uam/common/types/users-table-data.type.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-117: + add users table component
  mobile/src/components/uam/helpers/get-actions-column.helper.ts
  mobile/src/components/uam/helpers/get-users-columns.helper.ts
  mobile/src/components/uam/helpers/helpers.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/components/uam/users-table/users-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-117: * remove useless code and fix trash icon
  mobile/src/assets/icons/trash.svg
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * fixed style names issue and review issues
  frontend/src/components/common/button/button.tsx
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/styles.module.scss
  frontend/src/components/uam/components/groups-table/groups-table.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-117: * remove useless code
  mobile/src/components/uam/common/types/types.ts
  mobile/src/components/uam/helpers/get-actions-column.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB94: * edit group
  backend/src/api/groups/groups.api.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  backend/src/validation-schemas/group/group.ts
  backend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB94: * edit group
  shared/src/common/types/groups/groups-update-request-dto.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-135: * refactor drawer navigation
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
