Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-346: * update delete strategy
  backend/src/data/migrations/20220830085215_add_tasks_table.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-346: * fix typo
  backend/src/data/repositories/task-note/task-note.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: + chat message service
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  shared/src/common/types/chat-message/chat-message-get-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-346: - redundant method
  backend/src/services/task/task.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-264: * resolve lint errors
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * api path typo
  shared/src/common/enums/api/tasks-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-268: * refactoring
  mobile/src/components/setting/common/contants.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/store/user-details/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: * fix get task
  backend/src/api/tasks/tasks.api.ts
  backend/src/data/repositories/task/task.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-348: * required updates
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/common/common.tsx
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/store/user-details/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-360: * become mentor is displayed for the user that is not a mentor in a particular course
  mobile/src/components/course/course.tsx
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

* updated select component to use react select
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/ui/selector-option.type.ts
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/components/edit-category-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/interview/components/interview-item/helpers/get-interviewers-options-helper/get-interviewers-options.helper.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options-helper/get-gender-options.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-262: *updated enum file name
  frontend/src/common/enums/search/search-value.enum.ts
  frontend/src/common/enums/search/search.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-254: * fixed query
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-355: - removed space
  backend/src/api/courses/courses.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-224: + user delete tests
  backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/users/users.service.ts
  backend/tests/src/tests/specs/users/users-delete/users-delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-375: + aded response to swagger
  backend/src/documentation/endpoints/users/users-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB354: * update types to get mentor
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-mentor-params-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-get-mentor.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB354: * rename mentor request
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-mentor-params-dto.type.ts
  shared/src/common/types/user/user-get-mentor-request-params-dto.type.ts
  shared/src/common/types/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB354: * fix validation schema
  shared/src/validation-schemas/user/user-get-mentor.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB: * rename gmail.com to guruhub.club in seeds
  backend/src/data/seeds/test_courses_mentors.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB354: + get user's mentor
  backend/src/api/api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/validation-schemas/user/user.ts
  backend/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-348: * fixes
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-254: * changed naming
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-249: + chat messages service and api
  backend/src/api/chats/chats.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/chat-message/chat-message.service.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/chats-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-request-dto.type.ts
  shared/src/common/types/chat-message/chat-message-user-response-dto-type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-355: + changed fetching mentees on fe
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-347: * moved anonymious functions to function expressions
  frontend/src/components/common/select/select.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-346: + front-end task-api service
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/task-note/task-note.ts
  frontend/src/common/types/task/task.ts
  frontend/src/common/types/types.ts
  frontend/src/services/tasks-api/tasks-api.service.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-348: * fixed conflicts with mobile
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: + interview when press Become a mentor button
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/types.ts
  mobile/src/components/interviews/interviews.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/common.ts
  mobile/src/store/interviews/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-249: + chat message api and validation shemas
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/validation-schemas/chat-message/chat-message.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/chat-message/chat-message-create-request-params-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-request-params-dto.type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message-get-all.validation-schema.ts
  shared/src/validation-schemas/chat-message/chat-message.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-224: * updated asserts for delete spec
  backend/tests/src/tests/specs/users/users-delete/users-delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-360: + getPassedInterviewCategoryIds
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-371: * fixed categories to not require jwt
  frontend/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: + chat messages documentation, * chat messages response dto, * interview notes docs
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/chat-messages/chat-create-message.yaml
  backend/src/documentation/endpoints/chat-messages/chat-get-all-last-messages.yaml
  backend/src/documentation/endpoints/chat-messages/chat-get-all-messages.yaml
  backend/src/documentation/endpoints/chat-messages/chat-messages-root-operations.yaml
  backend/src/documentation/endpoints/interviews/interviews-create-note.yaml
  backend/src/documentation/schemas/chat-messages/chat-create-message-request-dto.yaml
  backend/src/documentation/schemas/chat-messages/chat-get-all-messages-response-dto.yaml
  backend/src/documentation/schemas/chat-messages/chat-get-message-response-dto.yaml
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-249: * method name changed
  backend/src/api/chats/chats.api.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-360: * refactor add becomeMentor action
  mobile/src/common/enums/notification/notification-messages/notification-message.enum.ts
  mobile/src/common/enums/notification/notification-type/notification-type.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-350: * added textarea type option for input
  frontend/package.json
  frontend/src/components/common/input/input.tsx
  frontend/src/components/interview/components/history-section/history-section.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-360: + spinner while become a mentor proceed
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * fix typo
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-360: * check is category passed
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js
