Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-274: * fixed postgres version, exposed ports, rename Server to Backend
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-262: * handleClick to work with keyName instead event
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-290: * avoid nesting
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: * changed moving backend build folder to copying, removed filling env files, added seeding
  .github/workflows/ci.yml
  prepare-build.sh
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-274: * extracted db data to common env
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-259: + interview note repository and dtos
  backend/src/common/types/interview-note/interview-note-create-request-arguments-dto.type.ts
  backend/src/common/types/interview-note/interview-note.ts
  backend/src/common/types/types.ts
  backend/src/data/models/interveiw-note/interview-note.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: * returned seed script back
  backend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-263: + add Content component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/content/content.tsx
  mobile/src/components/common/content/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-275: * updated service and API for permissions to return data with pagination
  backend/src/api/permissions/permissions.api.ts
  backend/src/services/permission/permission.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: * move to separate action
  .github/workflows/ci-integration.yml
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-257: * returned all fields in put req except of the password
  backend/src/data/repositories/interview/interview.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-256: + implement edit course category
  backend/tests/package-lock.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/assets/icons/edit.svg
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/courses/course-update-category-request-arguments-dto.type.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/dropdown/common/constants.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/permissions/permissions.ts
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: + interview note service
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/interview-note/interview-note-error.exception.ts
  backend/src/services/interview-note/interview-note.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/interview-note/interview-note-get-all-item-response-dto.type.ts
  shared/src/common/types/interview-note/interview-note-get-all-response-dto.type.ts
  shared/src/common/types/interview-note/interview-note.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Update readme.md
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-259: * renamed interview note creator writer name
  backend/src/data/migrations/20220826111556_add_interview_notes_table.ts
  backend/src/data/models/interveiw-note/interview-note.model.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-206: * import required enums
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: + add category service
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * expand courses store with get categories action
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-274: * remove lint and build from ci-integration
  .github/workflows/ci-integration.yml
  prepare-build.sh
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-259: + interview note api and dtos for that
  backend/src/api/interview-notes/interview-notes.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/interview-note/interview-note.ts
  backend/src/common/types/types.ts
  backend/src/services/services.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/interview-notes-api-path.enum.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/interview-note/interview-note-create-request-dto.type.ts
  shared/src/common/types/interview-note/interview-note-create-request-params-dto.type.ts
  shared/src/common/types/interview-note/interview-note.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-254: + added frontend functionality
  frontend/src/assets/img/default-mentor-image.png
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/mentor/mentor.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/course/components/choose-mentor-button/choose-mentor-button.tsx
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/components.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/components.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/styles.module.scss
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-274: * add missing env, make mocha complete always with exit code 0 or 1
  .github/workflows/ci-integration.yml
  backend/tests/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-206: * make able to select only one category
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/components/category-list/style.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * add categories list to courses screen
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: + get table rows helper
  mobile/src/components/interviews/helpers/get-row-helper/get-interviews-row.helper.tsx
  mobile/src/components/interviews/helpers/helpers.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: + backend service, repo methods
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-266: + label component
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/helpers/get-row-helper/get-interviews-row.helper.tsx
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews-table/components/label/label.tsx
  mobile/src/components/interviews/interviews-table/components/label/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: + front-end service method
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-206: * import required types
  mobile/src/common/types/category/category.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * add service to get category by id
  mobile/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * create separate categories store
  mobile/src/store/actions.ts
  mobile/src/store/categories/actions.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/categories/reducer.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-263: * add width to props Content component
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: + interview store
  frontend/src/store/actions.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * add main functionallity
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * reset active category after lose focus
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-263: * add default width
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: + custom hook to check permissions to write and read the interview notes
  backend/src/api/interview-notes/interview-notes.api.ts
  backend/src/hooks/able-to-write-interview-notes/able-to-write-interview-notes.hook.ts
  backend/src/hooks/hooks.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-252: * fix backend service and repo
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-259: + interview notes create and get all operations swagger docs
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interview-get-all-notes.yaml
  backend/src/documentation/endpoints/interviews/interview-notes-operations.yaml
  backend/src/documentation/endpoints/interviews/interviews-create-note.yaml
  backend/src/documentation/schemas/interviews/interviews-create-note-request-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-create-note-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-get-all-notes-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs
