Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-278: octal sequence error fixed
  backend/src/data/migrations/20220822100917_add_fullname_to_user_details.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-262: + added useSearch hook * adde usage of hook to search and filtering by category
  frontend/src/components/common/header/header.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-search/use-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-204: * refactor, delete useless logic
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-262: *logic for highlighting selected category
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-search/use-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-269: + basic categories markup
  frontend/src/components/course/components/add-categories-modal/add-categories-modal.tsx
  frontend/src/components/course/components/add-categories-modal/common.ts
  frontend/src/components/course/components/add-categories-modal/components/categories-select/categories-select.tsx
  frontend/src/components/course/components/add-categories-modal/components/categories-select/styles.module.scss
  frontend/src/components/course/components/add-categories-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/course/components/add-categories-modal/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-269: + minimal modal functionality
  frontend/src/components/course/components/add-categories-modal/add-categories-modal.tsx
  frontend/src/components/course/components/add-categories-modal/styles.module.scss
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-204: * refactor
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-262: * moved handleClick to Category component
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-262: * removed comments
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-271: * fixed the course page for unauthorized users
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-279: * add course btn is now removed for unauthorized users
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-252: * move pendingOrPassedInterviews logic to repo
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/tests/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-264: * import required types
  mobile/src/common/types/course-modules/course-modules.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: + add course module service
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: + add course modules component
  mobile/src/components/course-modules/components/module.tsx
  mobile/src/components/course-modules/components/styles.ts
  mobile/src/components/course-modules/course-modules.tsx
  mobile/src/components/course-modules/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * edit styles
  mobile/src/components/course-modules/components/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: * update types
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/interview/interviews-create-request-dto.type.ts
  backend/src/common/types/types.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-create-request-body-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-create.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-269: + course category update services, store, ui, validation and dtos on frontend * fixed review issue
  backend/src/data/repositories/course/course.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-update-category-by-id.yaml
  backend/src/documentation/endpoints/courses/courses-by-id-operations.yaml
  backend/src/documentation/endpoints/courses/courses.yaml
  backend/src/services/course/course.service.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/course/course-update-category-request-arguments-dto.type.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/add-categories-modal/add-categories-modal.tsx
  frontend/src/components/course/components/add-categories-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/course/components/add-categories-modal/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  frontend/src/validation-schemas/course/course.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/validation-schemas/course/course-update-category.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-252: + interviews and mentors service front-end
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/mentor/mentor.ts
  frontend/src/common/types/types.ts
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/services/mentors-api/mentors-api.service.ts
  frontend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-266: + interview screen
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/interview/interview.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + actions, reducer
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-261: + fix pr
  backend/src/api/users/users.api.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/documentation/endpoints/users/users-delete.yaml
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/users-error/users-error.exception.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-284: + fixed cast on get users request
  backend/src/data/repositories/user/user.repository.ts
  shared/src/common/types/user/users-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-284: + fixed cast on get users request
  shared/src/common/types/user/users-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-269: * fixed naming and useMemo dependency issues
  frontend/src/components/course/components/add-categories-modal/add-categories-modal.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-204: * reduced polling time for search field
  mobile/src/components/common/search/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-252: + documentation
  backend/src/api/mentors/mentors.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interviews-create.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-all.yaml
  backend/src/documentation/endpoints/interviews/interviews-interviewee-get-pending-or-passed-category-ids.yaml
  backend/src/documentation/endpoints/interviews/interviews.yaml
  backend/src/documentation/endpoints/mentors/mentors-create.yaml
  backend/src/documentation/endpoints/mentors/mentors.yaml
  backend/src/documentation/schemas/interviews/interviews-add-request-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-add-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-interviewee-get-pending-or-passed-category-ids-response.yaml
  backend/src/documentation/schemas/mentors/mentors-create-request-dto.yaml
  backend/src/documentation/schemas/mentors/mentors-create-response-dto.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-252: + white routes
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-269: * edit course category modal naming issues
  frontend/src/components/course/components/components.tsx
  frontend/src/components/course/components/edit-category-modal/common.ts
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/components/edit-category-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/course/components/edit-category-modal/helpers/helpers.ts
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-285: + user details seeding
  backend/src/data/seeds/test_users_groups.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-263: + course request and service
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-263: + course screen and navigation to him
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-263: * export sanitizeHTML from shared
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
  mobile/src/helpers/sanitize/sanitize.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-163: + InterviewsGetAllResponseDto type
  mobile/src/common/types/interview/interview.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-262: * changed div to button, removed id from category and used keyName instead, updated operator to ??
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/hooks/use-search/use-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-264: * add check if no modules
  mobile/src/components/course-modules/course-modules.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-279: * now using one useAppSelector
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-271: * route link improvement
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-264: * fix types import
  mobile/src/common/types/course-modules/course-modules.ts
  mobile/src/common/types/types.ts
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/store/course-modules/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
