Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-256: * refactor
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256: * refactor
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-323: * created useForm control
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-259: * renamed file with sort mode enum
  shared/src/common/enums/sort/sort-order.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-259: * fixed import in enums file
  shared/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-336: * become mentor wrapper
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-262: * updated enum file name
  frontend/src/common/enums/search/search-values.enum.ts
  frontend/src/common/enums/search/search.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-336: * chenged styles on become a mentor button
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-323: * integration og useForm with onChange mode
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: * db sort order enum file name changed
  shared/src/common/enums/enums.ts
  shared/src/common/enums/sort/sort.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-323: * outer form onChange works
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-336: - removed redundant bottom line
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * add all logos to mapper
  mobile/src/assets/images/categories/nodejs.svg
  mobile/src/components/courses/components/category-list/common/maps/category-key-to-image.map.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-323: * fixed search form styles
  frontend/src/components/common/header/components/search-bar/search-bar.tsx
  frontend/src/components/common/header/components/search-bar/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-346: + tasks and task_notes tables
  backend/src/data/migrations/20220830085215_add_tasks_table.ts
  backend/src/data/migrations/20220830101405_add_task_notes_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-346: * fix migrations
  backend/src/data/migrations/20220830085215_add_tasks_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-346: + Task and TaskNote models
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/task/task.ts
  backend/src/data/models/models.ts
  backend/src/data/models/task-note/task-note.model.ts
  backend/src/data/models/task/task.model.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/task/task-status.enum.ts
  shared/src/common/enums/task/task.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-227: + service
  backend/tests/src/lib/services/categories/categories.service.ts
  backend/tests/src/lib/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-346: + Task and TaskNote repo
  backend/src/common/types/task-note/task-note-create-arguments-dto.type.ts
  backend/src/common/types/task-note/task-note-get-all-arguments-dto.type.ts
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/types.ts
  backend/src/data/models/task-note/task-note.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/data/repositories/task/task.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB344: * fix table pagination
  frontend/src/components/common/pagination/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-227: + tests
  backend/tests/src/lib/common/constants/constants.ts
  backend/tests/src/lib/common/constants/objects.constants.ts
  backend/tests/src/tests/json-schemas/categories/all/all-categories.schema.ts
  backend/tests/src/tests/json-schemas/categories/all/all.ts
  backend/tests/src/tests/json-schemas/categories/categories.ts
  backend/tests/src/tests/json-schemas/categories/one/one-category.schema.ts
  backend/tests/src/tests/json-schemas/categories/one/one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/specs/categories/get-all/get-all-categories.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-227: * fix test name
  backend/tests/src/tests/specs/categories/get-all/get-all-categories.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-264: * add useMemo
  mobile/src/components/courses/components/category-list/category-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-302: * fixed categories recolor on search
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-355: + added backend for getting all mentees of the mentor on the course
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/types/course/course-get-mentees-by-mentor-request-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-307: + Add 'Created' column to the 'Groups' table at /uam mobile
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/common/types/groups-table-data.type.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-268: * change default avatar image
  mobile/src/assets/images/avatar-default.png
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-346: + task and taskNote services
  backend/src/common/types/task-note/task-note.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/services/services.ts
  backend/src/services/task-note/task-note.service.ts
  backend/src/services/task/task.service.ts
  shared/src/common/types/task-note/task-note-get-item-response-dto.type.ts
  shared/src/common/types/task-note/task-note.ts
  shared/src/common/types/task/task-get-item-response-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-374: * fix message
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: - allure report double-zipping
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-264: * add margin top for categories list
  mobile/src/components/courses/components/category-list/style.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * change problem images
  mobile/src/assets/images/categories/angularjs.svg
  mobile/src/assets/images/categories/barba-js.svg
  mobile/src/assets/images/categories/core-data.svg
  mobile/src/assets/images/categories/cypress.svg
  mobile/src/assets/images/categories/gamedev.svg
  mobile/src/assets/images/categories/grep.svg
  mobile/src/assets/images/categories/protractor.svg
  mobile/src/assets/images/categories/silex.svg
  mobile/src/assets/images/categories/spring-boot.svg
  mobile/src/assets/images/categories/spring-cloud.svg
  mobile/src/assets/images/categories/spring-data.svg
  mobile/src/assets/images/categories/spring-hateoas.svg
  mobile/src/assets/images/categories/spring-integration.svg
  mobile/src/assets/images/categories/spring-mvc.svg
  mobile/src/assets/images/categories/spring-security.svg
  mobile/src/assets/images/categories/tools.svg
  mobile/src/assets/images/categories/webflow.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: + unable to get results message
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: - uses from passed tests count step
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: * fix math expression
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-374: * fix json payloads
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-264: * change problem images
  mobile/src/assets/images/categories/dapps-web-3.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-264: * change select logic to avoid delay after selecting category
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-374: * fix unable to get details text and math expression
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs
