Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-434: + add search
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/conversations-list/styles.ts
  mobile/src/components/chat/styles.ts
  mobile/src/services/chat-api/chat-api.service.ts
  mobile/src/store/chat/actions.ts
  mobile/src/store/chat/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * PR comments
  mobile/src/common/types/navigation/navigation-item.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * fixed logic for not found user
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-434: * refactor
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/services/chat-api/chat-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-434: * refactor
  mobile/src/components/chat/chat.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-451: * fix styles
  mobile/src/components/course/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-411: * fix mimetype error
  mobile/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * removed redundant null user with balance logic
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-443: * don't include students who completed the course
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-316: + test suite
  backend/tests/src/tests/specs/courses/update-category/update-course-category.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-434: + add screen for empty chats
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/components/components.ts
  mobile/src/components/chat/components/conversations-list/components/components.ts
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/empty-chats/empty-chats.tsx
  mobile/src/components/chat/components/empty-chats/styles.ts
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-434: * remove unnecessary styles
  mobile/src/components/chat/components/conversations-list/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-434: * refactor
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/empty-chats/empty-chats.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-443: * fix bugs
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  frontend/src/components/course/course.tsx
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-443: * update error handling
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/mentors-error/mentors-error.exception.ts
  backend/src/services/mentor/mentor.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-434: * refactors
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/empty-chats/empty-chats.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: * change according new navigation
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-458: - redundant wrappers
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/components/menu-popup/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/task-manipulate-mentor.tsx
  frontend/src/components/course/components/choose-mentor-button/choose-mentor-button.tsx
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/components/my-mentor-card/styles.module.scss
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/components/add-course-modal/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/components/interview/components/history-section/styles.module.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-443: * restrict new mentor selection after finishing the course
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/mentees-to-mentors-error/mentees-to-mentors-error.exception.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  readme.md
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-443: * refactor task service code
  backend/src/services/task/task.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-435: + get exist category
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-category-dropdown/edit-category-dropdown.tsx
  mobile/src/components/course/components/edit-category-dropdown/styles.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/store/categories/actions.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/categories/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB441: + my-courses page added
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user-count-request-dto.type.ts
  backend/src/common/types/user/user.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/package.json
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/common/courses-list/styles.module.scss
  frontend/src/components/common/input/styles.module.scss
  frontend/src/components/my-courses/common/types/courses-mentoring-table-title-props.type.ts
  frontend/src/components/my-courses/common/types/types.ts
  frontend/src/components/my-courses/components/actions-cell/actions-cell.tsx
  frontend/src/components/my-courses/components/actions-cell/styles.module.scss
  frontend/src/components/my-courses/components/components.ts
  frontend/src/components/my-courses/components/title-cell/styles.module.scss
  frontend/src/components/my-courses/components/title-cell/title-cell.tsx
  frontend/src/components/my-courses/helpers/get-courses-mentoring-columns/get-courses-mentoring-columns.helper.ts
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/components/my-courses/styles.module.scss
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/my-courses/actions.ts
  frontend/src/store/my-courses/common.ts
  frontend/src/store/my-courses/reducer.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/enums/course/course-validation-rule.enum.ts
  shared/src/common/enums/course/course.ts
  shared/src/common/enums/enums.ts
  shared/src/validation-schemas/course/course-mentoring-update-max-count.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB441: - removed unneccessary select field
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB383: * table smoother resizing and horizontal scroll
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/interview/components/other-applications-table/components/status-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-columns/get-other-applications-columns.helper.ts
  frontend/src/components/interview/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications-table/styles.module.scss
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB441: + pr fixes
  backend/src/data/migrations/20220906171820_update_courses_to_mentors_table.ts
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/my-courses/helpers/get-courses-mentoring-columns/get-courses-mentoring-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-435: + edit category to edit course screen
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/course/components/edit-course/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB471: * fix clock icon color
  frontend/src/components/common/datepicker/styles.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-249: * fixed chat issues with placing messages and message form
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/components/chats/styles.module.scss
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-442: * fixed redundant typings, simplified services and removed redundant services usage
  backend/src/api/api.ts
  backend/src/api/billing/billing.api.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/stripe/stripe.service.ts
  backend/src/services/user-details/user-details.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-411: * fix lint error
  mobile/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-509: * cannot choose a mentor for a course without category
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-509: * syntax change
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-490: * fix error select a gender
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-503: + backend route checkIsMentorForMentee
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/types/course/course-check-is-mentor-for-mentee-request-params-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-check-is-mentor-for-student-params.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-442: + frontend billing service
  frontend/src/common/enums/api/api.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user-details/user-details.ts
  frontend/src/common/types/user/user.ts
  frontend/src/services/billing-api/billing-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/billing/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: + get user with balance on billing api on backend
  backend/src/api/api.ts
  backend/src/api/billing/billing.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * billing service path on shared
  shared/src/common/enums/api/billing-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-505: * import check if today helper
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-505: * create date separator component
  mobile/src/components/chat-conversation/components/messages-list/components/date-separator/date-separator.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/date-separator/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-505: * change styles
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
