Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-154: * fetching modules is done, insertion need to be fixed
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/udemy/udemy-module-get-response-dto.type.ts
  backend/src/data/models/course-module/course-module.model.ts
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/udemy/udemy-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: + If module array is empty - array is thrown
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/udemy/udemy-module.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/http/http-code.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-154: + course modules route
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-165: * fixed wrong text
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-144: * fix typos and add pagination to permission table
  mobile/src/components/uam-groups-create/components/components.ts
  mobile/src/components/uam-groups-create/components/conponents.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * insertion into DB fixed. Task is done
  backend/src/exceptions/courses-module-error/course-modules-error.exception.ts
  backend/src/services/course-modules/course-module.service.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-166: * fixed basepage wrong text
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-157: + added route to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/categories/categories.yaml
  backend/src/documentation/schemas/categories/categories-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-97: * fixed default count in docs
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: * final fixes before push
  backend/src/data/migrations/20220817203631_udemy_course_modules_tables.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: * course module repository create method improvement
  backend/src/data/repositories/course-module/course-module.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-170: * fixed get users route default count param
  backend/src/documentation/endpoints/users/users-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-161: * default width table column
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-172: * added max size for course card
  frontend/src/components/dashboard/components/courses-list/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-144: + add cancel edit action
  mobile/src/store/uam-group-edit/actions.ts
  mobile/src/store/uam-group-edit/common.ts
  mobile/src/store/uam-group-edit/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * import validation schemas
  mobile/src/validation-schemas/group/group.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * add groups edit screen and rename folder
  mobile/src/components/uam-groups-config/common/constants/constants.ts
  mobile/src/components/uam-groups-config/common/constants/create-group-default.constants.ts
  mobile/src/components/uam-groups-config/common/enums/enums.ts
  mobile/src/components/uam-groups-config/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-groups-config/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-groups-config/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-groups-config/common/types/types.ts
  mobile/src/components/uam-groups-config/common/types/users-table-row.type.ts
  mobile/src/components/uam-groups-config/components/components.ts
  mobile/src/components/uam-groups-config/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-config/components/users-table/styles.ts
  mobile/src/components/uam-groups-config/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-config/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-groups-config/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-groups-config/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-groups-config/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-groups-config/helpers/helpers.ts
  mobile/src/components/uam-groups-config/styles.ts
  mobile/src/components/uam-groups-config/uam-groups-create.tsx
  mobile/src/components/uam-groups-config/uam-groups-edit.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * rename folder
  mobile/src/components/uam-groups-create/common/constants/constants.ts
  mobile/src/components/uam-groups-create/common/constants/create-group-default.constants.ts
  mobile/src/components/uam-groups-create/common/enums/enums.ts
  mobile/src/components/uam-groups-create/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-groups-create/common/types/types.ts
  mobile/src/components/uam-groups-create/common/types/users-table-row.type.ts
  mobile/src/components/uam-groups-create/components/components.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/components/users-table/styles.ts
  mobile/src/components/uam-groups-create/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-create/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/helpers.ts
  mobile/src/components/uam-groups-create/styles.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * change import path
  mobile/src/components/uam/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * add handle edit logic
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * fix bug with pagination after user delete
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * course module methods fixes
  backend/src/services/course-modules/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-144: * add styles to create new group button
  mobile/src/components/uam/style.ts
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * add edit group screen to navigation
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-28: * resolve types error
  mobile/src/assets/images/default-course-image.jpg
  mobile/src/components/courses/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * update validation schemas
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-28: * resolve types error
  mobile/src/assets/images/default-course-image.jpg
  mobile/src/assets/images/default-course-image.png
  mobile/src/components/courses/components/course-card/course-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * edded explicit return statement
  backend/src/services/course-modules/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-28: * replace courseDefaultImage
  mobile/src/assets/images/default-course-image.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-164: + white routes
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-144: * PR comments
  mobile/src/components/uam-groups-config/uam-groups-edit.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-169: + pagination to groups in uam
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/services/groups-api/groups-api.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB164: * fix common import
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: * fixed naming and naming constant placement
  backend/src/common/types/course-module/course-module-create-arguments-dto.type.ts
  backend/src/data/migrations/20220817203631_udemy_course_modules_tables.ts
  backend/src/services/course-modules/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-154: * removed redundant curly braces and added proper field name for course module
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-141: + prevent adding duplicate courses
  backend/src/common/types/course/course-create-arguments-dto.type.ts
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/common/types/course/course-get-by-id-and-vendor-key-arguments-dto.type.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/udemy/udemy-get-response-dto.type.ts
  backend/src/data/migrations/20220818193608_courses_add_original_id.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-141: + prevent adding duplicate courses
  backend/src/common/types/course/course-create-arguments-dto.type.ts
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/common/types/course/course-get-by-id-and-vendor-key-arguments-dto.type.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy-get-response-dto.type.ts
  backend/src/data/migrations/20220818201316_courses_add_original_id.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-171: * fix users documentation
  backend/src/documentation/schemas/users/users-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-124: * added migration for fullname field, removed unused package
  backend/src/api/user-details/user-details.api.ts
  backend/src/data/migrations/20220818195149_add_fullname_to_user_details.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
