Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

install dependencies
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: + add search icon
  mobile/src/assets/img/search.png
  mobile/src/assets/img/voice.png
  mobile/src/components/common/common.tsx
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-28: + courses page, course item component
  mobile/package.json
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/components/courses/components/bestseller-label/bestseller-label.tsx
  mobile/src/components/courses/components/bestseller-label/style.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/components/difficulty-label/assets/images/begginer.png
  mobile/src/components/courses/components/difficulty-label/assets/images/intermediate.png
  mobile/src/components/courses/components/difficulty-label/assets/images/master.png
  mobile/src/components/courses/components/difficulty-label/difficulty-label.tsx
  mobile/src/components/courses/components/difficulty-label/style.ts
  mobile/src/components/courses/components/vendor-label/assets/images/vendors_logo/coursera.png
  mobile/src/components/courses/components/vendor-label/assets/images/vendors_logo/udemy.png
  mobile/src/components/courses/components/vendor-label/style.ts
  mobile/src/components/courses/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * install dependencies
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: + add get image uri helper and replace require with it
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/styles.ts
  mobile/src/custom.d.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/ui/get-image-uri/get-image-uri.helper.ts
  mobile/src/helpers/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: + fix import text style type
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * add width style prop for logo
  mobile/src/components/auth/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * united imports in common.ts
  mobile/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * fix logo import path
  mobile/src/components/auth/auth.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: + custom drawer navigation
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-item/styles.ts
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
  mobile/src/navigation/app/components/drawer-list/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * add reducer cases, fix backend issue
  backend/src/api/users/users.api.ts
  backend/src/data/repositories/user/user.repository.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/table/table.tsx
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/uam.tsx
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-77: * fix conflicts
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-28: * refactor
  mobile/src/common/types/courses/course.type.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-81: * fix validation and page index change
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  shared/src/validation-schemas/pagination/pagination.validation.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-41: * group error refactored
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-group-error/invalid-group-error.exception.ts
  shared/src/exceptions/exceptions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-92: * fix variable names
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-43: * restored app component
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-63: + div wrapper for content * styles to add scroll to content
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/common/authorized-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-79: + Add query to fetch user permissions while sign-in and sign-up
  backend/src/data/migrations/20220810080145_add_users_associations.ts
  backend/src/data/models/group/group.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: + add logic for voice icon and make style for focus
  mobile/src/assets/images/search.png
  mobile/src/assets/images/voice.png
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/search/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-79: * Rewrite query, fix typo, fix dto
  backend/src/data/migrations/20220810080145_add_users_associations.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-28: * refactor
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/difficulty-label/difficulty-label.tsx
  mobile/src/components/courses/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-28: * fix failed for rules: regex (([.a-z0-9]*)([-.][a-z0-9]+)*)
  mobile/src/components/courses/components/vendor-label/assets/images/coursera.png
  mobile/src/components/courses/components/vendor-label/assets/images/udemy.png
  mobile/src/components/courses/components/vendor-label/vendor-label.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: - delete trash
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/custom.d.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * edit metro.config.js
  mobile/metro.config.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * edit drawer navigation type
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: + use app navigate
  mobile/src/hooks/hooks.ts
  mobile/src/hooks/use-app-navigate/use-app-navigate.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * refactoring drawer navigation
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-item/styles.ts
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * fix import images
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-43: * file managment
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/groups/actions.ts
  frontend/src/store/uam/users/actions.ts
  frontend/src/store/uam/users/common.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-33: * change styles name
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-43: + swagger docs for groups * swagger doc for users
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
  backend/src/documentation/schemas/groups/groups-get-all-response-dto.yaml
  backend/src/documentation/schemas/users/users-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * add default value isFocused
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-81: * type fixes
  backend/src/api/users/users.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/pagination/pagination.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
  shared/src/common/enums/pagination/pagination-default-values.enum.ts
  shared/src/common/enums/pagination/pagination.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-response-dto.types.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-28: - remove --fix in packege.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-79: * Add permisson to userd dto
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/users-by-id-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB81: * update documentation
  backend/src/documentation/endpoints/users/users-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-63: * overflow to auto and class name to camelcase - flex-grow for root component
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
  frontend/src/components/common/authorized-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * fix package-lock
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: + install packages for tab navigation
  mobile/package-lock.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
