Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-106: * fix issue with host
  backend/src/common/enums/course/course-host.enum.ts
  backend/src/services/course/course.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-133: + Add pagination
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
  mobile/src/components/common/text/text.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-116: * resolve conflicts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-133: * edit styles
  mobile/src/components/common/common.tsx
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-133: * fix unnecessary changes
  mobile/src/components/common/button/button.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-130: + http service
  backend/tests/.mocharc.js
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/src/lib/common/types/api/api-session.type.ts
  backend/tests/src/lib/common/types/api/api.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-130: * extracted request and response extension types to separate files
  backend/tests/src/lib/common/types/got/got.ts
  backend/tests/src/lib/common/types/got/request-options.type.ts
  backend/tests/src/lib/common/types/got/response.type.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: * move env variables to enum
  backend/src/common/enums/app/env.enum.ts
  backend/src/services/udemy/udemy.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-51: + group create service and store
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/groups/groups.ts
  frontend/src/common/types/permissions/permissions.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/users-group-creation.dto.type.ts
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/components/group-create/common/default-create-group-payload.ts
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/style.module.scss
  frontend/src/services/permissions/permissions.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-106: * refactor http and udemy services
  backend/src/common/enums/app/env.enum.ts
  backend/src/services/http/http.service.ts
  backend/src/services/udemy/udemy.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-105: * fixed courses description column type
  backend/src/data/migrations/20220813195759_courses_table_description_type_fix.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: * move logic outside of constructor
  backend/src/services/services.ts
  backend/src/services/udemy/udemy.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-133: * refactor
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
  mobile/src/components/common/text/text.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-133: * add blank before function pagination.tsx
  mobile/src/components/common/pagination/pagination.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-95: * PR issues
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
  shared/src/helpers/permissions/check-permission-keys/check-permission-keys.helper.ts
  shared/src/helpers/permissions/permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

HRHB-130: * renamed noAutoAuth to hasAutoAuth, moved request builder to separate file
  backend/tests/src/lib/common/types/got/request-options.type.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/http/request-builder.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-103: * function expression to arrow function
  backend/tests/src/lib/helpers/config/set-config/set-config.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-104: * replaced icons in category component with image and moved img source to another folder
  frontend/public copy/favicon.ico
  frontend/public copy/index.html
  frontend/public copy/logo192.png
  frontend/public copy/logo512.png
  frontend/public copy/manifest.json
  frontend/public copy/robots.txt
  frontend/public/c.svg
  frontend/public/java.svg
  frontend/public/nodejs.svg
  frontend/public/python.svg
  frontend/public/typescript.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-104: * removed unnecessary copy of public folder
  frontend/public copy/favicon.ico
  frontend/public copy/index.html
  frontend/public copy/logo192.png
  frontend/public copy/logo512.png
  frontend/public copy/manifest.json
  frontend/public copy/robots.txt
Due: npm run lint:editorconfig && npm run lint:fs

grhb-46: * make button component render a link in case to prop is passed in
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/link/link.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

grhb-46: * remove redundant code
  frontend/src/components/common/link/link.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-46: * avoid unnecessary nesting
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-130: * rename constructor types
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/http/request-builder.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * tests scripts
  .ls-lint.yml
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-134: + test data helper
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/src/lib/helpers/testing/testing.ts
  backend/tests/src/lib/helpers/testing/with-test-data/with-test-data.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-134: * fix install:all script
  backend/tests/package.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: * fix status code
  backend/src/api/course/course.api.ts
  backend/src/documentation/endpoints/courses/course-add.yaml
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: + tests to install script
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: + group creation page
  frontend/src/common/types/permissions/permissions-group-creation-dto.type.ts
  frontend/src/common/types/permissions/permissions.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/common/common.tsx
  frontend/src/components/uam/components/group-create/common/enums/enums.ts
  frontend/src/components/uam/components/group-create/common/enums/permission-table-accessor.enum.ts
  frontend/src/components/uam/components/group-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam/components/group-create/components/permissions-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/users-table.tsx
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam/components/group-create/helpers/get-permission-rows-helper/get-permission-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam/components/group-create/helpers/get-user-rows-helper/get-user-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/helpers.ts
  frontend/src/components/uam/components/group-create/style.module.scss
  frontend/src/components/uam/components/group-create/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-99: * fix table styles: correct component view and prevent header scrolling
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-99: * add table export to common file
  mobile/src/components/common/common.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-118: + export common types and enums
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/pagination/pagination.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/uam/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-135: + protected route component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-118: + groups table
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
  mobile/src/components/uam/groups-table/helpers/get-rows-helper/get-rows.helper.ts
  mobile/src/components/uam/groups-table/helpers/helpers.ts
  mobile/src/components/uam/groups-table/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-118: + groups action, reducer, services
  mobile/src/services/groups/groups.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: + group creation send dto is ready
  frontend/src/common/types/form/form-control-register.type.ts
  frontend/src/common/types/form/form-control-watch.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/permissions/permissions.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/uam/components/group-create/common/enums/enums.ts
  frontend/src/components/uam/components/group-create/common/enums/group-creation-fields-names.enum.ts
  frontend/src/components/uam/components/group-create/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam/components/group-create/components/permissions-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/styles.module.scss
  frontend/src/components/uam/components/group-create/components/users-table/users-table.tsx
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/helpers/get-permission-rows-helper/get-permission-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/get-user-rows-helper/get-user-rows.helper.tsx
  frontend/src/components/uam/components/group-create/styles.module.scss
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/store/uam/reducer.ts
  shared/src/common/types/permission/permission-iget-all item-response-dto.type.ts
  shared/src/common/types/permission/permission-item.type.ts
  shared/src/common/types/permission/permission.ts
  shared/src/common/types/permission/permissions-get-all-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-with-permissions.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-118: * fix groups table state
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/store/uam/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-51: * group add functionality on frontend is done
  frontend/src/components/common/checkbox/checkbox.tsx
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/uam/components/group-create/common/default-create-group-payload.ts
  frontend/src/components/uam/components/group-create/common/enums/group-creation-fields-names.enum.ts
  frontend/src/components/uam/components/group-create/components/users-table/users-table.tsx
  frontend/src/components/uam/components/group-create/group-create.tsx
  frontend/src/components/uam/components/group-create/helpers/get-permission-rows-helper/get-permission-rows.helper.tsx
  frontend/src/components/uam/components/group-create/helpers/get-user-rows-helper/get-user-rows.helper.tsx
  frontend/src/components/uam/components/group-create/styles.module.scss
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/validation-schemas/group/group-create.validation-schema.ts
  frontend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-118: * rename file and folder
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/services.ts
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
