Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-343: * updated logic for checking if user is interviewee or interviewer
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/interview/interviews-check-user-is-interviewer-or-interviewee-payload.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-359: refactor, change MyMentorCard
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
  mobile/src/components/course/components/my-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-493: * improvement
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-531: * fixed issues
  backend/src/data/repositories/interview/interview.repository.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB469: * hide choose or become mentor buttons when user is a student or mentor
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: * prevent user becoming both student and mentor of the same course
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB469: * fix conflict
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: + improved selecting mentor functionality according to the billing improvements
  backend/src/data/models/course-categories-price/course-categories-price.model.ts
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  backend/src/services/course-category-price/course-category-price.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-439: + backend service
  backend/src/api/api.ts
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/socket/socket-server.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/index.d.ts
  backend/src/plugins/plugins.ts
  backend/src/plugins/socket/socket-injector/socket-injector.plugin.ts
  backend/src/plugins/socket/socket.ts
  backend/src/server.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  backend/src/services/socket/socket.service.ts
  backend/src/socket/handlers/handlers.ts
  frontend/src/common/types/socket/client-to-server-events.type.ts
  frontend/src/common/types/socket/server-to-client-events.type.ts
  frontend/src/common/types/socket/socket.ts
  frontend/src/common/types/types.ts
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/store.ts
  shared/src/common/enums/socket/socket-event.enum.ts
  shared/src/common/types/socket/client-to-server-events.type.ts
  shared/src/common/types/socket/server-to-client-events.type.ts
  shared/src/common/types/socket/socket-message-event-dto.type.ts
  shared/src/common/types/socket/socket.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-442: + after completing course mentor gets his/her payment
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  backend/src/services/transaction/transaction.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * fixed issue with not injected service
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-433: * change validation schema type
  mobile/src/common/types/chat/chat-message-form-request-dto.type.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-535: add capitalize func to GENDER_OPTIONS
  mobile/src/components/setting/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * change type of form payload
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat-conversation/components/message-form/helpers/get-default-message-payload.helper.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB526: + added const variable
  frontend/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-433: * remove unused types
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-433: * undo stupid step
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * refactor backend, + connect to frontend
  backend/src/api/chats/chats.api.ts
  backend/src/index.d.ts
  backend/src/plugins/plugins.ts
  backend/src/plugins/socket/socket-injector/socket-injector.plugin.ts
  backend/src/plugins/socket/socket.ts
  backend/src/server.ts
  backend/src/services/socket/socket.service.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
  frontend/src/store/chats/reducer.ts
  shared/src/common/types/socket/socket-message-event-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-435: + redirection action after saving category
  mobile/src/components/course/components/edit-course/edit-course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB534: + added text-transform
  frontend/src/components/common/select/styles.module.scss
  shared/src/common/enums/user/user-gender.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css

GRHB-435: * use async await syntax
  mobile/src/components/course/components/edit-course/edit-course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * move socket service to chat service
  backend/src/api/api.ts
  backend/src/api/chats/chats.api.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-543: + added last message update
  frontend/src/common/types/chat-message/chat-create-message-dto.type.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-439: * small fixes
  backend/src/api/chats/chats.api.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-543: * modified last messages
  frontend/src/common/types/chat-message/chat-create-message-dto.type.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-545: * changed avatar buttons naming
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * fixed review issues and completed basic functionality
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  backend/src/services/transaction/transaction.service.ts
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/common.ts
  frontend/src/components/billing/components/replenish-cards-list/replenish-cards-list.tsx
  frontend/src/components/billing/types/replenish-amount/replenish-amount.type.ts
  frontend/src/components/billing/types/types.ts
  shared/src/common/types/billing/billing-card.type.ts
  shared/src/common/types/billing/billing-replenish-token.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-538: * disable drawer gestures
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB550: * align table elements
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/my-courses/helpers/get-courses-mentoring-columns/get-courses-mentoring-columns.helper.ts
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/components/my-courses/styles.module.scss
  frontend/src/components/uam/components/groups-table/components/actions-cell/styles.module.scss
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-544: * fixed avatar update
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB534: + added text-transform
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-532: add check on file formal to settings
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-532: add contentType as values to FILE_FORMATS
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-538: * replaced swipeEnabled to swipeEdgeWidth
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-554: * import task types
  mobile/src/common/types/task/task.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-554: * add get all tasks by course and mentee id service
  mobile/src/services/tasks-api/tasks-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-554: * configure store
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-554: * add select student logic
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-520: rename history to notes on interview screen
  mobile/src/common/enums/navigation/interview-screen-name.enum.ts
  mobile/src/common/types/navigation/interview-navigation-param-list.type.ts
  mobile/src/components/interview/components/components.ts
  mobile/src/components/interview/components/notes/common.ts
  mobile/src/components/interview/components/notes/components/components.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/components/components.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/note-card.tsx
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/styles.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/notes/components/note-cards-list/styles.ts
  mobile/src/components/interview/components/notes/notes.tsx
  mobile/src/components/interview/components/notes/styles.ts
  mobile/src/navigation/interview/interview.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: * constant out of method
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
