Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-206: * PR comments
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-306: + created field to users table
  frontend/src/components/uam-configure-group/components/components.tsx
  frontend/src/components/uam-configure-group/components/date-cell/date-cell.tsx
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB306: * fix import
  frontend/src/components/uam-configure-group/components/date-cell/date-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-264: * add modules to course screen
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * fix path
  mobile/src/services/course-modules-api/course-modules-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-312: * fix checkbox filling
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * PR comments
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-312: * remove useless code
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-206: * change scrollview to flatlist
  mobile/src/components/courses/components/category-list/category-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256: * add edit category screen
  mobile/src/assets/icons/save.svg
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/course/common.tsx
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/editCourseCategory/common/common.tsx
  mobile/src/components/course/components/editCourseCategory/common/types/dropdown.type.ts
  mobile/src/components/course/components/editCourseCategory/constants.ts
  mobile/src/components/course/components/editCourseCategory/editCourseCategory.tsx
  mobile/src/components/course/components/editCourseCategory/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256: * resolve conflicts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-course-category/common/common.tsx
  mobile/src/components/course/components/edit-course-category/common/types/dropdown.type.ts
  mobile/src/components/course/components/edit-course-category/constants.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/styles.ts
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-256: * resolve conflicts
  mobile/src/components/course/components/edit-course-category/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Update mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-294: * fix fewer hooks rendered error
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/path/are-the-same-paths/are-the-same-paths.helper.ts
  frontend/src/helpers/path/path.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-294: * change approach
  frontend/src/components/common/authorized-menu/components/navigation-menu/components/navigation-menu-item/navigation-menu-item.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/path/are-the-same-paths/are-the-same-paths.helper.ts
  frontend/src/helpers/path/path.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-266: - status-color.enum.ts
  mobile/src/components/interviews/common/enums/enums.ts
  mobile/src/components/interviews/common/enums/status-color.enum.ts
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/interviews-table/components/label/label.tsx
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * rename helpers
  mobile/src/components/interviews/helpers/get-interviews-columns-helper/get-interviews-columns.helper.ts
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
  mobile/src/components/interviews/helpers/helpers.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-296: * fixed border color
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-266: * refactor interviews according PR comments
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * rename Direction column to Category
  mobile/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/helpers/get-interviews-columns-helper/get-interviews-columns.helper.ts
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-321: * edit category icon placement on UI
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-266: * use checkHasPermissions from shared
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
  mobile/src/helpers/permissions/permissions.ts
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * fixed typos, redundant async awaits and type names
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview-note/interview-note.ts
  backend/src/common/types/types.ts
  backend/src/services/interview-note/interview-note.service.ts
  frontend/src/common/types/interview-note/interview-note-get-all-dto.type.ts
  frontend/src/common/types/interview-note/interview-note-get-request-arguments-dto.type.ts
  frontend/src/common/types/interview-note/interview-note.ts
  frontend/src/common/types/types.ts
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
  frontend/src/components/interview/components/history-section/history-section.tsx
  frontend/src/services/interview-notes-api/interview-notes-api.service.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  shared/src/common/types/interview-note/interview-note-create-request-dto.type.ts
  shared/src/common/types/interview-note/interview-note.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview-note/interview-note-create.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: * fix type in status-to-color.map
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/helpers/get-interviews-rows-helper/get-interviews-rows.helper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: * unified interview notes service return types
  backend/src/api/interviews/interviews.api.ts
  backend/src/services/interview-note/interview-note.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-266: * Move the UAM side menu item above the divider line
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-328: * Move the UAM side menu item above the divider line
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB251: * edit interview type
  shared/src/common/enums/interview/interview-status.enum.ts
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-with-details-dto.type.ts
  shared/src/common/types/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB251: * interviews small fixes
  frontend/src/components/interviews/components/category-cell/category-cell.tsx
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/styles.module.scss
  frontend/src/components/interviews/components/status-cell/status-cell.tsx
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  frontend/src/components/interviews/helpers/columns-helpers/column-helpers.ts
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/components/interviews/helpers/helpers.ts
  frontend/src/components/interviews/helpers/rows-helpers/rows-helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB251: * update query with modifier
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-256 * add button under dropdown
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: * fix namings, folder structure
  backend/src/services/group/group.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/interview/components/category-cell/category-cell.tsx
  frontend/src/components/interview/components/category-cell/styles.module.scss
  frontend/src/components/interview/components/components.tsx
  frontend/src/components/interview/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/id-cell/id-cell.tsx
  frontend/src/components/interview/components/id-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-columns/get-other-applications-columns.helper.ts
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
  frontend/src/components/interview/components/other-applications-table/helpers/helpers.ts
  frontend/src/components/interview/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications/components/components.tsx
  frontend/src/components/interview/components/other-applications/helpers/column-helpers/column-helpers.ts
  frontend/src/components/interview/components/other-applications/helpers/helpers.ts
  frontend/src/components/interview/components/other-applications/helpers/row-helpers/row-helpers.ts
  frontend/src/components/interview/components/other-applications/other-applications.tsx
  frontend/src/components/interview/components/status-cell/status-cell.tsx
  frontend/src/components/interview/components/status-cell/styles.module.scss
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-258: * fix folder structure
  frontend/src/components/interview/components/components.tsx
  frontend/src/components/interview/components/other-applications-table/components/category-cell/category-cell.tsx
  frontend/src/components/interview/components/other-applications-table/components/category-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/components/components.tsx
  frontend/src/components/interview/components/other-applications-table/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interview/components/other-applications-table/components/id-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/components/status-cell/status-cell.tsx
  frontend/src/components/interview/components/other-applications-table/components/status-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-columns/get-other-applications-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-258: * fix condition
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-275: * moved permissionsTotalCount to uam-cnfigure-group
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * add useRef to hooks
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/hooks/hooks.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: * fix types, + default values
  frontend/src/components/interview/common/enums/enums.ts
  frontend/src/components/interview/common/enums/table-default-value.enum.ts
  frontend/src/components/interview/components/other-applications-table/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
  shared/src/common/types/interview/interviews-get-other-item-response-dto.type.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB_262: * chnaged activeCtaegory to isActive bool value
  frontend/src/components/common/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-258: - table default value enum
  frontend/src/components/interview/common/enums/enums.ts
  frontend/src/components/interview/common/enums/table-default-value.enum.ts
  frontend/src/components/interview/components/other-applications-table/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-256 * add default value to dropDown
  mobile/src/components/course/components/edit-course-category/common/common.tsx
  mobile/src/components/course/components/edit-course-category/constants.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/helpers/get-categories-options-helper/get-default-value.helper.ts
  mobile/src/components/course/components/edit-course-category/helpers/get-categories-options-helper/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
