Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-484: + editing interview without interviewer
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-434: + add search
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

* itnerview service, after hook
  backend/tests/src/lib/services/interview/interview.service.ts
  backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-255: * extract types to files
  backend/tests/src/lib/common/types/courses/course-create-expected.type.ts
  backend/tests/src/lib/common/types/courses/course-expected.type.ts
  backend/tests/src/lib/common/types/courses/courses.ts
  backend/tests/src/lib/common/types/modules/module-create-expected.type.ts
  backend/tests/src/lib/common/types/modules/modules.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/common/types/vendors/vendor-expected.type.ts
  backend/tests/src/lib/common/types/vendors/vendors.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-480: - fetching interviewers w/o permission
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-453: * rebuild drawer group logic
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/helpers/navigation/get-screens-by-auth/get-screens-by-auth.helper.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/app/common/helpers/group-by-key/group-by-key.helper.ts
  mobile/src/navigation/app/common/helpers/helpers.ts
  mobile/src/navigation/app/common/types/drawer-group.type.ts
  mobile/src/navigation/app/common/types/drawer-navigation-item.type.ts
  mobile/src/navigation/app/common/types/drawer-navigation-list.type.ts
  mobile/src/navigation/app/common/types/types.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/course/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * change link to params
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-476: * updated logic for getting modules data
  backend/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB388: + add custom exception during deleting the user
  backend/src/services/user/user.service.ts
  frontend/package.json
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB388: + add custom exception during deleting the user
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-476: * fixed issue with types in test - removed unused data from UdemyModulesGetResponseDto
  backend/tests/src/lib/services/udemy/udemy.service.ts
  shared/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-411: + helper for pick several images
  mobile/src/helpers/image/pick-image/pick-image.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + basic billing api
  backend/.env.example
  backend/src/api/api.ts
  backend/src/api/billing/billing.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/stripe/payment-currency.enum.ts
  backend/src/common/enums/stripe/stripe.ts
  backend/src/common/types/billing/billing.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/common/types/user/user.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/services.ts
  backend/src/services/stripe/stripe.service.ts
  backend/src/services/user-details/user-details.service.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/billing/billing.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/billing-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/billing/billing-replenish-params-dto.type.ts
  shared/src/common/types/billing/billing.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-with-money-balance-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/common/types/user/user-get-response-with-money-balance-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/billing/billing-replenish.validation-schema.ts
  shared/src/validation-schemas/billing/billing.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-456: * backend label fix
  .github/labeler.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-456: * backend label test
  backend/knexfile.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-456: * ebs label test
  .ebextensions/alb-http-to-https-redirection.config
Due: npm run lint:editorconfig && npm run lint:fs

GRHB352: + pr fixes done, empty chats open fix
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/common/types/chat-message/chat-message-get-all-messages-from-chat-dto.type.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB: * fixed typo
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: + billing service
  backend/src/api/api.ts
  backend/src/api/billing/billing.api.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/services.ts
  backend/src/services/stripe/stripe.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-475: - removed extra class
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-361: * fix input secure
  mobile/src/components/common/input-secure/input-secure.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-411: * fix image helper
  mobile/src/components/setting/setting.tsx
  mobile/src/helpers/image/pick-image/pick-image.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + documentation
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/billing/billing-replenish.yaml
  backend/src/documentation/endpoints/billing/billing-withdraw.yaml
  backend/src/documentation/schemas/billing/billing-operation-response-dto.yaml
  backend/src/documentation/schemas/billing/billing-replenish-request-dto.yaml
  backend/src/documentation/schemas/user-details/user-details-with-money-balance-response-dto.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-453: * unify group by key helper
  mobile/src/helpers/object/group-by-key/group-by-key.helper.ts
  mobile/src/navigation/root/root.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-441: * moved formData into services
  mobile/src/common/types/user-details/user-details-update-avatar-request-dto.type.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/services/user-details-api/user-details-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * PR comments
  mobile/src/helpers/object/group-by-key/group-by-key.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-361: * fixed icon display
  mobile/src/components/common/input-secure/input-secure.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-453: * fix errors
  mobile/src/helpers/object/group-by-key/group-by-key.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-411: * refactor
  mobile/src/components/setting/setting.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-391: * replaced optional chaining with type cast
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * fixed comments with naming, redundant async, and returning potentially nullable values
  backend/.env.example
  backend/src/api/billing/billing.api.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/stripe/payment-units.enum.ts
  backend/src/common/enums/stripe/stripe.ts
  backend/src/data/models/transaction/transaction.model.ts
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/services.ts
  backend/src/services/stripe/stripe.service.ts
  backend/src/services/user-details/user-details.service.ts
  shared/src/validation-schemas/billing/billing-replenish.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-453: * remove comments
  mobile/src/navigation/root/root.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-443: + column to table, + base functionality
  backend/src/common/enums/enums.ts
  backend/src/common/enums/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors-change-status-request-dto.type.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220909101329_add_status_to_mentees_to_mentors_table.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/mentees-to-mentors/mentees-to-mentors-status.enum.ts
  shared/src/common/enums/mentees-to-mentors/mentees-to-mentors.ts
  shared/src/common/types/task/task-create-request-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-316: * extract user types to the common/types folder
  backend/tests/src/lib/common/types/courses/course-create-expected.type.ts
  backend/tests/src/lib/common/types/courses/course-expected.type.ts
  backend/tests/src/lib/common/types/courses/udemy-course-info.type.ts
  backend/tests/src/lib/common/types/modules/module-create-expected.type.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/common/types/users/user-create-expected.type.ts
  backend/tests/src/lib/common/types/users/user-expected.type.ts
  backend/tests/src/lib/common/types/users/users.ts
  backend/tests/src/lib/common/types/vendors/vendor-expected.type.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-316: + category update method
  backend/tests/src/lib/services/courses/courses.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-458: * fix button height
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-458: - redundant class for label
  frontend/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: * renamed units enum and changed userDetails money update logic
  backend/src/common/enums/enums.ts
  backend/src/common/enums/stripe/payment-unit.enum.ts
  backend/src/common/enums/stripe/payment-units.enum.ts
  backend/src/common/enums/stripe/stripe.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/stripe/stripe.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-408: * fixed issues
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
