Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-30: + useDebounce helper to shared
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/common/search/search.tsx
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/debounce/debounce.ts
  shared/src/helpers/debounce/use-debounce/use-debounce.helper.ts
  shared/src/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-124: + get user details by users/details route added
  backend/src/api/api.ts
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/data/models/models.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/services.ts
  backend/src/services/user-details/user-details.service.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-106: fix table names
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/course-to-course-categories/course-to-course-categories.ts
  backend/src/common/types/course-to-vendor/course-to-vendor.ts
  backend/src/common/types/course-to-vendors/course-to-vendors.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course-to-vendor/course-to-vendor.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-to-vendor/course-to-vendor.repository.ts
  backend/src/data/repositories/course-to-vendors/course-to-vendors.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-to-vendor/course-to-vendor.service.ts
  backend/src/services/course-to-vendors/course-to-vendors.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  shared/src/common/types/course-to-course-categories/course-to-course-categories-response-dto.type.ts
  shared/src/common/types/course-to-course-categories/course-to-course-categories.ts
  shared/src/common/types/course-to-vendor/course-to-vendor-response-dto.type.ts
  shared/src/common/types/course-to-vendor/course-to-vendor.ts
  shared/src/common/types/course-to-vendors/course-to-vendors-response-dto.type.ts
  shared/src/common/types/course-to-vendors/course-to-vendors.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: * refactor search component according comments
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/helpers/debounce/debounce.ts
  mobile/src/helpers/debounce/use-debounce/use-debounce.helper.ts
  mobile/src/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-104: * categories svgs source changed and Image in Category replaced with Icon
  frontend/src/assets/icons/c.svg
  frontend/src/assets/icons/java.svg
  frontend/src/assets/icons/nodejs.svg
  frontend/src/assets/icons/python.svg
  frontend/src/assets/icons/typescript.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/category.tsx
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-124: + create user details by users/details route added
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-create-request-dto.type.ts
  shared/src/common/types/user-details/user-details-response-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-122: * added not nullable to fk
  backend/src/data/migrations/20220812172259_add_user_details_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-30: * edit debounce version
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
  shared/package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-124: * fixed post api for user details
  backend/src/api/user-details/user-details.api.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-122: * added unique to fk to identify 1 to 1 relationship
  backend/src/data/migrations/20220812172259_add_user_details_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-79: * proper permissions attachment to user
  backend/src/common/types/permission/permission.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/permission/permission-get-all-response-dto.type.ts
  shared/src/common/types/permission/permission-item-response-dto.type.ts
  shared/src/common/types/permission/permission-item.type.ts
  shared/src/common/types/permission/permission.ts
  shared/src/common/types/permission/permissions-get-all-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/common/types/user/user-with-permissions.type.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-by-id-response-dto.type.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: - delete unuseful png images
  mobile/src/assets/images/search.png
  mobile/src/assets/images/voice.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * proper custom cell component insertion
  backend/src/data/repositories/user/user.repository.ts
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/types/types.ts
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/common/types/users-table-row.type.ts
  frontend/src/components/uam/common/types/users-table.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/styles.module.scss
  frontend/src/components/uam/components/users-table/components/components.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/helpers/helpers.ts
  frontend/src/components/uam/components/users-table/styles.module.scss
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  frontend/src/components/uam/helpers/helpers.ts
  frontend/src/services/users/users.service.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
  mobile/package-lock.json
  shared/src/common/types/user/user-delete-request-dto.type.ts
  shared/src/validation-schemas/user/user-delete.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-77: - unused styling class
  frontend/src/components/uam/components/users-table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-99: * fix package version
  mobile/package-lock.json
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-122: * fixed user details associations
  backend/src/data/migrations/20220812172259_add_user_details_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: - unnecessary types
  backend/src/common/types/course-category/course-category.ts
  backend/src/common/types/types.ts
  shared/src/common/types/course-category/course-category-get-response-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-106: - remove unnecessary code
  backend/src/exceptions/course-error/course-error.exception.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-116: - deleted file mobile/.svgrrc.js
  mobile/.svgrrc.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * rename IconNameToIcon -> iconNameToIcon
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/maps/maps.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * move SearchPayload type to components/common/search/common/types/search-payload.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/common/types.ts
  mobile/src/components/common/search/common/types/search-input.type.ts
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: - course-to-vendors relations
  backend/src/common/types/course-to-vendor/course-to-vendor.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course-to-vendor/course-to-vendor.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-to-vendor/course-to-vendor.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-to-vendor/course-to-vendor.service.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/types/course-to-vendor/course-to-vendor-response-dto.type.ts
  shared/src/common/types/course-to-vendor/course-to-vendor.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: * rename callbackDebounce -> debounceHandleSearch
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-99: * PR comments
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: - remove unnecessary table names
  backend/src/common/enums/db/db-table-name.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: - remove unnecessary headers
  backend/src/services/udemy/udemy.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + type for course creation
  backend/src/common/types/course/course-create-request-arguments-dto.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course/course.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-30: * rename useDebounce -> debounce
  mobile/src/components/common/search/search.tsx
  mobile/src/helpers/debounce/debounce.ts
  mobile/src/helpers/debounce/debounce/debounce.helper.ts
  mobile/src/helpers/debounce/use-debounce/use-debounce.helper.ts
  mobile/src/helpers/helpers.ts
  shared/src/helpers/debounce/debounce.ts
  shared/src/helpers/debounce/debounce/debounce.helper.ts
  shared/src/helpers/debounce/use-debounce/use-debounce.helper.ts
  shared/src/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-104: * removed redundant typing
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-103: + tests config files and choosing
  .lintstagedrc.yml
  backend/tests/.env.example
  backend/tests/.mocharc.js
  backend/tests/env.js
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/src/configs/development.config.ts
  backend/tests/src/configs/production.config.ts
  backend/tests/src/configs/staging.config.ts
  backend/tests/src/lib/common/enums/app/app.ts
  backend/tests/src/lib/common/enums/app/env.enum.ts
  backend/tests/src/lib/common/enums/enums.ts
  backend/tests/src/lib/helpers/config/config.ts
  backend/tests/src/lib/helpers/config/set-config/set-config.helper.ts
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/tests-config.js
  backend/tests/tsconfig.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-99: + add table column type
  mobile/src/common/types/ui/table-column.type.ts
  mobile/src/common/types/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-99: * change Table component props
  mobile/src/components/common/table/table.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-124: * added user-details validation schema
  backend/src/api/user-details/user-details.api.ts
  backend/src/validation-schemas/user-details/user-details.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/enums/user-details/user-details-validation-rule.enum.ts
  shared/src/common/enums/user-details/user-details.ts
  shared/src/validation-schemas/user-details/user-details-create.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-124: * added put method for user details, post removed
  backend/src/api/user-details/user-details.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user-details/user-details-response-dto.type.ts
  backend/src/common/types/user-details/user-details.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  backend/src/validation-schemas/user-details/user-details.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user-details/user-details-item-dto.type.ts
  shared/src/common/types/user-details/user-details.ts
  shared/src/validation-schemas/user-details/user-details-update.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-95: * PR comments
  backend/src/data/models/permission/permission.model.ts
  backend/src/exceptions/permission-error/permission-error.exception.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/permissions/permissions.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  backend/src/index.d.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/permissions/permissions.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/permission/permission-item.type.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/permissions/check-permission-keys/check-permission-keys.helper.ts
  shared/src/helpers/permissions/permissions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-130: + session helpers
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/src/lib/helpers/session/session-storage/session-storage.helper.ts
  backend/tests/src/lib/helpers/session/session.ts
  backend/tests/src/lib/helpers/session/session/session.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + front-end
  frontend/src/common/enums/course/course.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/dashboard/components/dashboard-header/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/components/dashboard-header/components/add-course-modal/common.ts
  frontend/src/components/dashboard/components/dashboard-header/components/add-course-modal/styles.module.scss
  frontend/src/components/dashboard/components/dashboard-header/components/components.tsx
  frontend/src/components/dashboard/components/dashboard-header/dashdoard-header.tsx
  frontend/src/components/dashboard/components/dashboard-header/styles.module.scss
  frontend/src/services/courses/courses.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/courses/actions.ts
  frontend/src/store/courses/common.ts
  frontend/src/store/courses/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/validation-schemas/course/course.ts
  frontend/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-106: * clean up app.tsx
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-106: * fix import
  frontend/src/components/dashboard/components/dashboard-header/components/add-course-modal/add-course-modal.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-124: * added getting userDetails on fe
  frontend/package.json
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user-details/user-details.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/services/services.ts
  frontend/src/services/user-details/user-details.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/user-details/actions.ts
  frontend/src/store/user-details/common.ts
  frontend/src/store/user-details/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
