Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-257: * pr fixes - naming, removed unused dto, redundant modifiers
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  frontend/src/assets/css/variables.scss
  frontend/src/common/types/selector-option/selector-option.ts
  frontend/src/common/types/selector-options/selector-options.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/course/components/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/course/components/edit-category-modal/helpers/get-categories-options-helper/get-categories-options.helper.ts
  frontend/src/components/interview/components/interview-item/helpers/get-interviewers-options-helper/get-interviewers-options.helper.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interview/interview.tsx
  frontend/src/components/interview/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options-helper/get-gender-options.helper.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-other-item-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-with-details-dto.type.ts
  shared/src/common/types/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-336: * changed margin in Become mentor button
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-266: - InterviewsGetAllResponseDto type
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-273: * improvements
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-327: + add coursera, edx icons
  mobile/src/assets/images/vendors/coursera.svg
  mobile/src/assets/images/vendors/edx.svg
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/style.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * refactor render category cell
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-336: * restored normal order of components flow and saved the positioning
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-226: + permission tests, * fixed auth tests
  backend/tests/src/lib/services/permissions/permissions.service.ts
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/permissions/all/all-permissions.schema.ts
  backend/tests/src/tests/json-schemas/user/user-details/user-details.schema.ts
  backend/tests/src/tests/json-schemas/user/user-details/user-details.ts
  backend/tests/src/tests/json-schemas/user/user-with-permissions/user-with-permissions-response.schema.ts
  backend/tests/src/tests/json-schemas/user/user.ts
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB333: + allure:show script, * use rimraf instead of custom script
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/rm.js
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-259: + sort order enum
  backend/src/common/enums/enums.ts
  backend/src/common/enums/sort-order/sort-order.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/sort-order/sort-order.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-338: * fixed scrollbar height
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-257: * pr fixes made
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/selector-option.type.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-266: * change DEFAULT_PAGE_SIZE from 20 to 10
  mobile/src/components/interviews/common/constants/default-page-size.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-304: * change date format and adjust column width to it
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: + wrap http requests in allure steps
  backend/tests/package.json
  backend/tests/src/lib/services/http/request-builder.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-124: * removed isProfilePage props, refactored documentation
  backend/src/documentation/schemas/user-details/user-details-response-dto.yaml
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-333: + report saving in GH action
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-333: * fix artifact name evaluation
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-333: + java installtion, fix zip and conditions
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-333: * fix wait-on bug
  .github/workflows/ci-integration.yml
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-264: * sanitize module description and render as html
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: - atrifact extensions
  .github/workflows/ci-integration.yml
  package-lock.json
  package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-333: [DEBUG: TEST FALURES]
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-259: * changed files paths
  backend/src/common/enums/enums.ts
  backend/src/common/enums/sort/sort.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/sort/sort.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-268: + user details store, service, enum, type
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/user/user.enum.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user-details/user-details.ts
  mobile/src/services/services.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/store/user-details/actions.ts
  mobile/src/store/user-details/common.ts
  mobile/src/store/user-details/reducer.ts
  mobile/src/validation-schemas/user-details/user-details.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-268: * profile screen
  mobile/src/assets/images/avatar-default.png
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: * fix exit code
  .github/workflows/ci-integration.yml
  backend/tests/env.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-263: * fix course image
  mobile/src/components/course/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-264: * PR comments
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/components/course-modules/components/module/module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: * fix wait-on
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-333: * fix conditions
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-266: * refactor category-cell
  mobile/src/components/common/category-image/category-image.tsx
  mobile/src/components/common/category-image/style.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: + slack reporting
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-266: * add padding between rows
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: * change padding between rows
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-333: - value from buttons
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-336: * changed become mentor section placement
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-336: + added button square background
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-258: + clickable row
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
  frontend/src/components/interview/components/other-applications-table/other-applications-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
