Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-34: - remove button isDisabled prop
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/button/button.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-41: * group-creation ticket fixed
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/case/case.enum.ts
  backend/src/common/enums/case/case.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/string-case/string-case.ts
  backend/src/common/types/user/user-by-email-dto.type.ts
  backend/src/data/repositories/groups/groups.repository.ts
  backend/src/helpers/index.ts
  backend/src/helpers/string-case/string-case.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/groups/groups.service.ts
  backend/src/services/user/user.service.ts
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/case/case.enum.ts
  shared/src/common/enums/case/case.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/user/user-sign-up-response-dto.type.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/string-case/string-case.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Merge branch 'development' into task/GRHB-39-refetch-user-after-page-refresh
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-41: - mapper directory removed
  backend/src/mapper/permission/permission.mapper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-41: - helper index.ts removed
  backend/src/helpers/index.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-42: * users dto type and entities managment
  backend/src/api/user/common/user-api-path.enum.ts
  backend/src/api/user/user.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/services/user/user.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/uam/common/users-columns.ts
  frontend/src/components/uam/uam.tsx
  frontend/src/components/uam/users-table/styles.module.scss
  frontend/src/services/users/common.ts
  frontend/src/services/users/users.service.ts
  frontend/src/store/users/actions.ts
  frontend/src/store/users/reducer.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-response-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-65: - remove z-indexes.enum.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/common/enums/ui/z-indexes.enum.ts
  mobile/src/components/common/spinner/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-34: * use own styles
  frontend/src/components/auth/auth.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-65: * delete export ActivityIndicator from mobile/src/components/common/common.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/spinner/spinner.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-41: + post/group validation added
  backend/src/api/groups/groups.api.ts
  backend/src/validation-schemas/group/group.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-message.enum.ts
  shared/src/common/enums/group/group.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/common/enums/validation/group-validation-rule.enum.ts
  shared/src/common/enums/validation/user-validation-rule.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
  shared/src/validation-schemas/group/group.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-33: + add password masking with bullets feature
  mobile/src/components/common/input/input.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-59: * refactor, add customToast
  mobile/src/common/types/notification/notification-payload.type.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/toast/styles.ts
  mobile/src/components/common/toast/toast.tsx
  mobile/src/services/notification/notification.service.ts
  mobile/src/services/services.ts
  mobile/src/store/app/actions.ts
  mobile/src/store/app/common.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
  mobile/src/store/middlewares/middlewares.ts
  mobile/src/store/middlewares/notify-logger/notify-logger.ts
  mobile/src/store/store.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-64: + useHandleClickOutside hook, * wrap image inside button
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/common/image/image.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * ci action
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-64: * remove unnecessary comment
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-34: - remove input wrapper
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-64: * change variable name
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * change font files case
  mobile/android/app/src/main/assets/fonts/inter-400-italic.ttf
  mobile/android/app/src/main/assets/fonts/inter-400.ttf
  mobile/android/app/src/main/assets/fonts/inter-500.ttf
  mobile/android/app/src/main/assets/fonts/inter-600.ttf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-65: * spinner component refactoring according to comments
  mobile/src/components/common/spinner/spinner.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-35: * fix validation on blur
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-64: * fix useEffect dependencies
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRNH-33: + add styles to inputs, style sign-up form, add logo image ay assets
  mobile/src/assets/images/logo.png
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-41: * fixed helpers for group-creation task
  backend/package-lock.json
  backend/src/common/enums/enums.ts
  backend/src/common/enums/string/string.ts
  backend/src/data/repositories/groups/groups.repository.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/string/string.ts
  backend/src/services/groups/groups.service.ts
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/helpers.ts
  shared/src/helpers/string/change-string-case/change-string-case.helper.ts
  shared/src/helpers/string/string.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-10: + logout
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-41: * fixed errors
  backend/src/common/enums/string/string.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-41: * fixed errors
  shared/src/common/enums/user/user-validation-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-38: * common secret key
  backend/src/services/token/token.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-10: * fix route
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-27: + add images
  mobile/src/assets/icons/billing-dark.png
  mobile/src/assets/icons/billing-light.png
  mobile/src/assets/icons/book-dark.png
  mobile/src/assets/icons/book-light.png
  mobile/src/assets/icons/education-dark.png
  mobile/src/assets/icons/education-light.png
  mobile/src/assets/icons/home-dark.png
  mobile/src/assets/icons/home-light.png
  mobile/src/assets/icons/mentors-dark.png
  mobile/src/assets/icons/mentors-light.png
  mobile/src/assets/icons/settings-dark.png
  mobile/src/assets/icons/settings-light.png
  mobile/src/assets/logo.png
  mobile/src/assets/saly.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: - remove styles
  mobile/src/components/billing/billing.tsx
  mobile/src/components/billing/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
  mobile/src/components/mentors/mentors.tsx
  mobile/src/components/mentors/styles.ts
  mobile/src/components/my-education/my-education.tsx
  mobile/src/components/my-education/styles.ts
  mobile/src/components/overview/overview.tsx
  mobile/src/components/overview/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: + add images enums
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/app-icon.enum.ts
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: * edit custom drawer content
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-10: * auth reducer, - redirect on logout
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-41: + users-to-groups added, fixed helpers
  backend/src/api/groups/groups.api.ts
  backend/src/api/permission/permission.api.ts
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/common/types/groups-to-permissions/groups-to-permissions.ts
  backend/src/common/types/permission/permission.ts
  backend/src/common/types/types.ts
  backend/src/common/types/users-to-groups/users-to-groups.ts
  backend/src/data/migrations/20220809045146_add_users_to_groups_table.ts
  backend/src/data/migrations/20220809045744_add_users_to_groups_associations.ts
  backend/src/data/migrations/20220809051610_add_groups_to_permissions_associations.ts
  backend/src/data/models/models.ts
  backend/src/data/models/users-to-groups/users-to-groups.model.ts
  backend/src/data/repositories/groups/groups.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/groups/groups.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
  shared/src/common/enums/case/case.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-rule.enum.ts
  shared/src/common/enums/user/user-validation-rule.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/common/types/groups/groups-request-dto.type.ts
  shared/src/common/types/permission/permission-get-all-response-dto.type.ts
  shared/src/common/types/permission/permission-response.dto.ts
  shared/src/common/types/permission/permission.ts
  shared/src/common/types/types.ts
  shared/src/common/types/users-to-groups/users-to-groups.ts
  shared/src/helpers/string/change-string-case/change-string-case.helper.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-27: + appNavigationParamList
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-27: + screen options constants
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-59: + refactor
  mobile/src/common/types/types.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/toast/toast.tsx
  mobile/src/services/notification/notification.service.ts
  mobile/src/store/app/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs

grhb-62: + protected route component
  frontend/src/components/common/common.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: * fixed types for response and did file managment
  backend/src/api/api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/services/user/user.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/uam/components/users-table/styles.module.scss
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/styles.module.scss
  frontend/src/components/uam/uam.tsx
  frontend/src/services/users/users.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/common.ts
  frontend/src/store/uam/reducer.ts
  frontend/src/store/users/actions.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-get-all-response-dto.type.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

* on 404 - send frontend
  backend/src/server.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js
