Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

Update backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
  backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-352: * moved scrollbar back
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/courses-management/courses-management.tsx
  frontend/src/components/courses-management/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/interviews/styles.module.scss
  frontend/src/components/uam-configure-group/styles.module.scss
  frontend/src/components/uam/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-385: - student-course-module, add it to course module
  frontend/src/components/app/app.tsx
  frontend/src/components/course-module/components/task-manipulate/components/components.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-mentor/task-manipulate-mentor.tsx
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/components/task-manipulate-student/task-manipulate-students.tsx
  frontend/src/components/course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course/components/modules-cards-container/components/components.tsx
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/student-course-module/components/components.tsx
  frontend/src/components/student-course-module/components/task-manipulate/common.ts
  frontend/src/components/student-course-module/components/task-notes/components/components.tsx
  frontend/src/components/student-course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/student-course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/student-course-module/components/task-notes/styles.module.scss
  frontend/src/components/student-course-module/components/task-notes/task-notes.tsx
  frontend/src/components/student-course-module/student-course-module.tsx
  frontend/src/components/student-course-module/styles.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/student-course-module/actions.ts
  frontend/src/store/student-course-module/common.ts
  frontend/src/store/student-course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-433: * change send btn style, unify date format
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/helpers/is-today-message.helper.ts
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB354: + update mentor to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses-change-mentor.yaml
  backend/src/documentation/endpoints/courses/courses-mentor.yaml
  backend/src/documentation/schemas/courses/courses-add-mentor-response-dto.yaml
  backend/src/documentation/schemas/user-details/user-details-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-459: * unify interview buttons
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * fix icon route
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-385: * no task message display
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-433: * remove useless logic
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: - description for mentor view
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-459: * PR comments
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/history/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-385: * fix newline for notes
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-459: * set common button width and height
  mobile/src/components/common/button/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-455: * fix invalid jwt in dashboard
  backend/src/common/constants/api.constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-461: * hide horizontal scrollbar on categories list
  mobile/src/components/courses/components/category-list/category-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB354: * change mentor
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-406: * not both students and choose mentor displayed
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-298: * update method for adding extra backslashes
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-463: * add history no notes placeholder
  mobile/src/components/interview/components/history/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB: * fixed response status
  backend/src/api/courses/courses.api.ts
  backend/src/documentation/endpoints/courses/courses-change-mentor.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-406: * fix checkIsMentor call
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-399: * add logic for student/mentor
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/components.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-manipulate-student/style.ts
  mobile/src/components/course-module/components/task/components/task-manipulate/components/task-manipulate-student/task-manipulate-student.tsx
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/store/course-modules/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-401: * use date helper
  mobile/src/common/constants/user.constants.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/user/user.enum.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-399: * resolve conflicts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-399: * delete unnecessary things
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: + side menu button to the "Menu" section
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-440: + theoretical date separator functionality
  frontend/src/components/chats/components/current-chat/components/messages-list/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-399: * imports
  mobile/src/components/course-module/components/task/components/task-notes/task-notes.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: + stripe lib, envs, basic service config
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/services/stripe/stripe.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-395: * improved status validation
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-435: + courses-management component
  mobile/src/components/courses-management/common/constants/constants.ts
  mobile/src/components/courses-management/common/constants/default-page-size.constants.ts
  mobile/src/components/courses-management/courses-management-table/courses-management-table.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/components/courses-management/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-255: + course creation and get one checks
  backend/tests/src/lib/common/types/courses/courses.ts
  backend/tests/src/lib/common/types/courses/udemy-course-info.type.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/helpers/random/choose/choose.helper.ts
  backend/tests/src/lib/helpers/random/randint/randint.helper.ts
  backend/tests/src/lib/services/courses/courses.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  backend/tests/src/tests/json-schemas/categories/categories.ts
  backend/tests/src/tests/json-schemas/categories/with-dates/category-with-dates.schema.ts
  backend/tests/src/tests/json-schemas/categories/with-dates/with-dates.ts
  backend/tests/src/tests/json-schemas/course/course.ts
  backend/tests/src/tests/json-schemas/course/create/course-create-response.schema.ts
  backend/tests/src/tests/json-schemas/course/create/create.ts
  backend/tests/src/tests/json-schemas/course/one/one-course.schema.ts
  backend/tests/src/tests/json-schemas/course/one/one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/vendor/one/one-vendor.schema.ts
  backend/tests/src/tests/json-schemas/vendor/one/one.ts
  backend/tests/src/tests/json-schemas/vendor/vendor.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-435: + getAllWithCategory method
  mobile/src/services/courses-api/courses-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-401: * fix 😈
  mobile/src/components/common/date-picker/date-picker.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB444: + put route for interview
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interview-manipulate.yaml
  backend/src/documentation/endpoints/interviews/interviews-update-by-id.yaml
  backend/src/documentation/schemas/interviews/interview-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

*edited autotest + added interview, interviewee, interview-get-one
  backend/tests/src/lib/services/interview/interview.service.ts
  backend/tests/src/tests/json-schemas/interview/get-all/interview-get-all.ts
  backend/tests/src/tests/json-schemas/interview/interview.ts
  backend/tests/src/tests/json-schemas/interview/one/interview-get-one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/user/user-interview/interviewee-schema.ts
  backend/tests/src/tests/json-schemas/user/user-interview/interviewer-schema.ts
  backend/tests/src/tests/json-schemas/user/user-interview/user-interview.ts
  backend/tests/src/tests/json-schemas/user/user.ts
  backend/tests/src/tests/specs/interviews/interview-creation.spec.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB354: * rename change mentor prop
  frontend/src/components/course/components/my-mentor-card/my-mentor-card.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js
