Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-30: + add handler for onBlur and onFocus
  mobile/src/components/common/search/search.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-105: + Courses table
  backend/src/data/migrations/20220811102918_fix_db_associations.ts
  backend/src/data/migrations/20220811150606_add_courses_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-32: * fix lint errors
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-82: * refactor usePagination hook
  frontend/src/common/types/react/react.ts
  frontend/src/common/types/react/url-search-params-init.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/pagination/get-valid-page-from-search-params/get-valid-page-from-search-params.helper.ts
  frontend/src/helpers/pagination/pagination.ts
  frontend/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-79: * Fix conflicts
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-32: * PR comments
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-32: * PR comments
  mobile/src/navigation/root/root.navigation.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-33: * change store and actions for sign-up
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: + migrations
  backend/src/data/migrations/20220811163703_add_courses_table.ts
  backend/src/data/migrations/20220811164547_add_courses_to_vendors_table.ts
  backend/src/data/migrations/20220811165051_add_courses_to_vendors_associations.ts
  backend/src/data/migrations/20220811165705_add_courses_to_course_category_id_table.ts
  backend/src/data/migrations/20220811165843_add_courses_to_course_category_id_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-77: * provided actions as cell, fix imports
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/types/users-table.type.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  frontend/src/components/uam/helpers/get-columns-helper/get-users-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-users-rows.helper.ts
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB106: * fix migration
  backend/src/data/migrations/20220811165051_add_courses_to_vendors_associations.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-89: + stack component
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/stack/stack-direction.enum.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/stack/stack.tsx
Due: npm run lint:editorconfig && npm run lint:fs

development: + size to images
  mobile/src/components/common/button/styles.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-89: * fix path component
  mobile/src/components/common/stack/stack.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB106: * fix migrations
  backend/src/data/migrations/20220811165705_add_courses_to_course_category_id_table.ts
  backend/src/data/migrations/20220811165843_add_courses_to_course_category_id_association.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + course model
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/models/models.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + course repository
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/repositories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + association models
  backend/src/data/models/courses-to-course-categories/courses-to-course-categories.model.ts
  backend/src/data/models/courses-to-vendors/courses-to-vendors.model.ts
  backend/src/data/models/models.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + association repositories
  backend/src/data/repositories/courses-to-course-categories/courses-to-course-categories.repository.ts
  backend/src/data/repositories/courses-to-vendors/courses-to-vendors.repository.ts
  backend/src/data/repositories/repositories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-88: + implement storage service,refetch user after app reopen
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/types/http/http-options.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/services/http/http.service.ts
  mobile/src/services/services.ts
  mobile/src/services/storage/storage.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/common.ts
  mobile/src/store/auth/reducer.ts
  mobile/src/store/store.ts
Due: npm run lint:editorconfig && npm run lint:fs

GHRB-97: + added groups pagination backend
  backend/src/api/groups/groups.api.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + vendor model and repo
  backend/src/data/models/models.ts
  backend/src/data/models/vendor/vendor.model.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + vendor service
  backend/src/common/types/types.ts
  backend/src/common/types/vendor/vendor.ts
  backend/src/services/services.ts
  backend/src/services/vendor/vendor.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/vendor/vendor-get-response-dto.type.ts
  shared/src/common/types/vendor/vendor.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-89: * refactoring
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/stack/stack-direction.enum.ts
  mobile/src/components/common/stack/stack.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-82: * fix import and indentation
  frontend/src/hooks/use-pagination/use-pagination.hook.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-96: + protect paths by user permissions
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/api/permissions.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/types.ts
  backend/src/common/types/users-to-groups/users-to-groups.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/permission-error/permission-error.exception.ts
  backend/src/middlewares/middwares.ts
  backend/src/middlewares/permission/permission.middleware.ts
  backend/src/services/groups-to-permissions/groups-to-permissions.service.ts
  backend/src/services/users-to-groups/users-to-groups.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

+ header log in and sign up buttons when user is not authorized
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-96: + exceptions
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/users-to-groups/users-to-groups.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-106: + course-category repo
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/repositories.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-46: * button label input values
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-106: + course-category service
  backend/src/common/types/course-category/course-category.ts
  backend/src/common/types/types.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/services.ts
  shared/src/common/types/course-category/course-category-get-response-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

grhb-46: * handlers names
  frontend/src/components/common/header/header.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB94: * update group name
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/group/group.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-106: + course-to-vendors service
  backend/src/common/types/course-to-vendors/course-to-vendors.ts
  backend/src/common/types/types.ts
  backend/src/data/models/course-to-course-categories/course-to-course-categories.model.ts
  backend/src/data/models/course-to-vendors/course-to-vendors.model.ts
  backend/src/data/models/models.ts
  backend/src/data/repositories/course-to-vendors/course-to-vendors.repository.ts
  backend/src/data/repositories/courses-to-course-categories/courses-to-course-categories.repository.ts
  backend/src/data/repositories/courses-to-vendors/courses-to-vendors.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/services/course-to-vendors/course-to-vendors.service.ts
  shared/src/common/types/course-to-vendors/course-to-vendors-response-dto.type.ts
  shared/src/common/types/course-to-vendors/course-to-vendors.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-106: + course-to-course-categories service
  backend/src/common/types/course-to-course-categories/course-to-course-categories.ts
  backend/src/common/types/types.ts
  backend/src/services/course-to-course-categories/course-to-course-categories.service.ts
  backend/src/services/services.ts
  shared/src/common/types/course-to-course-categories/course-to-course-categories-response-dto.type.ts
  shared/src/common/types/course-to-course-categories/course-to-course-categories.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-106: + course service
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/course/course.service.ts
  backend/src/services/services.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/common/types/course/course-request-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: * fix metro.config.js
  mobile/metro.config.js
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-106: + custom error
  backend/src/exceptions/course-error/course-error.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/services/course/course.service.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-30: + add icon component
  mobile/.svgrrc.js
  mobile/package-lock.json
  mobile/src/assets/icons/search.svg
  mobile/src/assets/icons/voice.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/search/search.tsx
  mobile/src/custom.d.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-30: * disable no-default-export for custom.d.ts
  mobile/src/custom.d.ts
Due: npm run lint:editorconfig && npm run lint:fs
