Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-167: * fixed naming issues
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-167: * fixed naming issues with inserted group
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-28: * rename vendor images
  mobile/src/assets/images/vendors/coursera.svg
  mobile/src/assets/images/vendors/udemy.svg
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-197: + Add padding to settings and uam screens
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-172: * following improvements
  frontend/src/components/dashboard/components/courses-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-162: + course page frontend
  backend/src/api/courses/courses.api.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  frontend/src/store/root-reducer.ts
  shared/src/validation-schemas/course/course-get.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-197: * move scroll view to outside
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-197: * move scroll view to outside in auth
  mobile/src/components/auth/auth.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-28: * refactor func handleCoursesLoad into courses.tsx
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-200: * rename workers to users on create group screen
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * make single config screen
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
  mobile/src/components/uam-groups-config/uam-groups-create.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-120: * add padding to the content
  mobile/src/components/uam-groups-create/styles.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-162: * fixed issues
  backend/src/api/courses/courses.api.ts
  frontend/src/components/common/link/link.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-185: * added min hight to content element and updated paddings for header and dashboard to correspond design
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-28: * replace || to ?? into course-card.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-194: * user should be signed out on 401 error
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/exeptions/exeptions.ts
  mobile/src/common/enums/http/http.ts
  mobile/src/store/auth/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-167: - redundant object
  backend/src/data/migrations/20220818205843_add_admin_group_and_administrator.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-28: - delete assets reletad with coursera vendor
  mobile/src/assets/images/vendors/coursera.svg
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * fixed courses_add_original_id migration down method
  backend/src/data/migrations/20220818201316_courses_add_original_id.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-201: * Increased the tap area for the pagination component
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-190: * fixed margin on the most left category
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-196: + Add keyboardShouldPersistTaps
  mobile/src/components/auth/auth.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-190: * now gap is used
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-201: * Use hitSlop for Pressable
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-196: * resolve conflict
  mobile/src/components/auth/auth.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-173: + group creation swagger endpoint and schema
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-create.yaml
  backend/src/documentation/schemas/groups/groups-create-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

developmet: + outline
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/checkbox/styles.module.scss
  frontend/src/components/common/header/components/search-bar/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

development: * button icons
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/image/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/components/category/styles.module.scss
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-144: * configure hooks for group editing
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/hooks/use-selected-items/use-selected-items.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * configure store to get users for group configurating
  mobile/src/store/uam-groups-create/actions.ts
  mobile/src/store/uam-groups-create/common.ts
  mobile/src/store/uam-groups-create/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * recycle group configuring
  mobile/src/components/uam-groups-config/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-config/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-189: * fixed default user avatar being cropped
  frontend/src/assets/img/avatar-default-rounded.svg
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-196: + add customScrollView component
  mobile/src/components/auth/auth.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/customscrollview/customscrollview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-201: * collapse empty tag
  mobile/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-173: + permissions get all docs * groups create error code
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-create.yaml
  backend/src/documentation/endpoints/permissions/permissions-get-all.yaml
  backend/src/documentation/schemas/permissions/permissions-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-201: * move const hitSlop inside the component
  mobile/src/components/common/pagination/pagination.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * removed redundant course modules db column
  backend/src/common/types/course-module/course-module-create-arguments-dto.type.ts
  backend/src/data/migrations/20220817203631_udemy_course_modules_tables.ts
  backend/src/data/models/course-module/course-module.model.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-modules/course-module.service.ts
  shared/src/common/types/course-module/course-module-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-162: * fixed issues
  backend/src/services/course/course.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/link/link.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
  shared/src/validation-schemas/course/course-get-params.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-196: * refactor scrollView component
  mobile/src/components/auth/auth.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/customscrollview/customscrollview.tsx
  mobile/src/components/common/scrollview/scrollview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-196: * fix
  mobile/src/components/auth/auth.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js
