Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-435: * Set edge for drawer gesture
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * removed redundant types
  frontend/src/services/billing-api/billing-api.service.ts
  shared/src/common/types/billing/billing-replenish-token.type.ts
  shared/src/common/types/billing/card.type.ts
  shared/src/validation-schemas/billing/billing-replenish-params.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

*Fixed exports
  backend/tests/src/tests/json-schemas/json-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:backend:tests:js

GRHB-569: * changed height to flex grow
  frontend/src/components/course-module/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-560: * fixed saving interview parameters
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-571: * fixed text overlap in side menu
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-439: * udpate backend services
  backend/src/common/types/socket/socket-emit-arguments.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/socket/socket.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-506: * add setValue prop to useAppForm
  mobile/src/common/types/form/form-control-set-values.type.ts
  mobile/src/common/types/form/form.ts
  mobile/src/common/types/types.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/typescript/typescript.ts
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * set edge to drawer on my courses screen
  mobile/src/navigation/app/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * import validation schema for updateCourse
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * add optional keyboard type prop to input
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * configure my screen as mentor
  mobile/src/components/my-courses/common/constants/constants.ts
  mobile/src/components/my-courses/common/constants/default-page-size.constants.ts
  mobile/src/components/my-courses/common/enums/enums.ts
  mobile/src/components/my-courses/common/enums/my-courses-table-accessor.enum.ts
  mobile/src/components/my-courses/common/types/my-courses-table-data.type.ts
  mobile/src/components/my-courses/common/types/types.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/components.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/my-courses-table/my-courses-table.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/components/my-courses-table/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/students-count-cell.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/title-cell/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/title-cell/title-cell.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/courses-as-mentor.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/styles.ts
  mobile/src/components/my-courses/helpers/get-my-courses-columns/get-my-courses-columns.helper.ts
  mobile/src/components/my-courses/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * fix lint errors
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-560: + date picker
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB574: + telegram added
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/components/components.ts
  frontend/src/components/interviews/components/telegram-cell/styles.module.scss
  frontend/src/components/interviews/components/telegram-cell/telegram-cell.tsx
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/helpers/app/app.ts
  frontend/src/helpers/app/generate-telegram-link.helper.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-435: * fix pagination
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: + socket redux middleware
  frontend/src/components/chats/chats.tsx
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-439: * fix room bug
  frontend/src/components/chats/chats.tsx
  frontend/src/store/chats/actions.ts
  frontend/src/store/middlewares/socket/socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-571: * fixes
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-435: * make title column wider
  mobile/src/components/courses-management/courses-management-table/courses-management-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB574: + telegram added
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interviews/components/telegram-cell/telegram-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-560: * refactoring
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-435: * refactor according comments
  mobile/src/components/courses-management/courses-management.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-560: + date picker clear button
  mobile/src/components/common/date-picker/date-picker.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * PR comments
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/students-count-cell.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * change default count setup method
  mobile/src/components/my-courses/common/types/course-update-mentoring-form.type.ts
  mobile/src/components/my-courses/common/types/types.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/students-count-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB_506: * remove redundant props from appform hook
  mobile/src/common/types/form/form-control-set-values.type.ts
  mobile/src/common/types/form/form.ts
  mobile/src/common/types/types.ts
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB591: + fixed fetching and saving modules
  backend/src/services/course-module/course-module.service.ts
  backend/src/services/udemy/udemy.service.ts
  shared/src/common/types/udemy/udemy-module-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB591: + fixed fetching and saving modules
  backend/src/services/course-module/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB591: + replaced .map with .forEach
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB537: + fixed same input width on the profile form
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-524: * add check messages only on white spaces
  mobile/src/components/chat-conversation/components/message-form/helpers/check-is-message-has-not-only-white-spaces.helper.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * remove comment
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/students-count-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-524: * refactor
  mobile/src/components/chat-conversation/components/message-form/helpers/check-is-message-has-not-only-white-spaces.helper.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * add check for get mentors
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB559: * remove null type for avatars
  frontend/src/components/chats/components/current-chat/components/chat-opponent/chat-opponent.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-524: * comments
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-576: * added pagination to CoursesApiPath.DASHBOARD and CoursesApiPath.STUDYING on back-end
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  shared/src/common/types/course/course-filtering-pagination-dto.type copy.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

Update mobile/src/store/courses/actions.ts
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-598: * change chat input rows logic
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/common/input/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
