Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-236: cursor issue fixed
  frontend/src/components/common/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB218 * refactor
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/store/auth/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: + backend for getting module
  backend/src/api/api.ts
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-module/course-module.service.ts
  backend/src/validation-schemas/course-module/course-module.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/course-module/course-module-get-request-params-dto.type.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-module-get-params.validation-schema.ts
  shared/src/validation-schemas/course-module/course-module.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-194: * sign out after 401 error
  mobile/src/store/auth/actions.ts
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: + frontend service, action, reducer
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/module/module.tsx
  frontend/src/services/course-modules-api/course-modules-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course-module/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB218 * refactor
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/uam.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: + join courseTitle to response
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/course-module/course-module.service.ts
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/module/module.tsx
  frontend/src/services/course-modules-api/course-modules-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/reducer.ts
  shared/src/common/types/course-module/course-module-get-by-id-response-dto.type.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-211: * update frontend with real data
  frontend/src/components/module/module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-211: * update module title markup
  frontend/src/components/module/module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-211: fix namings
  backend/src/services/course-module/course-module.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-211: + course title to back button
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

grhb-150: * fix pr's comments
  backend/src/data/migrations/20220819112909_add_interviews_associations.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interview-get-by-id.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-all.yaml
  backend/src/documentation/schemas/interviews/interview-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-all-response-dto.yaml
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

grhb-150: * add last empty line for swagger docs files
  backend/src/documentation/endpoints/interviews/interview-get-by-id.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-all.yaml
  backend/src/documentation/schemas/interviews/interview-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-211: * update api route
  frontend/src/services/course-modules-api/course-modules-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-211: * fix default icon styles
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/course-module/course-module.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-124: - unused folder removed
  frontend/src/helpers/date/get-formatted-date/get-formatted-date.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-124: - package.json fix
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-240: + Groups table results section added
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-240: + Users table results section added
  frontend/src/components/uam/components/users-table/styles.module.scss
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-242: * fixed group create button
  frontend/src/components/common/button/button.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-237: * get all groups swagger doc payload fixed
  backend/src/documentation/schemas/groups/groups-get-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-208: * crate separate dataStatuses
  mobile/src/store/uam-groups-create/reducer.ts
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-210: * added modules route into caourses api path enum
  frontend/src/services/courses-api/courses-api.service.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-208: * add loaders to uam and uam group config tables
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-208: * move loader to common table component
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-234: * fixed image container grow
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB218 * refactor add dispatch loadCurrentUser inside delete group action
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB218 - delete dispatch from handleGroupsItemDelete
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB218 - delete some useless logic from auth reducer
  mobile/src/store/auth/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-208: * move loader only for uam screen
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-124: * refactored update method with onConflict, imports fixed
  backend/src/data/repositories/user-details/user-details.repository.ts
  backend/src/services/user-details/user-details.service.ts
  frontend/package.json
  frontend/src/components/user-details/components/components.ts
  frontend/src/components/user-details/components/settings-wrapper/common.ts
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/settings-menu-item.tsx
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/styles.module.scss
  frontend/src/components/user-details/components/settings-wrapper/settings-wrapper.tsx
  frontend/src/components/user-details/components/settings-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/components.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/common.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/selector.data.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/user-details/components/user-profile/styles.module.scss
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
  frontend/src/components/user-details/user-details.tsx
  shared/src/common/enums/date/format-date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-245: * fixed modal cross button
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB94: * edit error response
  backend/src/api/groups/groups.api.ts
  backend/src/services/group/group.service.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB218 - delete overview screen
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/components/overview/overview.tsx
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB218 * resolve conflicts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-240: * results section moved to pagination component
  frontend/src/components/common/pagination/pagination.tsx
  frontend/src/components/common/pagination/styles.module.scss
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/styles.module.scss
  frontend/src/components/uam/components/users-table/styles.module.scss
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-243: * fix payload error
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-233: * fixed header and menu positioning. Dashboard adapted for that
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/authorized-wrapper/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/dashboard/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-233: * Course page adapted for fixed header and authorized menu
  frontend/src/components/course/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
