Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-120: * fix bug - the created group isn't in the table
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/hooks/hooks.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-220: * get values from callback
  frontend/src/common/types/form/form-get-values.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-173: * fixed swagger groups getAll and create documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-basic-operations.yaml
  backend/src/documentation/endpoints/groups/groups-create.yaml
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-154: fixed courses api paths in shared folder
  shared/src/common/enums/api/courses-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-144: * make folder, component and file names similar
  mobile/src/components/uam-configure-group/common/constants/constants.ts
  mobile/src/components/uam-configure-group/common/constants/create-group-default.constants.ts
  mobile/src/components/uam-configure-group/common/enums/enums.ts
  mobile/src/components/uam-configure-group/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-configure-group/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-configure-group/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-configure-group/common/types/types.ts
  mobile/src/components/uam-configure-group/common/types/users-table-row.type.ts
  mobile/src/components/uam-configure-group/components/components.ts
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/helpers.ts
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/components/components.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-178: * date-fns to shared, proper naming
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/format-date.type.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/uam/components/users-table/components/date-cell/date-cell.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/date/get-formatted-date/get-formatted-date.helper.ts
  frontend/src/helpers/dom/dom.ts
  frontend/src/helpers/helpers.ts
  shared/package-lock.json
  shared/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-214: + add magrin / hitSlop around icons into UAM
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/uam/common/constants/constants.ts
  mobile/src/components/uam/common/constants/icon.constants.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/users-table/action-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-181: * removed redundant styles
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/icon/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-218 * add redirect to coursesScreen after deleted some group
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * edit users table view and use payload for handle submit
  mobile/src/components/uam-configure-group/common/types/users-table-row.type.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/edit-group/components/components.ts
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-173: * all group routes are seen now in local swagger ui
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB218 * add redirected to courses screen mobile after deleted some group
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-228: * fix after logout redirection
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB218 * add async/await
  mobile/src/components/uam/groups-table/groups-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-210: module card component
  frontend/src/components/course/components/module-card/module-card.tsx
  frontend/src/components/course/components/module-card/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-184: * fixed /category path issue when adding course
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-217: * change uam tables style
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * rename action to get users
  mobile/src/store/uam-groups-create/actions.ts
  mobile/src/store/uam-groups-create/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * change tables styles
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-210: + types for modules cards props
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/module-card/module-card.tsx
  frontend/src/components/course/components/module-card/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
  frontend/src/components/course/course.tsx
  shared/src/common/types/course-module/course-module-get-response-dto.type.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-all-item-response-dto.type.ts
  shared/src/common/types/course-module/course-modules-get-all-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-228: * change logout to signOut
  mobile/src/components/setting/setting.tsx
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-214: * resolve comments
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/uam/common/constants/constants.ts
  mobile/src/components/uam/common/constants/icon.constants.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/users-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/users-table/components/action-cell/styles.ts
  mobile/src/components/uam/users-table/components/components.ts
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-211: + base markup
  backend/src/services/udemy/udemy.service.ts
  frontend/src/assets/icons/left-arrow.svg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/module/module.tsx
  frontend/src/components/module/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-194: * fix hide error
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/exeptions/exeptions.ts
  mobile/src/exceptions/exceptions.ts
  mobile/src/services/http/http.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-178: * fix imports
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB210: + modules card markup with mocked data
  frontend/src/components/course/components/module-card/module-card.tsx
  frontend/src/components/course/components/module-card/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-194: * fix eslint error
  mobile/src/store/auth/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-194: * fix naming
  mobile/src/store/auth/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-210: * modules cards component and store services done
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  frontend/src/store/dashboard/actions.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-request-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-210: * removed mocked data
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-210: * fixed type name typo
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-210: * fixed course modules dto type typo
  backend/src/services/course-module/course-module.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-210: * replaced indexing with map idx
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-150: + swagger docs for interviews
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interview-get-by-id.yaml
  backend/src/documentation/endpoints/interviews/interviews-get-all.yaml
  backend/src/documentation/schemas/interviews/interview-response-dto.yaml
  backend/src/documentation/schemas/interviews/interviews-all-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

grhb-150: * ref name for groups in swagger docs
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-178: * move helper to shared
  frontend/src/helpers/date/date.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-177: * fixed onClose function type
  frontend/src/components/common/modal/modal.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-210: * fixed course actions naming
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/dashboard/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-210: * replaced manula numeration with orderes list numberation
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-210: * removed mocked data
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
