Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-257: * get interview by id - fe part
  backend/src/api/interviews/interviews.api.ts
  frontend/package.json
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interview/components/components.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interview/interview.tsx
  frontend/src/components/interview/styles.module.scss
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
  frontend/src/store/root-reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-256: * conflicts
  backend/tests/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-258: * refactor interview repo and service
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: * fixed naming, db associations and redundant types
  backend/src/api/interview-notes/interview-notes.api.ts
  backend/src/data/migrations/20220826111556_add_interview_notes_table.ts
  backend/src/data/models/interveiw-note/interview-note.model.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/interview-notes-error/interview-note-error.exception.ts
  backend/src/services/interview-note/interview-note.service.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + init interview notes api
  backend/src/api/api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + shared folder added to git
  shared/src/common/enums/api/api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

development: * categories path
  frontend/src/services/categories-api/categories-api.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-259: - redundant interview note author check - second redundant interview notes table migration notNullable
  backend/src/data/migrations/20220826111556_add_interview_notes_table.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/services/interview-note/interview-note.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-256: * refactor
  mobile/src/assets/icons/edit.svg
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-275: * updated action, reducer and service for permissions, + pagination component to permissions table
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/services/permissions-api/permissions-api.ts
  frontend/src/store/uam-configure-group/actions.ts
  frontend/src/store/uam-configure-group/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: + unified usage of snakeCase on db cols referencing
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/course-module/course-module.model.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/models/group/group.model.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/groups-to-permissions/groups-to-permissions.repository.ts
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-258: + otherInterviews pagination
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/interview/interviews-get-other-request-arguments-dto.type.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/src/validation-schemas/interview/interview.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-by-id-request-params-dto.type.ts
  shared/src/common/types/interview/interviews-get-other-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-by-id-params.validation-schema.ts
  shared/src/validation-schemas/interview/interview.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-266: + color in props label
  mobile/src/components/interviews/interviews-table/components/label/label.tsx
  mobile/src/components/interviews/interviews-table/components/label/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: * modify front-end service, store for pagination
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/components/interview/interview.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-275: * added validation schema for permissions request params
  backend/src/api/permissions/permissions.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: - reduncdant api paths * permission check hook
  backend/src/api/api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/api/groups/groups.api.ts
  backend/src/api/interview-notes/interview-notes.api.ts
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/enums.ts
  backend/src/data/models/interveiw-note/interview-note.model.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/hooks/able-to-write-interview-notes/able-to-write-interview-notes.hook.ts
  backend/src/hooks/check-has-permission/check-has-permission.hook.ts
  backend/src/hooks/hooks.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/interview-notes-api-path.enum.ts
  shared/src/common/enums/enums.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-318: + test courses and mentors
  backend/src/data/seeds/test_courses_mentors.ts
  backend/src/data/seeds/test_users_groups.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: * use env instead of secrets, user wait-on
  .github/workflows/ci-integration.yml
  backend/package.json
  backend/wait-for-start.js
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-274: * rename job to ci-integration
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-263: * moved dispatch and navigation to parent component
  mobile/src/components/common/content/content.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/hooks/hooks.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: + color for status and direction
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/interviews/interview-status.enum.ts
  mobile/src/components/interviews/common/enums/enums.ts
  mobile/src/components/interviews/common/enums/status-color.enum.ts
  mobile/src/components/interviews/common/maps/maps.ts
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/helpers/get-row-helper/get-interviews-row.helper.tsx
  mobile/src/components/interviews/interviews-table/components/label/label.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: + added mentor service
  backend/src/api/api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/api/mentors/mentors.api.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  frontend/src/assets/img/default-mentor-image.png
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + spinner when data is loading
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-266: + Pagination component to the table
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/interviews/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-259: + frontend interview notes service
  frontend/src/common/types/interview-note/interview-note-create-dto.type.ts
  frontend/src/common/types/interview-note/interview-note.ts
  frontend/src/common/types/types.ts
  frontend/src/components/interview/interview.tsx
  frontend/src/services/interview-notes-api/interview-notes-api.service.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-258: * fix types, + basic table markup
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/interview/interview.ts
  frontend/src/common/types/interview/interview.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/interview/common/enums/enums.ts
  frontend/src/components/interview/common/enums/other-applications-table-accessor.enum.ts
  frontend/src/components/interview/common/types/other-applications-table-row.type.ts
  frontend/src/components/interview/common/types/types.ts
  frontend/src/components/interview/components/components.tsx
  frontend/src/components/interview/components/other-applications/components/components.tsx
  frontend/src/components/interview/components/other-applications/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications/other-applications.tsx
  frontend/src/components/interview/helpers/column-helpers/column-helpers.ts
  frontend/src/components/interview/helpers/column-helpers/get-other-applications-columns.helper.ts
  frontend/src/components/interview/helpers/helpers.ts
  frontend/src/components/interview/helpers/row-helpers/get-other-applications-rows.helper.ts
  frontend/src/components/interview/helpers/row-helpers/row-helpers.ts
  frontend/src/components/interview/interview.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/reducer.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-get-other-item-response-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/users-with-details.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + permissions to Interview screen
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-274: * changed wait-on HTTP HEAD to TCP connection
  .github/workflows/ci-integration.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-263: * fix width Content component
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-263: * fix course screen
  mobile/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: + pagination
  frontend/src/components/interview/components/other-applications/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications/other-applications.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-266: * refactor get-allowed-screens.helper
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-254: + added mentors search
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/components.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/search-bar/common/constants.ts
  frontend/src/components/course/components/choose-mentor-modal/components/search-bar/common/types/search-payload.type.ts
  frontend/src/components/course/components/choose-mentor-modal/components/search-bar/common/types/types.ts
  frontend/src/components/course/components/choose-mentor-modal/components/search-bar/search-bar.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/search-bar/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  shared/src/common/types/course/course-get-mentors-request-dto.type.ts
  shared/src/common/types/course/course-mentors-filtering-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-mentors-filtering.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-258: + custom table cells
  frontend/src/components/interview/components/other-applications/components/category-cell/category-cell.tsx
  frontend/src/components/interview/components/other-applications/components/category-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications/components/components.tsx
  frontend/src/components/interview/components/other-applications/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/other-applications/components/id-cell/id-cell.tsx
  frontend/src/components/interview/components/other-applications/components/id-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications/components/status-cell/status-cell.tsx
  frontend/src/components/interview/components/other-applications/components/status-cell/styles.module.scss
  frontend/src/components/interview/components/other-applications/helpers/column-helpers/column-helpers.ts
  frontend/src/components/interview/components/other-applications/helpers/column-helpers/get-other-applications-columns.helper.ts
  frontend/src/components/interview/components/other-applications/helpers/helpers.ts
  frontend/src/components/interview/components/other-applications/helpers/row-helpers/get-other-applications-rows.helper.ts
  frontend/src/components/interview/components/other-applications/helpers/row-helpers/row-helpers.ts
  frontend/src/components/interview/components/other-applications/other-applications.tsx
  frontend/src/components/interview/interview.tsx
  frontend/src/components/interview/styles.module.scss
  shared/src/common/enums/case/case.enum.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/string/change-string-case/change-string-case.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-258: * fix imports, variable names
  frontend/src/components/interview/components/other-applications/components/date-cell/date-cell.tsx
  frontend/src/components/interview/components/other-applications/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/components/other-applications/components/status-cell/status-cell.tsx
  frontend/src/components/interview/components/other-applications/other-applications.tsx
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-206: * add list empty component to flatlist
  mobile/src/components/courses/courses.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-258: * update page permissions
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-259: + validation schemas store services and frontend services
  backend/src/api/interviews/interviews.api.ts
  backend/src/services/interview-note/interview-note.service.ts
  backend/src/validation-schemas/interview-note/interview-note.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/interview-note/interview-note-create-dto.type.ts
  frontend/src/common/types/interview-note/interview-note-get-all-dto.type.ts
  frontend/src/common/types/interview-note/interview-note.ts
  frontend/src/common/types/types.ts
  frontend/src/services/interview-notes-api/interview-notes-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
  frontend/src/store/store.ts
  shared/src/common/types/interview-note/interview-note-get-all-request-params-dto.type.ts
  shared/src/common/types/interview-note/interview-note.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview-note/interview-note-create-params.validation-schema.ts
  shared/src/validation-schemas/interview-note/interview-note-create.validation-schema.ts
  shared/src/validation-schemas/interview-note/interview-note-get-all.validation-schema.ts
  shared/src/validation-schemas/interview-note/interview-note.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-266: + default-page-size.constants
  mobile/src/components/interviews/common/constants/constants.ts
  mobile/src/components/interviews/common/constants/default-page-size.constants.ts
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
