Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

Update mobile/src/components/uam-configure-group/common/types/selected-items-values.type.ts
  mobile/src/components/uam-configure-group/common/types/selected-items-values.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

development: * package.json
  backend/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-232: * remove disable
  mobile/src/components/common/button/button.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-272: * change type declaration
  mobile/src/components/uam-configure-group/common/types/selected-items-values.type.ts
  mobile/src/components/uam-configure-group/common/types/types.ts
  mobile/src/components/uam-configure-group/helpers/get-selected-items-values/get-selected-items-values.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-250: + added subroutes permissions check
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/get-permitted-subroutes.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-272: * PR comments
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-selected-items-values/get-selected-items-values.helper.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-261: * namings fixed
  backend/package-lock.json
  frontend/package.json
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options-helper/get-gender-options.helper.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options.helper.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/helpers.ts
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-250: * fixed issues
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/get-permitted-subroutes.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-261: * migration fixed
  backend/src/data/migrations/20220822100917_add_fullname_to_user_details.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-250: * fixed permissions check
  frontend/src/components/common/authorized-menu/components/navigation-menu/helpers/get-permitted-subroutes.helper.ts
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-261: * throwing error 400 during deleting
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-261: * documentation added
  backend/src/documentation/endpoints/users/users-delete.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-269: * fixed typos and redundant statements
  backend/src/data/repositories/course-category/course-category.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course-category/course-category.service.ts
  backend/src/services/course/course.service.ts
  shared/src/validation-schemas/course-categories/course-categories.ts
  shared/src/validation-schemas/course-categories/course-category-get-by-id-request-params-dto.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-252: + coursesToMentors and interviews api, repo, service
  backend/src/api/api.ts
  backend/src/api/interviews/interviews.api.ts
  backend/src/api/mentors/mentors.api.ts
  backend/src/common/types/courses-to-mentors/courses-to-mentors.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/mentor/mentor.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220824093653_add_courses_to_mentors_unique_constraint.ts
  backend/src/data/repositories/courses-to-mentors/courses-to-mentors.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/exceptions/courses-to-mentors-error/courses-to-mentors-error.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/interviews-error/interviews-error.exception.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/interview/interview.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/courses-to-mentors/courses-to-mentors-request-dto.type.ts
  shared/src/common/types/courses-to-mentors/courses-to-mentors.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-by-interviewee-id-dto.type.ts
  shared/src/common/types/interview/interviews-response-dto.type.ts
  shared/src/common/types/mentor/mentor-create-request-dto.type.ts
  shared/src/common/types/mentor/mentor.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-by-interviewee-id.validation-schema.ts
  shared/src/validation-schemas/interview/interview-create.validation-schema.ts
  shared/src/validation-schemas/interview/interview.ts
  shared/src/validation-schemas/mentor/mentor-create-body.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-252: - redundant types
  backend/src/common/types/mentors-to-course-categories/mentors-to-course-categories.ts
  backend/src/common/types/types.ts
  shared/src/common/types/mentors-to-course-categories/mentors-to-course-categories-request-dto.type.ts
  shared/src/common/types/mentors-to-course-categories/mentors-to-course-categories-response-dto.type.ts
  shared/src/common/types/mentors-to-course-categories/mentors.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-252: - redundant table from readme
  readme.md
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-269: * backend comments fixed
  backend/src/api/categories/categories.api.ts
  backend/src/api/courses/courses.api.ts
  backend/src/data/models/course/course.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/documentation/endpoints/courses/courses.yaml
  backend/src/services/course/course.service.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-60: * extend ebs nginx config
  .ebextensions/nginx/conf.d/redirect.conf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-252: * rename interview repo method
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-252: * fix repository name
  backend/src/data/repositories/repositories.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-60: * trigger cd on ebs config changes
  .github/workflows/cd.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-252: * fix import
  backend/src/exceptions/courses-to-mentors-error/courses-to-mentors-error.exception.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-252: * fix interview repo method name
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-60: * extend ebs nginx config with .platform
  .platform/00_myconf.config
  .platform/nginx/conf.d/redirect.conf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-269: * replaced category display on course page with reusable component
  frontend/public/category-icons/unknown.svg
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/category/helpers/get-random-color.helper.ts
  frontend/src/components/common/category/helpers/helpers.ts
  frontend/src/components/common/category/styles.module.scss
  frontend/src/components/common/common.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-60: * rewrite nginx config
  .platform/nginx/conf.d/00_redirect.conf
  .platform/nginx/conf.d/redirect.conf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB251: + interviews table
  frontend/src/common/types/interviews/interviews.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/interviews/common/enums/enums.ts
  frontend/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/common/types/types.ts
  frontend/src/components/interviews/components/category-cell/category-cell.tsx
  frontend/src/components/interviews/components/category-cell/styles.module.scss
  frontend/src/components/interviews/components/components.ts
  frontend/src/components/interviews/components/date-cell/date-cell.tsx
  frontend/src/components/interviews/components/interviews-table/interviews-table.tsx
  frontend/src/components/interviews/components/interviews-table/styles.module.scss
  frontend/src/components/interviews/components/status-cell/status-cell.tsx
  frontend/src/components/interviews/components/status-cell/styles.module.scss
  frontend/src/components/interviews/helpers/get-interviews-columns.helper.ts
  frontend/src/components/interviews/helpers/get-interviews-rows.helper.ts
  frontend/src/components/interviews/helpers/helpers.ts
  frontend/src/components/interviews/interviews.tsx
  frontend/src/components/interviews/styles.module.scss
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-60: - rm ebs extensions
  .platform/00_myconf.config
  .platform/nginx/conf.d/00_redirect.conf
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-204: + fetch courses by search (mobile)
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-203: + add color to FAB component, rename screen with add course
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/components/common/fab/fab.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB251: * remove comment
  frontend/src/components/interviews/components/category-cell/category-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-124: * get-gender-options refactored
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/helpers/get-gender-options-helper/get-gender-options.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-269: + frontend edit button display
  frontend/src/assets/icons/edit.svg
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/course/components/edit-button/edit-button.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-252: * fix interviewDate type
  backend/src/data/models/interview/interview.model.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-60: * redirect with alb
  .ebextensions/alb-http-to-https-redirection.config
  .github/workflows/cd.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-60: * add aws user permissions, build trigger
  .github/workflows/cd.yml
Due: npm run lint:editorconfig && npm run lint:fs

development: * js lint script
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB: * before merge commit
  frontend/src/common/types/category/category.ts
  frontend/src/common/types/course-category/course-category.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/add-categories-modal/add-categories-modal.tsx
  frontend/src/components/course/components/add-categories-modal/components/categories-select/categories-select.tsx
  frontend/src/components/course/components/add-categories-modal/components/categories-select/styles.module.scss
  frontend/src/components/course/components/components.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-250: * fixed issues
  shared/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
