Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-262: * updated callback name and name for enum
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/search/search-values.ts
  frontend/src/common/enums/search/search.ts
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/dashboard/components/categories-list/categories-list.tsx
  frontend/src/hooks/use-search/use-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-292: + full name to user_details seed
  backend/src/data/seeds/test_users_groups.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: - authorization check for GET request of white routes
  backend/src/plugins/authorization/authorization.plugin.ts
  backend/tests/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: * fix package-lock file change
  backend/tests/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-263: * add back button, fix list view
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-248: * avoided nesting
  backend/src/common/types/course/course-client-data-dto.type.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/edx/edx.service.ts
  backend/src/services/services.ts
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: * refactor WHITE_ROUTES to accept method
  backend/src/common/constants/api.constants.ts
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB251: * fix imports
  frontend/src/store/interviews/actions.ts
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-get-all-item-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-257: + edit interview in progress
  backend/src/api/interviews/interviews.api.ts
  backend/src/common/types/course-category/course-category.ts
  backend/src/common/types/interview/interview.ts
  backend/src/common/types/types.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  backend/src/validation-schemas/interview/interview.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-by-id-response-dto.type.ts
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/common/types/interview/interviews-update-request-params-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/interview/interview-update-params.validation-schema.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
  shared/src/validation-schemas/interview/interview.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-261: * naming fixed
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-286: * now configure grup is protected
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB251: * fix db response
  backend/src/data/repositories/interview/interview.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-287: + added permission requirements for configure group
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-252: * move logic to actions
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-254: * fixed PR comments
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/exceptions/mentees-to-mentors-error/mentees-to-mentors-error.exception.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  frontend/src/assets/img/choose-mentor-image.png
  frontend/src/components/course/components/choose-mentor-button/choose-mentor-button.tsx
  frontend/src/components/course/components/choose-mentor-button/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/course.tsx
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/types/course/course-select-mentor-request-dto.type.ts
  shared/src/common/types/course/course-select-mentor-request-params-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-mentor/course-mentor-create-body.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-252: * update getState
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-280: * fixed modal being overlapped
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-263: * replaced sanitize-html in shared folder
  mobile/package-lock.json
  mobile/package.json
  mobile/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:mobile:js

GRHB-252: - unnecessary check
  frontend/src/store/course/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-254: + modified get course mentors response
  backend/src/data/repositories/course/course.repository.ts
  backend/src/services/course/course.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: + type for white route
  backend/src/common/constants/api.constants.ts
  backend/src/common/types/api/api.ts
  backend/src/common/types/api/white-route.type.ts
  backend/src/common/types/types.ts
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-252: * move onClick to parent component
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/components/become-a-mentor/become-a-mentor.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-252: * move state to parent
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-wrapper/authorized-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-290: * methods to be an array
  backend/src/common/constants/api.constants.ts
  backend/src/common/types/api/white-route.type.ts
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: * refactor whiteRoute callback
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: + isAllowedMethod variable
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-290: * refactor logic
  backend/src/plugins/authorization/authorization.plugin.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-259: + interview notes db migration
  backend/src/data/migrations/20220826111556_add_interview_notes_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-254: * fixed validation schema name
  backend/src/api/courses/courses.api.ts
  backend/src/validation-schemas/course-mentor/course-mentor.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/validation-schemas/course-mentor/course-mentor-create.validation-schema.ts
  shared/src/validation-schemas/course-mentor/course-mentor.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-263: * npm run update:shared:all
  backend/package-lock.json
  backend/tests/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-259: + interview note model
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/models/interveiw_note/interview_note.model.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-287: + added AuthorizedProtectedRoute component
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-protected-route/authorized-protected-route.tsx
  frontend/src/components/common/common.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-257: added backend for editing interview
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-257: * migration for updating constraints in interview table
  backend/src/data/migrations/20220826130346_update_interviews_constraints.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-261: - removed --fix
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-257: * fixed permission in get
  backend/src/api/interviews/interviews.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: + tests to ci
  .github/workflows/ci.yml
  backend/package.json
  backend/tests/package-lock.json
  backend/wait-for-start.js
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-275: * updated repository method for getting all permissions
  backend/src/data/repositories/permission/permission.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-274: [TEST ACTION RUN]
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs
