Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-575: * fix my courses page error
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-606: * fix button width
  mobile/src/components/setting/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-604: * remove spelling checks from inputs
  mobile/src/components/common/input/input.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * added error cause
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/billing/billing-api-version.type.ts
  backend/src/common/types/billing/billing.ts
  backend/src/common/types/types.ts
  backend/src/exceptions/billing-error/billing-error.exception.ts
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: * fixed cause typing
  backend/src/exceptions/billing-error/billing-error.exception.ts
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-605: * fix drop down styles
  mobile/src/components/common/date-picker/styles.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * http error
  backend/src/exceptions/billing-error/billing-error.exception.ts
  backend/src/services/billing/billing.service.ts
  shared/src/exceptions/http-error/http-error.exception.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-442: * fixed validation schema
  shared/src/validation-schemas/billing/billing-replenish-params.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-605: * rename wrapper
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB590: + add icon to interview category
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-439: * refactor service and middleware
  backend/src/common/types/socket/socket-emit-arguments.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/services/socket/socket.service.ts
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-524: * resolve: Send button is available after opening the chat
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-524: * delete scrollview
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-439: + frontend socket service
  frontend/src/components/app/app.tsx
  frontend/src/components/chats/chats.tsx
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-524: * resolve types error
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

development: * add course link
  frontend/src/components/common/button/button.tsx
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

development: * course dashobard width
  frontend/src/components/chats/components/current-chat/components/chat-opponent/chat-opponent.tsx
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/common/courses-list/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/image/image.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * categories dashobard width
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/common/courses-list/styles.module.scss
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/dashboard/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

development: * letter space
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/course/course.tsx
  frontend/src/components/course/styles.module.scss
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interview/components/other-applications-table/components/status-cell/styles.module.scss
  frontend/src/components/interviews/components/status-cell/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-614: * changed category colors to colors from design
  frontend/src/components/common/category/helpers/get-random-color.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-614: * added one more color
  frontend/src/components/common/category/helpers/get-random-color.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-607: * fix drawer back button behavior
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB576: + pr comments fixed
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/services/course/course.service.ts
  backend/src/services/permission/permission.service.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
  shared/src/common/types/course/course-filtering-dto.type.ts
  shared/src/common/types/course/course-filtering-with-pagination-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB616: * billing page styling
  frontend/.stylelintrc.yml
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/styles.module.scss
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/styles.scss
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
  frontend/src/components/billing/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB616: * remove useless property
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/styles.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-524: * delete validation schema
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
  mobile/src/validation-schemas/chat/chat.ts
  mobile/src/validation-schemas/validation-schemas.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-556: - comment
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-608: * refactor according comment
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-524: * refactor
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-615: mmoved category name lable
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB594: + background for no courses message
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/common/courses-list/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB570: * place submit button at the bottom of the modal
  frontend/src/components/common/edit-category-modal/edit-category-modal.tsx
  frontend/src/components/common/edit-category-modal/styles.module.scss
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/dashboard/components/add-course-modal/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-610: * uam users to prev page on delete if last user
  frontend/src/components/uam/components/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-524: * refactor
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-615: + course icons
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-597: * now border just changes its color
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-615: * changed category styling
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB582: + table headers if no data
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/common/table/table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-614: * category border color provided is by class name now
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/category/helpers/get-random-color.helper.ts
  frontend/src/components/common/category/helpers/helpers.ts
  frontend/src/components/common/category/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
