Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

.lintstagedrc.yml:

'*.{ts,tsx,html,json,md}': prettier --write
'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'backend/tests/**/*.ts': npm run lint:backend:tests:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js
'mobile/**/*.{ts,tsx}': npm run lint:mobile:js

GRHB-506: * fix lint error
  mobile/src/store/courses/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-577: * aligned username
  frontend/src/components/chats/components/current-chat/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-596: * background color in application form
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-577: * improvement
  frontend/src/components/chats/components/current-chat/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-596: * fix background color in both form
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/applications/components/other-applications/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-596: * fix background color in other tables
  mobile/src/components/courses-management/courses-management-table/styles.ts
  mobile/src/components/interviews/interviews-table/styles.ts
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/users-table/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-602: * fix choose mentor flow
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-598: * restrict set rows count
  mobile/src/components/chat-conversation/components/message-form/common/constants/constants.ts
  mobile/src/components/chat-conversation/components/message-form/common/constants/rows-max-count.constants.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * fixed redundant methods calls issues
  backend/src/data/repositories/course-category-price/course-category-price.repository.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/course-module/course-module.service.ts
  backend/src/services/mentor/mentor.service.ts
  frontend/src/common/types/billing/billing-withdraw-dto.type.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/billing/billing.tsx
  frontend/src/store/billing/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-599: * notification about successful operation
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/store/interview/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB574: + pre fixes
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/helpers/app/generate-telegram-link.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB559: * extract mentors and mentees from query
  backend/src/data/repositories/course/course.repository.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-579: + added hashtag to ids in tables
  frontend/src/components/interview/common/types/other-applications-table-row.type.ts
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/components/uam-configure-group/common/types/group-configure-users-table-row.type.ts
  frontend/src/components/uam-configure-group/common/types/permissions-table-row.type.ts
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-table-data-helper/get-permission-table-data.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam/common/types/groups-table-row.type.ts
  frontend/src/components/uam/common/types/users-table-row.type.ts
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/helpers/get-group-table-data-helper/get-group-table-data.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-rows.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/helpers.ts
  frontend/src/components/uam/components/users-table/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/string/string.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/string/remove-hashtag-from-id/remove-hashtag-from-id.helper.ts
  shared/src/helpers/string/string.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-579: * minor naming upd
  shared/src/helpers/string/remove-hashtag-from-id/remove-hashtag-from-id.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-581: * made module page protected
  frontend/src/components/app/app.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-43+: * refactor middleware, services, types
  backend/src/api/chats/chats.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/socket/socket.ts
  backend/src/common/types/socket/socket-emit-arguments.type.ts
  backend/src/common/types/socket/socket-listen-arguments.type.ts
  backend/src/common/types/socket/socket-server.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/socket/socket.service.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/socket/socket.ts
  frontend/src/common/types/socket/socket-client.type.ts
  frontend/src/common/types/socket/socket.ts
  frontend/src/common/types/types.ts
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/store.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/socket/socket-event.enum.ts
  shared/src/common/enums/socket/socket-namespace.enum.ts
  shared/src/common/enums/socket/socket.ts
  shared/src/common/types/socket/client-to-server-events.type.ts
  shared/src/common/types/socket/server-to-client-events.type.ts
  shared/src/common/types/socket/socket-message-event-dto.type.ts
  shared/src/common/types/socket/socket.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-579: * reworked to use IdCell
  frontend/src/components/interview/common/types/other-applications-table-row.type.ts
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/components/uam-configure-group/common/types/group-configure-users-table-row.type.ts
  frontend/src/components/uam-configure-group/common/types/permissions-table-row.type.ts
  frontend/src/components/uam-configure-group/components/permissions-table/components/components.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/components/users-table/components/components.tsx
  frontend/src/components/uam-configure-group/components/users-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-table-data-helper/get-permission-table-data.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam/common/types/groups-table-row.type.ts
  frontend/src/components/uam/common/types/users-table-row.type.ts
  frontend/src/components/uam/components/groups-table/components/components.ts
  frontend/src/components/uam/components/groups-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/groups-table/helpers/get-group-table-data-helper/get-group-table-data.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/components/users-table/components/components.ts
  frontend/src/components/uam/components/users-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-user-table-data-helper/get-user-table-data.helper.ts
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/string/string.ts
  shared/src/helpers/helpers.ts
  shared/src/helpers/string/remove-hashtag-from-id/remove-hashtag-from-id.helper.ts
  shared/src/helpers/string/string.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:frontend:js

GRHB-579: * imports fix
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-324: * change search form logic
  mobile/src/components/common/search/components/components.ts
  mobile/src/components/common/search/components/search-input/search-input.tsx
  mobile/src/components/common/search/components/search-input/styles.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/search/styles.ts
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB593: * fix app crashes on interview page
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-324: * remove redundant hook call
  mobile/src/components/common/search/search.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-580: - removed time from date of interview field
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-578: + added choose mentor btn for unauthorized users
  frontend/src/components/course/course.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-249: * fixed escaping line breaking
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/style.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-579: * minor upd
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-608: * change default message at mentors screen
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-604: * fixed sidebar shrink
  frontend/src/components/common/authorized-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-579: * improvements
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/components/users-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/groups-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/users-table/components/id-cell/id-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-553: * change mentees by course incoming data type
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-506: * change incoming type of mentors of course
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-442: * moved api typing
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-324: * fix search functionality
  mobile/src/components/common/search/components/search-input/search-input.tsx
  mobile/src/components/common/search/search.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB56: + added pagination on dashboard + my-courses
  backend/src/api/courses/courses.api.ts
  backend/src/services/course/course.service.ts
  frontend/package.json
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/courses-management/components/courses-management-table/courses-management-table.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/reducer.ts
  frontend/src/store/my-courses/actions.ts
  frontend/src/store/my-courses/reducer.ts
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
  shared/src/common/types/course/course-filtering-dto.type.ts
  shared/src/common/types/course/course-filtering-pagination-dto.type copy.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-filtering.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB576: + added pagination on dashboard + my-courses
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB576: + conflicts resolved
  backend/src/api/courses/courses.api.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB576: + linter fixed
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-439: * fix functionality
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/socket/socket-listen-arguments.type.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  backend/src/services/socket/socket.service.ts
  frontend/.env.example
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/middlewares/socket/chat-socket.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB590: * fix updating interview info after switching interviews
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-439: * small fixes
  backend/src/common/types/socket/socket-listen-arguments.type.ts
  backend/src/common/types/socket/socket.ts
  backend/src/common/types/types.ts
  backend/src/services/chat-message/chat-message.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-575: + course category and price to card
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/common/types/course-category/course-category.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
  shared/src/common/types/course-category/course-category-with-price-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js
