Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-202: * Add permissions to uam screen
  mobile/src/navigation/app/common/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-189: - deleted the old avatar
  frontend/src/assets/img/avatar-default-rounded.svg
  frontend/src/assets/img/avatar-default.svg
  frontend/src/components/common/header/header.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-173: * double property in documntation.yaml threw error and did not let server to start
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-207: * Spinner in the center screen
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/root/root.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * remove useless code
  mobile/src/components/uam-groups-config/components/permissions-table/permissions-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * rename group configure component
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/navigation/app/app.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * add conditional render to submit button label
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-173: + swagger basic operations
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-basic-opeartions.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-144: * PR comments
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-154: * variable taken out of loop
  backend/src/services/udemy/udemy.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-193: * fixed icons not being highlighted
  frontend/src/assets/icons/billing.svg
  frontend/src/assets/icons/settings.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB177: * fix signout dropdown
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-182: * fixed button highlighting
  frontend/src/assets/icons/settings.svg
  frontend/src/components/common/button/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-144: * add get value functionality
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-185: * removed min-heigh for content
  frontend/src/components/common/authorized-wrapper/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-191: * changed modal background color
  frontend/src/components/common/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-145: * fix category list bugs
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-75: + navigation service
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/index.tsx
  frontend/src/services/navigation/navigation.service.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  frontend/src/store/uam-configure-group/actions.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-183: * fix invalid credentials message
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

grhb-150: + interview associations
  backend/src/data/migrations/20220819112909_add_interviews_associations.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-220: - use of private method
  frontend/src/common/types/form/form-get-values.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/types.ts
  frontend/src/components/uam-configure-group/uam-configure-group.tsx
  frontend/src/hooks/use-app-form/use-app-form.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

grhb-150: * refactor interview api and service to get users and category data
  backend/src/common/enums/enums.ts
  backend/src/common/enums/interview/interview.ts
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/interview/interview-status.enum.ts
  shared/src/common/enums/interview/interview.ts
  shared/src/common/types/interview/interview-get-all-item-response-dto.type.ts
  shared/src/common/types/interview/interview-get-response-dto.type.ts
  shared/src/common/types/interview/interview.ts
  shared/src/common/types/interview/interviews-get-items-response-dto.type.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-178: * format created_at date
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/uam/components/users-table/components/components.ts
  frontend/src/components/uam/components/users-table/components/date-cell/date-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-181: * highlighted delete duttons fixed
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/icon/styles.module.scss
  frontend/src/components/uam/components/groups-table/components/actions-cell/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-216: + C sharp icon exists needed to rename key in DB. Key renaming migration is done
  backend/src/data/migrations/20220819202729_rename_c#_category_in_categories_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-216 * renamed migration file to snake_case
  backend/src/data/migrations/20220819202729_rename_c_sharp_category_in_categories_table.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-209: * Fix groups table styles
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-124: * fixed exporting types in mobile folder
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-213: * change color action button
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-213: * fix UAM title
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-213: * fix color action button
  mobile/src/components/uam/users-table/action-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-144: * make custom submit handler for edit/create group
  mobile/src/components/uam-groups-config/uam-configure-groups.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-120: * fix add padding to the content
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-217: * make columns in users and groups table on UAM screen narrower
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-209: * fix imports
  mobile/src/components/uam/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-178: + helper for date formatting, use date-fns
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/format-date.type.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/uam/components/users-table/components/date-cell/date-cell.tsx
  frontend/src/helpers/dom/dom.ts
  frontend/src/helpers/dom/format-date/format-date.ts
  frontend/src/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-194: * hidde error message
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-169: + default paginatin values
  backend/src/data/repositories/group/group.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/group/group.service.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-169: * fix default values
  backend/src/api/groups/groups.api.ts
  backend/src/api/users/users.api.ts
  backend/src/services/group/group.service.ts
  backend/src/services/user/user.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
