Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:backend:tests:js, npm run lint:frontend:css, npm run lint:frontend:js, npm run lint:mobile:js

GRHB-589: * fixed swagger error
  backend/src/documentation/documentation.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-628: * fixed sidebar loading width
  frontend/src/components/chats/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB576: + pagination fixed on the dashboard
  frontend/src/common/types/course/course-on-the-page-response-dto.type.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-640: + hitSlop for id cell
  mobile/src/components/interviews/interviews-table/components/id-cell/id-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-639: + notification number of lines
  mobile/src/components/common/toast/styles.ts
  mobile/src/components/common/toast/toast.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-618: * update responsive type
  frontend/src/common/types/carousel/carousel-responsive-prop.type.ts
  frontend/src/common/types/carousel/carousel.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/dashboard/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-631: * refactor, add courses stack navigator
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/courses-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/courses-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/courses/common/constants/constants.ts
  mobile/src/navigation/courses/courses.navigation.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-631: * bugs
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/courses/common/constants/constants.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-630: * rollback change "fix status without color" commit. Bug was local
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interviews/interviews.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-639: + default notification message
  mobile/src/services/notification/notification.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-630: * status available in edit mode
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB613: + be for transactions table added
  backend/src/api/billing/billing.api.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/transaction/transaction.service.ts
  shared/src/common/enums/api/billing-api-path.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-630: + helpers
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/helpers/get-interview-status-options-helper/get-interview-status-options.helper.ts
  mobile/src/components/interview/components/applications/components/application-form/helpers/get-interviewers-options-helper/get-interviewers-options.helper.ts
  mobile/src/components/interview/components/applications/components/application-form/helpers/helpers.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-623: - removed custom classname
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/password-input/password-input.tsx
  frontend/src/components/common/password-input/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-618: * update type name, + prop for carousel
  frontend/src/common/types/carousel/carousel.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/dashboard/common.ts
  frontend/src/components/dashboard/dashboard.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-632: * import types and enums from shared
  mobile/src/common/enums/api/api.ts
  mobile/src/common/types/billing/billing-withdraw-dto.type.ts
  mobile/src/common/types/billing/billing.ts
  mobile/src/common/types/types.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * add notification messages for billing
  mobile/src/common/enums/notification/notification-message.enum.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * add billing api service
  mobile/src/services/billing-api/billing-api.service.ts
  mobile/src/services/services.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-632: * configure store
  mobile/src/store/actions.ts
  mobile/src/store/billing/actions.ts
  mobile/src/store/billing/common.ts
  mobile/src/store/billing/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB613: + fe for transactions table added
  backend/src/api/billing/billing.api.ts
  backend/src/data/repositories/transaction/transaction.repository.ts
  backend/src/services/billing/billing.service.ts
  backend/src/services/transaction/transaction.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/transaction/transaction.ts
  frontend/src/common/types/transaction/transaction.ts
  frontend/src/common/types/types.ts
  frontend/src/components/billing/billing.tsx
  frontend/src/components/billing/common/common.ts
  frontend/src/components/billing/common/enums/enums.ts
  frontend/src/components/billing/common/enums/transactions-table-accessor.enum.ts
  frontend/src/components/billing/common/types/replenish-amount/replenish-amount.type.ts
  frontend/src/components/billing/common/types/transactions-table-row.type/transactions-table-row.type.ts
  frontend/src/components/billing/common/types/types.ts
  frontend/src/components/billing/components/components.tsx
  frontend/src/components/billing/components/date-cell/date-cell.tsx
  frontend/src/components/billing/components/price-cell/price-cell.tsx
  frontend/src/components/billing/components/replenish-cards-list/replenish-cards-list.tsx
  frontend/src/components/billing/components/status-cell/status-cell.tsx
  frontend/src/components/billing/components/status-cell/styles.module.scss
  frontend/src/components/billing/components/transaction-type-cell/styles.module.scss
  frontend/src/components/billing/components/transaction-type-cell/transaction-type-cell.tsx
  frontend/src/components/billing/components/transactions-table/styles.module.scss
  frontend/src/components/billing/components/transactions-table/transactions-table.tsx
  frontend/src/components/billing/helpers/get-transactions-columns/get-transactions-columns.helper.ts
  frontend/src/components/billing/helpers/get-transactions-rows/get-transactions-rows.helper.ts
  frontend/src/components/billing/helpers/helpers.ts
  frontend/src/components/billing/styles.module.scss
  frontend/src/components/billing/types/types.ts
  frontend/src/services/billing-api/billing-api.service.ts
  frontend/src/store/billing/actions.ts
  frontend/src/store/billing/common.ts
  frontend/src/store/billing/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-646: + added perm check to other applications
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-442: + increased variety of replenish balances
  frontend/src/components/billing/common.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-652: + added required balance to error msg
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-652: * minor upd
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-442: - unnecessary adress fields from replenish form
  frontend/src/components/billing/components/replenish-cards-list/components/replenish-card/replenish-card.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-620: * additional image reduce
  frontend/src/assets/img/choose-mentor-image.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-645: * fixed paddings
  frontend/src/components/billing/components/replenish-cards-list/styles.module.scss
  frontend/src/components/billing/styles.module.scss
  frontend/src/components/my-courses/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-638: * restyle mentor card
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/mentor-card/styles.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:mobile:js

GRHB-652: * now using template string
  backend/src/services/billing/billing.service.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-654: - no task message is user is not a student
  frontend/src/components/course-module/course-module.tsx
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course-module/reducer.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB576: + dashboard pagination fixed
  backend/src/helpers/helpers.ts
  backend/src/helpers/pagination/change-pagination-page/change-pagination-page.helper.ts
  backend/src/helpers/pagination/pagination.ts
  backend/src/services/course/course.service.ts
  backend/src/services/group/group.service.ts
  backend/src/services/interview/interview.service.ts
  backend/src/services/permission/permission.service.ts
  backend/src/services/task-note/task-note.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/types/course/course-on-the-page-response-dto.type.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/courses-list/courses-list.tsx
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
  frontend/src/store/dashboard/actions.ts
  frontend/src/store/dashboard/reducer.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/pagination/pagination-default-value.enum.ts
  shared/src/common/enums/pagination/pagination-validation-message.enum.ts
  shared/src/common/enums/pagination/pagination.ts
  shared/src/validation-schemas/course/course-filtering.validation-schema.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB576: + dashboard pagination fixed
  frontend/src/hooks/use-course-search/use-course-search.hook.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB: * moved perm check to interview component
  frontend/src/components/interview/common/types/other-applications-cell-props.type.ts
  frontend/src/components/interview/common/types/types.ts
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-columns/get-other-applications-columns.helper.ts
  frontend/src/components/interview/components/other-applications-table/other-applications-table.tsx
  frontend/src/components/interview/interview.tsx
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB617: caret placement fixed
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB441: - global styles removed
  frontend/src/components/my-courses/components/students-count-cell/students-count-cell.tsx
  frontend/src/components/my-courses/components/students-count-cell/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB613: + pr fixe
  backend/src/api/billing/billing.api.ts
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/transaction/transaction.ts
  frontend/src/components/billing/common/types/transactions-table-row.type/transactions-table-row.type.ts
  frontend/src/components/billing/components/transactions-table/transactions-table.tsx
  frontend/src/components/billing/helpers/get-transactions-rows/get-transactions-rows.helper.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/transaction/transaction-type.enum.ts
  shared/src/common/enums/transaction/transaction.ts
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB613: + pr fixes
  frontend/package.json
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs

GRHB-587: * fixed alignment
  frontend/src/components/my-courses/components/students-count-cell/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-625: * fix padding
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/components/actions-cell/styles.module.scss
Due: prettier --write, npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

Path conditions:
  prettier --write: any of: *.{ts,tsx,html,json,md}
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:shared:js: any of: shared/**/*.ts
  npm run lint:backend:js: any of: backend/**/*.ts
  npm run lint:backend:tests:js: any of: backend/tests/**/*.ts
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
  npm run lint:mobile:js: any of: mobile/**/*.{ts,tsx}
