Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

GRHB-42: * fixed types bugs
  backend/src/services/user/user.service.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/store/uam/actions.ts
  frontend/src/store/uam/reducer.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-42: * fixed typo
  frontend/src/components/uam/common/enums/user-table-accesson.enum.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/store/uam/actions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB68: + add sign-in
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/auth/user-sign-in.yaml
  backend/src/documentation/schemas/auth/user-sign-in-request-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-42: * resolved typos, api paths prefixes and added enums for Headers in table
  backend/src/api/api.ts
  backend/src/api/users/users.api.ts
  frontend/src/components/uam/helpers/common/enums/enums.ts
  frontend/src/components/uam/helpers/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/helpers/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-41: fixes code style made
  backend/src/api/api.ts
  backend/src/api/groups/groups.api.ts
  backend/src/api/permissions/permissions.api.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/types/groups/groups.ts
  backend/src/common/types/types.ts
  backend/src/services/group/group.service.ts
  readme.md
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-message.enum.ts
  shared/src/common/types/groups/groups-create-request-dto.type.ts
  shared/src/common/types/groups/groups-request-dto.type.ts
  shared/src/common/types/groups/groups.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-47: * fix types and styles
  frontend/package.json
  frontend/src/common/types/icon-name/icon-name.type.ts
  frontend/src/common/types/react/react.ts
  frontend/src/common/types/react/svg-props.type.ts
  frontend/src/common/types/routes/routes.type.ts
  frontend/src/common/types/routes/subroutes.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/icon/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-41: - useless code
  backend/package-lock.json
  backend/package.json
  backend/src/services/permission/permission.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  frontend/package-lock.json
  mobile/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-6: * test with python diagrams
  .github/workflows/generate-app-schema.yml
  docs/app-architecture/app-arch.py
  docs/app-architecture/resources/desktop.png
  docs/app-architecture/resources/postgresql-icon.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: * fix app schema action syntax
  .github/workflows/generate-app-schema.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: + manual workflow dispatch
  .github/workflows/generate-app-schema.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: * trigger action
  docs/app-architecture/app-arch.py
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-39: * fix imports
  frontend/src/services/http/http.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-6: + action dispatch trigger
  .github/workflows/generate-app-schema.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: * action trigger
  .github/workflows/generate-app-schema.yml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-6: + pip cache file
  .github/workflows/generate-app-schema.yml
  docs/app-architecture/requirements.txt
Due: npm run lint:editorconfig && npm run lint:fs

* application architecture schema
  docs/app-architecture/app-arch.png
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * divide into components, * fix variables
  frontend/package.json
  frontend/src/common/types/navigation-menu/routes.type.ts
  frontend/src/common/types/navigation-menu/subroutes.type.ts
  frontend/src/common/types/react-router/path-match.type.ts
  frontend/src/common/types/react-router/react-router.type.ts
  frontend/src/common/types/routes/routes.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/icon-name.type.ts
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/authorized-menu/navigation-menu/navigation-menu-item/navigation-menu-item.tsx
  frontend/src/components/common/authorized-menu/navigation-menu/navigation-menu-item/styles.module.scss
  frontend/src/components/common/authorized-menu/navigation-menu/navigation-menu.tsx
  frontend/src/components/common/authorized-menu/navigation-menu/styles.module.scss
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-6: * app schema readme and proper img for main readme
  docs/app-architecture/readme.md
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * fix naming, route enums, req logic
  backend/src/api/api.ts
  backend/src/api/user/user.api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/enums/validation/validation-message.enum.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/user/user.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-delete-request-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-delete.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-6: * cleanup files
  docs/app-architecture/app-arch.py
  docs/assets/imgs/aws-ec-2.svg
  docs/assets/imgs/aws-load-balancer.svg
  docs/assets/imgs/aws-route-53.svg
  docs/assets/imgs/cloud-watch.svg
  docs/assets/imgs/laptop.svg
  docs/assets/imgs/mobile-phone.svg
  docs/assets/imgs/postgresql-icon.svg
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-77: * merge, fix conflicts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/enums/api/users-api-path.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js

GRHB-47: * use type instead of interface, remove unnecessary types
  frontend/src/components/common/authorized-menu/navigation-menu/navigation-menu-item/navigation-menu-item.tsx
  frontend/src/components/common/authorized-menu/navigation-menu/navigation-menu.tsx
  frontend/src/components/common/icon/icon.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: + add route to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/users/user-delete.yaml
  backend/src/documentation/schemas/users/user-delete-request-dto.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-64: * fix popup reopening on avatar click
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: * moved common folder out of helpers folder
  frontend/src/components/uam/common/constants/constants.ts
  frontend/src/components/uam/common/constants/time-constants.ts
  frontend/src/components/uam/common/enums/enums.ts
  frontend/src/components/uam/common/enums/user-table-accessor.enum.ts
  frontend/src/components/uam/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/components/uam/helpers/get-time-difference-with-current-date-helper/get-time-difference-with-current-date.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-59: + move specific type for notification into same folder
  mobile/src/common/enums/notification/notification-title.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/common/types/types.ts
  mobile/src/services/notification/common/types/show-notification-params/notification-service.type.ts
  mobile/src/services/notification/common/types/types.ts
  mobile/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-59: - resolve conflict
  mobile/src/common/enums/enums.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-42 * removed redndant logic
  frontend/src/components/uam/common/constants/constants.ts
  frontend/src/components/uam/common/constants/time-constants.ts
  frontend/src/components/uam/helpers/get-time-difference-with-current-date-helper/get-time-difference-with-current-date.helper.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-39: * Add swagger endpoint, fix comments
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/exceptions/exception-message.enum.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/auth/current-user.yaml
  backend/src/documentation/schemas/auth/current-user-response-dto.yaml
  backend/src/services/auth/auth.service.ts
  backend/src/services/token/token.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js, npm run lint:frontend:js

GRHB-59: * edit types for notification service
  mobile/src/common/types/notification/notification.ts
  mobile/src/common/types/types.ts
  mobile/src/services/notification/common/types/show-notification-params/show-notification-params.type.ts
  mobile/src/services/notification/common/types/types.ts
  mobile/src/services/notification/notification.service.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-47: * fix file directories
  frontend/src/common/types/navigation-menu/navigation-menu-item.type.ts
  frontend/src/common/types/navigation-menu/navigation-menu.ts
  frontend/src/common/types/navigation-menu/subnavigation-menu-item.type.ts
  frontend/src/common/types/react-router/path-match.type.ts
  frontend/src/common/types/react-router/react-router.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/common/authorized-menu/authorized-menu.tsx
  frontend/src/components/common/authorized-menu/components/components.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/components/components.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/components/navigation-menu-item/navigation-menu-item.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/components/navigation-menu-item/styles.module.scss
  frontend/src/components/common/authorized-menu/components/navigation-menu/navigation-menu.tsx
  frontend/src/components/common/authorized-menu/components/navigation-menu/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-64: * logic fixes
  frontend/src/components/common/header/header.tsx
  frontend/src/hooks/use-handle-click-outside/use-handle-click-outside.hook.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-42: - redudant functionality
  frontend/src/components/uam/common/enums/user-table-header.enum.ts
  frontend/src/components/uam/helpers/get-columns-helper/get-columns.helper.ts
  frontend/src/components/uam/helpers/get-rows-helper/get-rows.helper.ts
  frontend/src/components/uam/helpers/get-time-difference-with-current-date-helper/get-time-difference-with-current-date.helper.ts
  frontend/src/components/uam/helpers/helpers.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

GRHB-77: * fix imports, delete user functions
  backend/src/api/users/users.api.ts
  backend/src/common/enums/validation/validation-message.enum.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

development: * validation-message
  backend/src/common/enums/enums.ts
  backend/src/common/enums/exceptions/exception-message.enum.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/common/enums/validation/validation.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB67: + 400 status to sign-up
  backend/src/documentation/endpoints/auth/user-sign-up.yaml
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-39: * Fix conflicts
  backend/src/common/enums/exceptions/exception-message.enum.ts
  backend/src/services/auth/auth.service.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-33: + add more conditional styles
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
Due: npm run lint:editorconfig && npm run lint:fs
