Repository BinaryStudioAcademy/bsa-2022-guruhub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'shared/**/*.ts': npm run lint:shared:js
'backend/**/*.ts': npm run lint:backend:js
'frontend/**/*.scss': npm run lint:frontend:css
'frontend/**/*.{ts,tsx}': npm run lint:frontend:js

implement sign up in backend
  backend/package-lock.json
  backend/package.json
  backend/src/api/auth/auth.api.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/user.constants.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/helpers/crypt/crypt.ts
  backend/src/helpers/crypt/encrypt/encrypt.helper.ts
  backend/src/helpers/crypt/generate-salt/generate-salt.helper.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/http/get-error-status-code/get-error-status-code.helper.ts
  backend/src/helpers/http/http.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/common/enums/exceptions/exceptions.ts
  shared/src/common/enums/http/http-code.enum.ts
  shared/src/exceptions/exceptions.ts
  shared/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-38: + jwt helper
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/helpers/token/create-token/create-token.ts
  backend/src/helpers/token/token.ts
  backend/src/helpers/token/verify-token/verify-token.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-11: + table-component-styles
  frontend/src/assets/css/styles.scss
  frontend/src/components/react-table/common/class-names.ts
  frontend/src/components/react-table/styles/styles.scss
  frontend/src/components/react-table/table.tsx
  frontend/src/hooks/use-table/use-table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-22: * rename folder to ui, collect all colors at one enum
  mobile/src/common/enums/ui/app-colors.enum.ts
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-38: + frontend storage service
  backend/src/helpers/helpers.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/http/http-options.type.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js

GRHB-22: * rename enums file, delete all useless files
  mobile/src/common/enums/colors/background-color.enum.ts
  mobile/src/common/enums/colors/brand-color.enum.ts
  mobile/src/common/enums/colors/colors.ts
  mobile/src/common/enums/colors/hover-color.enum.ts
  mobile/src/common/enums/colors/support-color.enum.ts
  mobile/src/common/enums/colors/text-color.enum.ts
  mobile/src/common/enums/ui/app-color.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-22: * change import path
  mobile/src/common/enums/ui/ui.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-22: * rename file
  mobile/src/common/enums/ui/app-colors.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

Update mobile/src/common/enums/ui/app-color.enum.ts
  mobile/src/common/enums/ui/app-color.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-49: * fix codeowners file
  .github/CODEOWNERS
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-37: + implemented backend sign-in
  backend/package-lock.json
  backend/package.json
  backend/src/api/auth/auth.api.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/user/user.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-desc.enum.ts
  shared/src/common/enums/exceptions/exceptions.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-password-hash-dto.type.ts
  shared/src/common/types/user/user-sign-in-request-dto.type.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/common/types/user/user.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
  shared/src/validation-schemas/user/user.ts
  shared/src/validation-schemas/validation-schemas.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

+ permission model and db table name permissions
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/models/models.ts
  backend/src/data/models/permission/permission.model.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

+ permissions migration
  backend/src/data/migrations/20220806165640_add_permissions_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

+ script commands to run and make seed, + permissions-seed.ts to create required data
  backend/knexfile.ts
  backend/package.json
  backend/src/data/migrations/seeds/permissions-seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

* permissions seed file name to follow snakecase rule
  backend/src/data/migrations/seeds/permissions_seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-18: * Move seeding directly in migration
  backend/knexfile.ts
  backend/src/data/migrations/20220806100305_add_vendors_table.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/vendor/vendor.repository.ts
  backend/src/data/seed-data/vendors-seed.ts
  backend/src/data/seeds/fill-db.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB: - sign key existence checker
  mobile/android/app/build.gradle
Due: npm run lint:editorconfig && npm run lint:fs

GRHB: * package.json android script
  mobile/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: * table component and component styles improved
  frontend/package.json
  frontend/src/assets/css/styles.scss
  frontend/src/common/types/react-table/react-table-props.ts
  frontend/src/common/types/react-table/table-units/react-table-column.ts
  frontend/src/common/types/react-table/table-units/react-table-row.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/table/common/react-table-render-entities-names.ts
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/table/table/constants.scss
  frontend/src/components/common/table/table/styles.module.scss
  frontend/src/components/react-table/common/class-names.ts
  frontend/src/components/react-table/table.tsx
  frontend/src/hooks/use-table/use-table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-11: * table component removed from app component
  frontend/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:js

feat: add bootSplashScreen
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/guruhub/MainActivity.java
  mobile/android/app/src/main/res/drawable/rn_edit_text_material.xml
  mobile/android/app/src/main/res/mipmap-hdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-mdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/android/build.gradle
  mobile/ios/guruhub/BootSplash.storyboard
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/Contents.json
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo.png
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@2x.png
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@3x.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-36: fix requested changes, change validation schema
  backend/package.json
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/exceptions/exception-message/exception-message.enum.ts
  backend/src/common/enums/exceptions/exceptions.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.ts
  backend/src/helpers/crypt/crypt.ts
  backend/src/helpers/crypt/encrypt/encrypt.helper.ts
  backend/src/helpers/crypt/generate-salt/generate-salt.helper.ts
  backend/src/helpers/helpers.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/email/email.constant.ts
  shared/src/common/constants/password/password.constant.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/exceptions.ts
  shared/src/exceptions/exceptions.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-44: * update backend/src/data/migrations/seeds/permissions_seed.ts
  backend/src/data/migrations/seeds/permissions_seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-36: reinstall dependencies, remove email regex pattern
  backend/package-lock.json
  backend/package.json
  backend/src/data/repositories/user/user.repository.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/email/email.constant.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-37: * made required adjustments for backend sign-in
  backend/package.json
  backend/src/api/auth/auth.api.ts
  backend/src/common/enums/validation/validation-message.enum.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/exceptions/BadCredentials/bad-credentials.exception.ts
  backend/src/exceptions/exceptions.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/exceptions/custom-exception-desc.enum.ts
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exceptions.ts
  shared/src/common/enums/user/user-sign-in-validation-rules.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/user/user-password-hash-dto.type.ts
  shared/src/common/types/user/user-sign-in-request-dto.type.ts
  shared/src/common/types/user/user-sign-in-response-dto.type.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-11: * table component dependencies and variables
  frontend/package-lock.json
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/table/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css

GRHB-37: * fixed folder name error
  backend/src/exceptions/bad-credentials/bad-credentials.exception.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-37: * another fix about folder name error
  backend/src/exceptions/exceptions.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-25: * deleted returned type from app component
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: * file placement, import order and packages versions fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/table/table.tsx
  frontend/src/components/common/table/table/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:frontend:css, npm run lint:frontend:js

GRHB-36: fix dependency version
  backend/package-lock.json
  backend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-11: * types package moved to devDependencies
  frontend/package-lock.json
  frontend/package.json
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-18: * Remove extra tasks
  backend/src/data/migrations/20220806100305_add_vendors_table.ts
  backend/src/data/models/models.ts
  backend/src/data/models/vendor/vendor.model.ts
  backend/src/data/seed-data/vendors-seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

created model for course category, added file with seed data and migration for creating course category table with data
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/migrations/20220806200300_add_course_categories.ts
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/models.ts
  backend/src/data/seed-data/course-categories-seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-18: * Change table.text to table.string
  backend/src/data/migrations/20220806100305_add_vendors_table.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-25: * fix bugs, refactor anonymous func into app.js
  mobile/android/app/src/main/java/com/guruhub/MainActivity.java
  mobile/android/app/src/main/res/values/styles.xml
  mobile/package.json
  mobile/src/components/app/app.tsx
Due: npm run lint:editorconfig && npm run lint:fs

GRHB-37: * another improvements according to requirements
  backend/package-lock.json
  backend/package.json
  backend/src/services/encrypt/encrypt.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/types/user/user-password-hash-dto.type.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js

GRHB-16: - seed data file + seed data into migration
  backend/src/data/migrations/20220806200300_add_course_categories.ts
  backend/src/data/seed-data/course-categories-seed.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-44: * update migration for permissions and remove unneccesary addings
  backend/knexfile.ts
  backend/package.json
  backend/src/data/migrations/20220806165640_add_permissions_table.ts
  backend/src/data/migrations/seeds/permissions_seed.ts
  backend/src/data/models/models.ts
  backend/src/data/models/permission/permission.model.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:backend:js

GRHB-36: + add full_name property to user table, validate on sign-up
  backend/src/data/migrations/20220716081411_add_users_table.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/auth/components/sign-up-form/common.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/full-name/full-name.ts
  shared/src/common/types/user/user-sign-up-request-dto.type.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:js
